@(dataForm: play.data.Form[models.DCRLineItem],doctorList: List[models.doctor.Doctor])

@import play.i18n._
@import helper.twitterBootstrap._
@import helper._
@main("DailyCallReport"){
@*	<script>
	function addNewRow() {
	    var parentDiv = document.getElementById('daily_doc_report');

	    var rDiv = document.createElement('div');

	    parentDiv.appendChild(rDiv);
	    rDiv.innerHTML ="abc";

	}
	</script>
*@

@helper.form(action=routes.MRController.visitDoctorProccess(),'_method->"post") {
	        
			<table>
			<thead>
			  <th>Select Doctor</th>
			  <th>From Time</th>
			  <th>To Time</th>
			  <th>POB</th>
			  <th>Remarks</th>
			</thead>
			<tbody>
			  <tr>
			  <td><select id="doctor" >
	        @for(doctors<-doctorList){
	          <option value="@doctors.appUser.name">@doctors.appUser.name</option>
	          }
	        </select>
	        </td>
	        <td><input type="time" id="fromTime" name="fromTime" placeholder="fromTime" /></td>
			<td><input type="time" id="toTime" name="toTime" placeholder="toTime" /></td>
			<td><input type="text" id="pob" name="pob" placeholder="pob" /></td>
			<td><input type="text" id="remarks" name="remarks" placeholder="Remarks" />			</td>
			 </tr>
			</tbody>
			</table>  
			<input type="submit" value="Add Doctor" />
			}      


	
	
}