@(doctorList: List[Doctor],productList: List[Product])

@import play.i18n._
@import helper.twitterBootstrap._
@import helper._
@main("dcrForm"){

<form action="@routes.MRController.processDCRForm()" method="post">	
<div style="height: 100%;width: 100%;position: relative;">
 <div style="width: 20%;top :10%;position: relative;">
	<div class="datepicker input-append date" id="dp3"  data-date="12-02-2012" data-date-format="dd-mm-yyyy" >
	  <input id="date" name="date" class="span2" size="16" type="text" value="12-02-2012">
	  <span class="add-on"><i class="icon-th"></i></span>
	</div>	  
	</div>
 <div id="dcrform" style="width: 80%;left: 20%; position: relative; display:none;">
	<table>
	<div id="insert-dcr-line-item">
		
	</div>	
	</table>	
   <input type="submit" value="Submit DCR" />
 </div>	
 </div>
</form>

	     <div  id="doctable" style="width: 20%; left:20%;position: relative">
			<table class="table table-condensed">
			<thead>
			  <th></th>
			  <th>Select Doctor</th>
			</thead>
			<tbody>
		        @for(doctor <- doctorList){
		        	<tr>
		        	<td><input name="doctorselect" id="@doctor.id" type="checkbox" value="@doctor.appUser.name"/></td>
		        	<td>@doctor.appUser.name</td>
		        	</tr>
		        }
			</tbody>
			</table>
			
			<a class="btn btn-xs btn-primary" onclick="populateDCRLineItems()">Proceed</a>
		
		</div>
		<div id="productlist" style="width: 20%; left:40%;position: relative; display: none;">
		<select class="product" multiple="multiple">
		@for(product <- productList){
		       <option value="@product.id">@product.medicineName</option> 	
		        }
		</select>
		</div>
		


<script>
	function populateDCRLineItems() {

		$("#doctable").hide(500);

		$("input:checkbox[name=doctorselect]:checked")
				.each(
						function() {
							var docId = $(this).attr("id");
							var docName = $(this).val();
							var inputdoc = '<tr><td><input name="doctorId" value="'+docId+'" type="hidden"/></td><td><input name="doctorId" value="'+docName+'" type="text" disabled/></td><td>'+ docName + '</td></tr>';
							$("#insert-dcr-line-item").append(inputdoc);
						});

		$("#dcrform").show(500);
		$("#productlist").show(500);

	}
</script>




}