@(dcrList:List[models.mr.DailyCallReport],headQuarterMap:Map[models.State,List[models.mr.HeadQuarter]])
@import play.i18n._
@import helper.twitterBootstrap._
@import helper._


@main("DCR"){
	<script>
	$(document).on('keydown',function(e)
			{ 
			        e.preventDefault();
			});
	</script>
	<script type="text/javascript">
				$(document).ready(function() {
				 $('#forDate').bind('copy paste cut',function(e) { 
 					e.preventDefault(); //disable cut,copy,paste
 				});
				});
	</script>
	
	<form id="dcrliform" action="@routes.MRController.processNewDCR()" method="post">
			<div class="datepicker-past input-append date" id="dp3"  data-date="today" data-date-format="dd-mm-yyyy" >
		     <input id="forDate" name="forDate" class="span2" size="16" type="text" >
		     <span class="add-on"><i class="icon-th"></i></span>
	   	    </div>
	   	    
		   	    <select id="headQuarter" data-placeholder="Select Head Quarter" class="chzn" name="headQuarter" style="width:200px;" >
				   <option></option>
					@for((state,quarterlist)<-headQuarterMap){
						<optgroup label="@state">
						@for(quarter <- quarterlist){
							<option value='@quarter.id'>@quarter.name</option>
						}
						</optgroup>
					}
			        
		       </select>
		       
	       
		<input type="submit" class="btn btn-primary" value="Create DCR" />
	</form>
	
	<table class="table table-bordered table-condensed col-md-3">
	<thead>
	<th>Date</th>
	<th>Approver</th>
	<th>SubmitDate</th>
	<th>Action</th>
	</thead>
	<tbody>
	@for(dcr<-dcrList){
	<tr>
		<td>
		@dcr.forDate.format("dd-MMM-yyyy")
		</td>
		
		<td>
		<a class="btn btn-primary btn-xs" href="@routes.MRController.addDCRLineItem(dcr.id)">Add Line Item</a>
		</td>
   </tr>
	}
	</tbody>
	</table
	
	
}
