@(doctorList:List[models.doctor.Doctor])
@main("doctor list"){
	
	<form name="searchform" action="@routes.MRController.search()" method="GET">	
	<input type="text" name="searchStr">
	
	<input type="submit" value="Search Doctor">
	</form>
	
	<table>
	<thead>
	<th>Doctor Name</th>
	</thead>
	<tbody>
	
	@for(doctor <-doctorList){
		<tr>
		<td>@doctor.appUser.name</td>
		<td><a class="btn btn-primary btn-xs" href="/mr/add-doctor/@doctor.id">Add</a></td>
		</tr>
		<tr></tr>
	}
	</tbody>
	</table>
	
}
