@(dcrLineItemList: List[models.mr.DCRLineItem])

@import play.i18n._
@import helper.twitterBootstrap._
@import helper._


<table class="table table-bordered table-condensed">
	<thead>
	<tr>
	   <th>Doctors</th>
	   <th>Samples (Qty)</th>
	   <th>Promotions</th>
	   <th>InTime</th>
	   <th>OutTime</th>
	   <th>POB</th>
	   <th>Remarks</th>
	   <th>Actions</th>
	</tr>   
	</thead>
	<tbody>
	
	@for(dcrLineItem <- dcrLineItemList){
	<tr>
		<td>@dcrLineItem.doctor.appUser.name</td>
		<td>
			@for(sample <- dcrLineItem.sampleList){
				@if(sample != null){
				@sample.product.medicineName (@sample.quantity)
				<br>
				}
			}
	   	</td>
	   	<td valign="top">
			<div id="samplesdiv">
			      <table> 	
				  	@for(promotedProduct <- dcrLineItem.promotionList){
				  		@if(promotedProduct != null){
					  <tr>
						 <td>@promotedProduct.medicineName</td>
					  </tr>
					  }
					 }
			      </table>
			</div>   
	   	</td>
	   	
	   	
	   	<td>@dcrLineItem.inTime.format("kk:mm")</td>
	   	
	   	<td>@dcrLineItem.outTime.format("kk:mm")</td>
	   	
	   	
	   	@if(dcrLineItem.pob==0){
	   		<td>&nbsp;</td>
	   	}else{
	   	<td>@dcrLineItem.pob</td>
	   	}
	   	
		<td>@dcrLineItem.remarks</td>
		<td><a class="btn btn-danger btn-md" onclick="removeLineItem('@dcrLineItem.id');">Remove</a></td>
     </tr>
     }
   </tbody>
  </table>
  