@(dataForm: play.data.Form[MedicalRepresentative])
@import helper._
@import helper.twitterBootstrap._
@main("MedicalRepresentative form") {

@helper.form(action=routes.Application.medicalRepresentativeProccess()) {
	
	@helper.inputText(dataForm("name"),'_label->"Name")
	@helper.inputText(dataForm("designation"),'_label->"designation")
	@helper.inputText(dataForm("username"),'_label->"User Name")
	@helper.inputText(dataForm("email"),'_label->"Email")
	@helper.inputPassword(dataForm("password"),'_label->"PassWord")
	@helper.select(dataForm("role"),options=helper.options(Role.options),'class -> "inputs chzn",'_label->"Role")
	Male<input type="radio" name="gender" value="false">
	Female<input type="radio" name="gender" value="false">
	@helper.inputText(dataForm("age"),'_label->"Age")
	@helper.inputText(dataForm("companyName"),'_label->"Company Name")
	@helper.inputText(dataForm("regionAlloted"),'_label->"Region")
	@helper.inputText(dataForm("typesOfMedecine"),'_label->"Types Of Medicine")
	@helper.inputText(dataForm("noOfDoctorsVisit"),'_label->"No Of Doctors Visit")
	
	<input type="submit" value="Add saleRep">
	
	
	}
	}