@(mrList:List[models.mr.MedicalRepresentative])

@main("doctor list"){
	
	<table class="table table-bordered table-condensed col-md-2">
	<thead>
	<th>MR name</th>
	<th>Company Name</th>
	<th>UserName</th>
	<th>Email</th>
	<th>Region Alotted</th>
	<th>Employment Status</th>
	<th>Delete MR</th>
	<th>Edit MR</th>
	
	</thead>
	<tbody>
	
	@for(mr <-mrList){
		<tr>
		<td>@mr.appUser.name</td>
		<td>@mr.companyName</td>
		<td>@mr.appUser.username</td>
		<td>@mr.appUser.email</td>
		<td>@mr.regionAlloted</td>
		<td>@mr.status</td>
		<td>
		<a class="btn btn-primary btn-xs" href="@routes.MRController.removeMR(mr.id)">Delete MR</a>
		</td>
		<td>
		<a class="btn btn-primary btn-xs" href="@routes.MRController.editMR(mr.id)">Edit MR</a>
		</td>
				
		</tr>
		
	}
	
	</tbody>
	</table>
	
}

