@(feedbacks: List[models.Feedback])


@main("Feedbacks") {


@for((feedback,index)<- feedbacks.zipWithIndex){
<div class="row" style="padding-left:20px;">

<div class="row">
	<div class="col-md-5">
		<h4><b>@if(feedback.appUser != null){@feedback.appUser.name}else{@feedback.name}</b></h4>
		@if(feedback.appUser != null){@feedback.appUser.role.capitalize()}else{@feedback.role.capitalize()}<br>
		@if(feedback.appUser != null){@feedback.appUser.email}else{@feedback.email}<br>
		@if(feedback.appUser != null){AppUser (id = @feedback.appUser.id)}else{(Public User)}<br>
		@if(feedback.ipAddress != null){@feedback.ipAddress}
	</div>
	
	<div class="col-md-5">
		@feedback.date.format("dd-MMM-yyyy hh:mm")<br>
		<button onclick="showModal(@feedback.id);" class="btn btn-danger btn-sm">Delete</a>
	</div>
</div>

<div class="row" style="padding-left:20px;">
<i>@feedback.remarks</i>
</div>

</div>
<hr>
}

<script>
var Id;
function showModal(feedbackId){

		id=feedbackId;
		$('#del-feedback').modal('show');
		}
		function delFeedBack(){
		window.location.href='/secure-admin/delete-feedback/'+id;
		}
</script>

<div class="modal fade" id="del-feedback" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
     <div class="modal-header alert-info">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title"></h4>
      </div>
      	<div class="modal-body" id="modal-content">
      	Do you want to continue to delete?
      	</div>
     	<div class="modal-footer">
     	<button onclick="delFeedBack();" class="btn btn-danger btn-xs" data-dismiss="modal">Delete</a>
       </div>
    </div>
  </div>
</div>


}
