@* addProductToInventory Template File *@
@(inventoryForm:play.data.Form[models.Inventory], batchForm:play.data.Form[models.Batch])

@main("User Form"){
	
	<br>
	<div class="container">
	
	@helper.form(action=routes.PharmacistController.addToInventory(),'method -> "post") {	
	
	@helper.inputText(batchForm("batchNo"),'class -> "inputs",'_label->"Batch No.")
	
	@helper.inputText(batchForm("mrp"),'class -> "inputs",'_label->"MRP")
	
	@helper.inputDate(batchForm("expiryDate"),'class -> "inputs",'_label->"Expiry Date")
	
	@helper.inputText(batchForm("quantity"),'class -> "inputs",'_label->"Quantity")
	
	@helper.inputText(batchForm("tax"),'class -> "inputs",'_label->"Tax(if any)")
	
	@helper.inputText(batchForm("discount"),'class -> "inputs",'_label->"Discount(if any)")
	
	
	@helper.inputText(inventoryForm("shelfNo"),'class -> "inputs",'_label->"Shelf No")
	
	@helper.inputText(inventoryForm("productQuantity"),'class -> "inputs",'_label->"Quantity of Product")
	
	@helper.inputText(inventoryForm("remarks"),'class -> "inputs",'_label->"Remarks")
	
	<br>
	<input type="submit" class="submit" value="Save">
	
	}
	

	
	}