@(dataform:play.data.Form[beans.AddProductToInventoryBean],productId:Long,pharmacyId: Long)
@main("User Form"){
	
	<br>
	<div class="container">
	
	@helper.form(action=routes.PharmacistController.addProductToInventory(productId,pharmacyId),'method -> "post") {	
	
	@helper.inputText(dataform("batchNo"),'class -> "inputs",'_label->"Batch No.")
	
	@helper.inputText(dataform("mrp"),'class -> "inputs",'_label->"MRP")
	
	@helper.inputDate(dataform("expiryDate"),'class -> "inputs",'_label->"Expiry Date")
	
	@helper.inputText(dataform("quantity"),'class -> "inputs",'_label->"Quantity")
	
	@helper.inputText(dataform("tax"),'class -> "inputs",'_label->"Tax(if any)")
	
	@helper.inputText(dataform("discount"),'class -> "inputs",'_label->"Discount(if any)")
	
	
	@helper.inputText(dataform("shelfNo"),'class -> "inputs",'_label->"Shelf No")
	
	@helper.inputText(dataform("remarks"),'class -> "inputs",'_label->"Remarks")
	
	<br>
	<input type="submit" class="submit" value="Save">
	
	}
	

	
	}