@* createProduct Template File *@
@(dataForm:play.data.Form[models.pharmacist.PharmacyProduct])

@import play.i18n._

@main("Add Pharmacy Product Form"){
	
	<br>
	<div class="container">
@helper.form(action=routes.PharmacistController.addPharmacyProductProcess(),'method -> "post") {



			
			@helper.inputText(dataForm("medicineName"),'class -> "inputs",'_label->"Medicine Name")
			
			
			@helper.inputText(dataForm("brandName"),'class -> "inputs",'_label->"Brand Name")
			
			@helper.inputText(dataForm("salt"),'class -> "inputs",'_label->"Salt")
			
			@helper.inputText(dataForm("strength"),'class -> "inputs",'_label->"Strength")
						
			@helper.inputText(dataForm("typeOfMedicine"),'class -> "inputs",'_label->"Type of Medicine")
			

			@helper.inputText(dataForm("description"),'class -> "inputs",'_label->"Description")
			
			@helper.inputText(dataForm("unitsPerPack"),'class -> "inputs",'_label->"Units per pack")
			
			@helper.inputText(dataForm("fullName"),'class -> "inputs",'_label->"Full Name")
			
			<br>
			<input type="hidden" name="productId" value='@dataForm("id").value' >
			<input type="submit" class="submit" value="Add Product">
			
				
			}
			
			

	
	</div>
	
	}
	