@*
@(products: List[models.Product])
@main("User Form"){
<tr>
 				
 				
    <label>
        Products<br />
        <input id="txt_RequestId" type="text" />
    </label>
    
    <td>	 
    <label>
        Batch No.(Expiry date)<br />
        <input id="txt_RequestId" type="text" />
    </label>
    </td>
    			
     <td> 
    <label>
        Remaining Quantity<br />
        <input id="txt_RequestId" type="text" />
    </label>
     </td>
     
     <td>
     <label>
        MRP<br />
        <input id="txt_RequestId" type="text" />
    </label>
    </td>
    
    <td>
    <label>
        Order Quantity<br />
        <input id="txt_RequestId" type="text" />
    </label>
    </td>
    </tr>
    			 
    			 

    }
    
*@    