@(pharmacy: models.pharmacist.Pharmacy)


@main(pharmacy.name) {

/*Script for loading google map*/
<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script>

function loadgooglemap(latt, lngt) {
	var map_canvas = document.getElementById('map_canvas');
	var map_options = {
		center : new google.maps.LatLng(latt, lngt),
		zoom : 17,
		mapTypeId : google.maps.MapTypeId.ROADMAP
	};
	var map = new google.maps.Map(map_canvas, map_options);

	var marker = new google.maps.Marker({
		position : new google.maps.LatLng(latt, lngt),
		map : map
	});
	google.maps.event.addDomListener(window, 'load', initialize);
}

function initialize() {
	var map_canvas = document.getElementById('map_canvas');
	var map_options = {
		center : new google.maps.LatLng(17.445735,78.349828),
		zoom : 18,
		mapTypeId : google.maps.MapTypeId.ROADMAP
	};
	var map = new google.maps.Map(map_canvas, map_options);

	var marker = new google.maps.Marker({
		position : new google.maps.LatLng(17.445735,78.349828),
		map : map
	});
}

google.maps.event.addDomListener(window, 'load', initialize); 

</script>
/*End of Script for loading google map*/

<style>
.container{
	padding-left: 30px;
	padding-right: 30px;
	width:1032px;
}
.chosen-container .chosen-container-single{
width:250px;
.alert-success{
background-image: linear-gradient(to bottom,#dff0d8 0,#c8e5bc 100%);
background-repeat: repeat-x;
border-color: #b2dba1;
color:black;
}

}
</style>
	<script>

$('[data-toggle="popover"]').popover();

$('body').on('click', function (e) {
    $('[data-toggle="popover"]').each(function () {
        if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
            $(this).popover('hide');
        }
    });
});
    

function submitimagesform(){

$("[data-toggle=popover]").popover('hide');

$('#spinner').addClass("fa-spin");

}

function submitbasicform(id){
	$("[data-toggle=popover]").popover('hide');
	$('#'+id).addClass("fa-spin");
}
</script>	
	
@if(pharmacy.backgroundImage != null){
	<div style="background-image:url('/pharmacy/get-image/@pharmacy.id/0');background-size:940px 400px; background-repeat:no-repeat; height:400px;"></div>
}else{
	<div style="background-image:url('/assets/images/pharmacy-default-bg-image.jpg');background-size:940px 400px; background-repeat:no-repeat; height:400px;"></div>
}

<span data-toggle="popover" data-placement="left" title="Change Background Image" data-html="true" data-content="<form action=&quot;/pharmacy/upload-pharmacy-images&quot; enctype=&quot;multipart/form-data&quot; method=&quot;POST&quot;><input type=&quot;file&quot; name=&quot;backgroundImage&quot;> <input type=&quot;hidden&quot; name=&quot;pharmacyId&quot; value=&quot;@pharmacy.id&quot;> <br><input class=&quot;pull-right btn btn-xs btn-primary&quot; type=&quot;submit&quot; onclick=&quot;submitimagesform();&quot; value=&quot;save&quot;></form>" style="cursor:pointer; position:relative; top:-400px;left:910px; font-size:25px">
<i style="text-shadow:1px 1px 20px #292929, 3px 3px 20px white;" id="spinner" class="fa fa-cog"></i>
</span>
</div>
<div class="row" style="margin-top:-235px">
<div class="col-md-1"></div>
<div class="col-md-10" >
<span data-toggle="modal" data-target="#myModal" style="cursor:pointer; position:relative; top:30px;left:810px; font-size:25px;">
  	<i style="text-shadow:1px 1px 20px #292929, 3px 3px 20px white;" id="spinner2" class="fa fa-cog"></i>
  	
  	
	</span>
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="padding-left:100px">
    <div class="modal-content" style="width:400px">
      <div class="modal-header" style="color: #ffffff;background-color: #008cba;border-color: #008cba;">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button></form></form>
        <h4 class="modal-title" id="myModalLabel">Profile Images</h4>
      </div>
      <div class="modal-body well">
      <table class="table table-striped">
      @for(profileImages <- pharmacy.profileImageList){
      <tr>
      <td style="width:200px"> <img src="/pharmacy/get-image/@pharmacy.id/@profileImages.id" width="150" height="75" /> </td>
      <td> <button class="btn btn-danger btn-xs"><a href="/pharmacy/remove-image/@pharmacy.id/@profileImages.id" style="color:white">Delete</a></button> </td>
      </tr>
      }
     </table>
      @helper.form(action = routes.PharmacistController.uploadPharmacyImageProcess(), 'enctype -> "multipart/form-data",'method -> "post") {
      	<div class="form-group">
    	<label for="exampleInputFile" class="badge"><b>Add Image</b></label>
    	<input type="file" name="profileImage" />
    	<input class="pull-right btn btn-primary btn-xs" type="submit" name="submit" value="Save Image" />
  		</div> 
      }
      
      </div>
    </div>
  </div>
</div>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  
  
  
  @if(pharmacy.profileImageList.size()>0){
  <ol class="carousel-indicators">
  @for((profileImages,index) <- pharmacy.profileImageList.zipWithIndex){
    <li data-target="#carousel-example-generic" data-slide-to="0" class="@if(index == 0){active}"></li>
    }
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
  @for((profileImages,index) <- pharmacy.profileImageList.zipWithIndex){
    <div class="item @if(index == 0){active}">
      <img src="/pharmacy/get-image/@pharmacy.id/@profileImages.id" alt="pharmacy1" style="height:300px; width:800px;"/>
    </div>
    }
  </div>
  }else{
  
   <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
   </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="active">
      <img src="/assets/images/pharmacy-default-profile-image.jpg" alt="Pharmacy Pic" style="height:300px; width:800px;"/>
    </div>
  </div>
  
  }
  
  
  

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev" style="width:0px">
    <span class="glyphicon glyphicon-chevron-left" style="margin-left:-40px;color:#006687"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next" style="width:0px">
    <span class="glyphicon glyphicon-chevron-right" style="left:20px;color:#006687"></span>
  </a>
</div>
</div>
<div class="col-md-1"></div>
</div>
<br>
<h1 style="text-align:center;font-weight:bold;color:#006687">
@pharmacy.name
<span 

data-toggle="popover" title="Edit Pharmacy Name" data-html="true" data-content="
<form style=&quot;color:#000000; font-weight:bold;&quot; action=&quot;@routes.PharmacistController.pharmacyBasicUpdate()&quot; method=&quot;POST&quot;>
<input type=&quot;text&quot; name=&quot;name&quot; value=&quot;@pharmacy.name&quot;>
<input type=&quot;hidden&quot; name=&quot;pharmacyId&quot; value=&quot;@pharmacy.id&quot;>
<br>
<input class=&quot;pull-right btn btn-xs btn-primary&quot; type=&quot;submit&quot; onclick=&quot;submitbasicform('spinner-name');&quot; value=&quot;save&quot;>
</form>"

style="color:#006687; font-size:20px; position:relative; top:-20px; cursor:pointer;"><i id="spinner-name" class="fa fa-cog"></i></span>
   
</h1>
<br>
<div class="alert alert-success">
<span data-toggle="popover" title="Brief Description" data-placement="left" data-html="true" data-content="
<form action=&quot;@routes.PharmacistController.pharmacyBasicUpdate()&quot;method=&quot;POST&quot;>
<textarea name=&quot;description&quot; rows=&quot;12&quot; style=&quot;color:#292929; font-weight:bold;&quot; >@pharmacy.description</textarea>
<input type=&quot;hidden&quot; name=&quot;pharmacyId&quot; value=&quot;@pharmacy.id&quot;>
<br><input class=&quot;pull-right btn btn-xs btn-primary&quot; type=&quot;submit&quot; onclick=&quot;submitbasicform('spinner-description');&quot; value=&quot;save&quot;></form> " style="cursor:pointer; position:relative; font-size:15px; top:-13px; left:935px;"><i id="spinner-description" class="fa fa-cog"></i></span>
<p style="font-size:1.5em; align:justify; margin-top:-20px;">
	@pharmacy.description	 
</p>
</div>
<div class="row">
<div class="col-md-1">
</div>
<div class="col-md-10">
<div class="col-md-4">

<div>

</div>
<h2 style="position:reative; margin-top:0px;">Contact</h2>
@if(pharmacy.address != null){
<h5>@pharmacy.name</h5>
<h5>@pharmacy.address.addrressLine1</h5>
<h5>@pharmacy.address.area</h5>
<h5>@pharmacy.address.city</h5>
<h5>@pharmacy.address.state</h5>
<h5>@pharmacy.address.country</h5>
<h5>Pin Code:@pharmacy.address.pinCode</h5>
}
<h5>Phones nos:@pharmacy.contactNo</h5>
</div>	
<div class="col-md-8">
@*
<h2>Location Map</h2>
*@
<div id="map_canvas" style="width:500px;height:300px"> </div>
</div>
</div>

<span style="font-size:20px; cursor:pointer; position:relative; top:-10px;">
<i id="spinner-address" class="fa fa-cog"></i>
</span>

<div class="col-md-1">
</div>
</div>
<br><br>

@*
<table class="table table-bordered">
<tr>
<th> S No </th>
<th> Drug Name </th>
<th> Purpose</th>
</tr>
@for((inventory,index) <- inventoryList.zipWithIndex){
<tr>
<td> @{index+1} </td>
<td> @inventory.product.medicineName</td>
<td> @inventory.product.description <i class="fa fa-question-circle" style="cursor:pointer" data-toggle="tooltip" data-placement="bottom" title="For the relief of mild to severe headaches, relief of pain such as headache, toothache, menstrual discomfort, postoperative and rheumatic pain, and for pain and fever associated with colds and flu."></i></td>
</tr>
}
</table>
<br>
<button class="btn btn-success btn-lg"><a href="/pharmacy/order/@pharmacy.id" style="color:white">Place your order</a></button>
*@

}