@*

@(inventoryList: List[models.pharmacist.Inventory],pharmacy: models.pharmacist.Pharmacy)
@main("Place the Order"){

@helper.form(action=routes.PharmacistController.orderManagement(),'method -> "get"){
      <div class="row" id="order">
      <div class="col-md-5">
      <p> Drug Names </p>
      <select data-placeholder="Select the medicine" class="chosen-select" style="width:200px;" tabindex="2">
      <option value=""></option>
      @for(inventory <- inventoryList){
      <option value="@inventory.pharmacyProduct.id">@inventory.pharmacyProduct.medicineName</option>
      }
       </select>
       <script>
       $(".chosen-select").chosen();
       </script>
      </div>
      <div class="col-md-5">
      <p> Quantity</p>
      <input type="text" name="quantity" placeholder="Enter Quantity">
      </div>
      <div class="col-md-2" style="padding-top:15px;padding-left:25px">
      <br>
      <a href="#" class="btn btn-sm btn-success" onclick="addOrder();"> + </a>
      
      <script>
			function addOrder(){
			$("#order").append('<div class="row" id="removeOrder"><div class="col-md-5" style="padding-left:30px"><p> Drug Names </p><select data-placeholder="Select the medicine" class="chosen-select" style="width:200px;" tabindex="2"><option value=""></option>@for(inventory <- inventoryList){<option value="@inventory.pharmacyProduct.id">@inventory.pharmacyProduct.medicineName</option>}</select></div><div class="col-md-5"><p> Quantity</p><input type="text" name="quantity" placeholder="Quantity"></div><div class="col-md-2" style="padding-top:10px"><br><a class="btn btn-sm btn-danger" onclick="removeOrder();"> x </a></div></div>')
				$(".chosen-select").chosen();
			}
	  </script>
	  
	  <script>
			function removeOrder(){
				$("#removeOrder").remove();
			}
	  </script>
      </div>
      <br>
      </div>
      <br>
      <button type="submit" class="btn btn-primary btn-sm">Submit</button>
      }

    }			 

    
    *@