@(pharmacyPrescriptionInfos : List[models.pharmacist.PharmacyPrescriptionInfo], status:String)

@main("Pharmacy Prescription and Order"){

   
   


<div class="row">
   <div class="col-md-10">
   <form action="@routes.PharmacistController.getFromAndToDatePrescriptions()" method="POST">
   	<div class="col-md-4 form-group">
    <label for="from" class="col-md-3 control-label" style="padding-top:10px">From</label>
    <div class="col-lg-9">
      <input type="date" name="from" class="form-control" id="from" placeholder="From Date">
      </div>
    </div>
    <div class="col-md-4 form-group">
    <label for="to" class="col-md-3 control-label" style="padding-top:10px" >To</label>
    <div class="col-lg-9">
      <input type="date" name="to" class="form-control" id="to" placeholder="To Date">
      </div>
    </div>
    <div class="col-md-4">
      <input type="submit" class="btn btn-success btn-sm" value="Find Prescriptions">
    </div>
    </form>
    </div>
</div>

<div class="row">
<div class="col-md-5 col-md-offset-3">
<select class="chzn" id="status-select" style="width:50%;" data-placeholder="Select Order Status">
<option></option>
<option value="any" @if(status.trim.toLowerCase().compareTo("any")==0){selected}>Any</option>
<option value="received" @if(status.trim.toLowerCase().compareTo("received")==0){selected}>Received</option>
<option value="served" @if(status.trim.toLowerCase().compareTo("served")==0){selected}>Served</option>
</select>
</div>
</div>

<script>
$('#status-select').on('change', function(){
	var selValue = $('#status-select').val();
	window.location.href='/pharmacy/prescriptions?status='+selValue;	
});



</script>


<br><br>
<div class="row">
<div class="col-md-11">
<table class="table table-striped table-bordered">
<tr>
<th>S.No</th>
<th>Doctor</th>
<th>Patient</th>
<th>Shared By</th>
<th>Shared Date</th>
<th>Order Status</th>
<th>Action</th>
</tr>

@for((pharmacyPrescriptionInfo,index) <- pharmacyPrescriptionInfos.zipWithIndex){
<tr>
<td>@{index+1}</td>
<td>
<a href="@routes.PublicController.getDoctorWithSlug(pharmacyPrescriptionInfo.prescription.doctor.slugUrl)">Dr. @pharmacyPrescriptionInfo.prescription.doctor.appUser.name</a>
<br>
<small>@pharmacyPrescriptionInfo.prescription.doctor.degree</small>
<br>
<small>@pharmacyPrescriptionInfo.prescription.doctor.specialization</small>
</td>

<td>@pharmacyPrescriptionInfo.prescription.patient.appUser.name
<br>
@pharmacyPrescriptionInfo.prescription.patient.appUser.mobileNumber
</td>

<td>
	@if(pharmacyPrescriptionInfo.sharedBy.role.equals(Role.DOCTOR)){
		Dr. @pharmacyPrescriptionInfo.sharedBy.name
	}else{
		@pharmacyPrescriptionInfo.sharedBy.name
	}
</td>

<td style="text-align:center;">
@pharmacyPrescriptionInfo.sharedDate.format("dd-MMM-yyyy")
<br>
@pharmacyPrescriptionInfo.sharedDate.format("HH:mm")
</td>

<td>
<span class="badge" style=""><b>@pharmacyPrescriptionInfo.pharmacyPrescriptionStatus</b></span>
@if(!pharmacyPrescriptionInfo.pharmacyPrescriptionStatus.equals(models.pharmacist.PharmacyPrescriptionStatus.SERVED)){
	<br><br>
Mark as <a href="@routes.PharmacistController.servedPrescription(pharmacyPrescriptionInfo.id)" class="" ><b>Served</b></a>
}
</td>

<td><a href="@routes.PharmacistController.getPrescriptionDetails(pharmacyPrescriptionInfo.id)" class="btn btn-success btn-xs" >View Prescription</a></td>
</tr>

}

</table>
</div>

</div>

    }
