@(ppInfo:models.pharmacist.PharmacyPrescriptionInfo)
@import play.i18n._
@import helper.twitterBootstrap._
@import helper._

@main("Prescription"){

<div class="row" style="padding-left:20px; padding-right:100px;">

<h3><a href="@routes.PublicController.getDoctorWithSlug(ppInfo.prescription.doctor.slugUrl)">Dr. @ppInfo.prescription.doctor.appUser.name</a>
<span class="pull-right">Order Status: <span class="badge" style="font-size:24px;"><b>@ppInfo.pharmacyPrescriptionStatus</b></span></span>
</h3>
<h4>@ppInfo.prescription.doctor.degree</h4>
<h4>@ppInfo.prescription.doctor.specialization</h4>

<hr>

<h4 style="margin:0px; padding:0px;">@ppInfo.prescription.patient.appUser.name</h4>
<p style="margin:0px; padding:0px;">@ppInfo.prescription.patient.appUser.mobileNumber</p>

<br>

<div class="row">
<h4><u>Medicines:</u></h4>
<table class="table table-bordered table-condensed">
<thead>
	<tr>
		<th>S No</th>
		<th>Medicine</th>
		<th>Dosage</th>
		<th>Remarks</th>
	</tr>
</thead>
<tbody>
	@for((medicine, index) <- ppInfo.prescription.medicineLineItemList.zipWithIndex){
	<tr>
		<td>@(index+1)</td>
		<td>@medicine.medicineFullName</td>
		<td>@medicine.dosage</td>
		<td>@medicine.remarks</td>
	</tr>
	}
</tbody>
</table>

</div>
</div>








}