@(apptMap : Map[Date,List[models.doctor.Appointment]],slotes:Integer,date:Long,available :Integer)
@* appointmentForm Template File *@
<div style="overflow:auto;height:600px; padding: 0px; margin-left:60px;margin-right: 40px;">
@for((date,value) <- apptMap){
	<div class="col-md-1" style="width:14%;padding: 0px;"><table class="table table-hover table-bordered" style="text-align:center;">
	     <th class="danger" style="text-align:center">@date.format("dd-MMM-yy")<br>@date.format("EE")</th>
		@for(appointment<-value){
			@if(appointment.appointmentStatus.equals(models.doctor.AppointmentStatus.AVAILABLE)){
			
			 @if(new Date().format("HH:mm") >= appointment.appointmentTime.format("HH:mm") && new Date().format("dd-MMM-yy") == appointment.appointmentTime.format("dd-MMM-yy")){
			 <tr><td class="active" disabled>@appointment.appointmentTime.format("HH:mm")</td></tr>
      	 		}else{
      	 		     <tr><td id="@appointment.id"  clinic=" @appointment.doctorClinicInfo.clinic.name" detail=" @appointment.appointmentTime.format("EE"), @appointment.appointmentTime.format("dd-MMM-yy") at " date="@appointment.appointmentTime.format("HH:mm") " class="success appointment" style="cursor:pointer" data-toggle="modal" data-target="#myModal">@appointment.appointmentTime.format("HH:mm") </td></tr> 	   
      	 		}
      	 		}
		}
	
	</table></div>
}
</div>
@*


<table class="tabl	e table-hover table-bordered" style="text-align:center">
    <tr class="danger">
    @for((date,value) <- apptMap){
     <th style="text-align:center">@date.format("dd-MMM-yy")<br>@date.format("EE")</th>
    }
    </tr>
    
      @for(slot <- 0 until slotes){
      	<tr>
      	 @for(date <- apptMap.keySet()){
      	 	@if(slot<=apptMap.get(date).size()-1){
      	 		@if(apptMap.get(date).get(slot).appointmentStatus.equals(models.doctor.AppointmentStatus.AVAILABLE)){
      	 			     <td id="@apptMap.get(date).get(slot).id" clinic="@apptMap.get(date).get(slot).doctorClinicInfo.clinic.name" date="@apptMap.get(date).get(slot).appointmentTime.format("HH:mm")" class="success appointment" style="cursor:pointer" data-toggle="modal" data-target="#myModal">@apptMap.get(date).get(slot).appointmentTime.format("HH:mm") </td>
      	 			
      	 		}else{
      	 		      	 <td class="active" disabled>@apptMap.get(date).get(slot).appointmentTime.format("HH:mm")</td>
      	 		}
      		}else{
      		<td class="active" disabled></td>
      		}
      	 }
      	  </tr>
      }
    </table>*@
    <script>
    date.setTime(@date);
    date.setDate(date.getDate() + 1); 
    avbl=@available	
    </script>
