@(apptMap : Map[Date,List[models.doctor.Appointment]],slotes:Integer)
@* appointmentForm Template File *@
<table class="table table-hover table-bordered" style="text-align:center">
    <tr class="danger">
    @for(date <- apptMap.keySet()){
     <th style="text-align:center">@date.format("dd-MMM-yy")<br>@date.format("EE")</th>
    }
    </tr>
    
      @for(slot <- 0 until slotes){
      	<tr>
      	 @for(date <- apptMap.keySet()){
      	 	@if(slot<=apptMap.get(date).size()-1){
      	 		@if(apptMap.get(date).get(slot).appointmentStatus.equals(models.doctor.AppointmentStatus.AVAILABLE)){
      	 			     <td class="success" style="cursor:pointer">@apptMap.get(date).get(slot).appointmentTime.format("HH:mm")</td>
      	 			
      	 		}else{
      	 		      	 <td class="active" disabled>@apptMap.get(date).get(slot).appointmentTime.format("HH:mm")</td>
      	 		}
      		}else{
      		<td class="active" disabled></td>
      		}
      	 }
      	  </tr>
      }
     
    <!-- 
    <tr>
    <td class="active">16:00</td>
    <td class="success" style="cursor:pointer">16:00</td>
    <td class="active">16:00</td>
    <td class="success"style="cursor:pointer" >16:00</td>
    <td class="active">16:00</td>
    <td class="active">16:00</td>
    <td class="success" style="cursor:pointer">16:00</td>
    </tr>
    <tr>
    <td class="active">16:15</td>
    <td class="success" style="cursor:pointer">16:15</td>
    <td class="active">16:15</td>
    <td class="active">16:15</td>
    <td class="active">16:15</td>
    <td class="active">16:15</td>
    <td class="active">16:15</td>
    </tr>
    <tr>
    <td class="success" style="cursor:pointer">16:30</td>
    <td class="success" style="cursor:pointer">16:30</td>
    <td class="success" style="cursor:pointer">16:30</td>
    <td class="active">16:30</td>
    <td class="active">16:30</td>
    <td class="success" style="cursor:pointer">16:30</td>
    <td class="active">16:30</td>
    </tr>
    <tr>
    <td class="active">16:45</td>
    <td class="success" style="cursor:pointer">16:45</td>
    <td class="success" style="cursor:pointer">16:45</td>
    <td class="active">16:45</td>
    <td class="active">16:45</td>
    <td class="success" style="cursor:pointer">16:45</td>
    <td class="active">16:45</td>
    </tr>
    <tr>
    <td class="success" style="cursor:pointer">17:00</td>
    <td class="active">17:00</td>
    <td class="success" style="cursor:pointer">17:00</td>
    <td class="active">17:00</td>
    <td class="success" style="cursor:pointer">17:00</td>
    <td class="active">17:00</td>
    <td class="success" style="cursor:pointer">17:00</td>
    </tr>
    <tr>
    <td class="success" style="cursor:pointer">17:15</td>
    <td class="success" style="cursor:pointer">17:15</td>
    <td class="success" style="cursor:pointer">17:15</td>
    <td class="success" style="cursor:pointer">17:15</td>
    <td class="success" style="cursor:pointer">17:15</td>
    <td class="success" style="cursor:pointer">17:15</td>
    <td class="success" style="cursor:pointer">17:15</td>
    </tr>
    <tr>
    <td class="active">17:30</td>
    <td class="active">17:30</td>
    <td class="success" style="cursor:pointer">17:30</td>
    <td class="active">17:30</td>
    <td class="success" style="cursor:pointer">17:30</td>
    <td class="active">17:30</td>
    <td class="success" style="cursor:pointer">17:30</td>
    </tr>
    <tr>
    <td class="active">17:45</td>
    <td class="active">17:45</td>
    <td class="success" style="cursor:pointer">17:45</td>
    <td class="active">17:45</td>
    <td class="success" style="cursor:pointer">17:45</td>
    <td class="success" style="cursor:pointer">17:45</td>
    <td class="active">17:45</td>
    </tr>
    <tr>
    <td class="success" style="cursor:pointer">18:00</td>
    <td class="active">18:00</td>
    <td class="success" style="cursor:pointer">18:00</td>
    <td class="success" style="cursor:pointer">18:00</td>
    <td class="active">18:00</td>
    <td class="success" style="cursor:pointer">18:00</td>
    <td class="active">18:00</td>
    </tr>
     -->
    </table>