@(favDocs : List[models.patient.PatientDoctorInfo])
@import play.i18n._
@import helper.twitterBootstrap._
@import helper._

@main("Favorite Doctors"){
	
<style>
.badge{
color:#000000;
background-color:#cccccc;
}
#coverborder {
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}
.well{
margin-bottom:0px;
}

</style>
@if(favDocs.size()==0){
		No List is created yet
	}else{	
		<table class="table table-bordered">
		@for((patDoc,index) <- favDocs.zipWithIndex){
			@if(index%2==0){
 <tr class="row"> 
}
				
				<td class="col-md-6">
				<div class="row" style="padding-left:20px;padding-right:20px">
				<div style="cursor:pointer" onclick="window.location.href='@routes.PublicController.getDoctorWithSlug(patDoc.doctor.slugUrl)';">
				@if(patDoc.doctor.backgroundImage != null){
				<img id="coverborder" src="@routes.PublicController.getImage(patDoc.doctor.id,"backgroundImage")"  width="530" height="170"  style="position:relative"/>
				}else{
				<img id="coverborder" src="/assets/images/sunrise.png" width="530" height="170" style="position:relative"/>
				}
				</div>
				<div class="row" style="margin-top:-55px;padding-left:15px">
				<div style="cursor:pointer;width:23%" onclick="window.location.href='@routes.PublicController.getDoctorWithSlug(patDoc.doctor.slugUrl)';" class="col-md-3">
				@if(patDoc.doctor.profileImage != null){
				<img src="@routes.PublicController.getImage(patDoc.doctor.id,"profileImage")" class="thumbnail" width="100" height="100"  />
					}else{
				<img src="/assets/images/doctor.png" class="thumbnail" width="100" height="100"  />
					}
				</div>
				<div style="cursor:pointer" onclick="window.location.href='@routes.PublicController.getDoctorWithSlug(patDoc.doctor.slugUrl)';" class="col-md-4">
				<p style="font-size:18px"><b>@patDoc.doctor.appUser.name</b></p>
				<p style="font-size:14px"><b>@patDoc.doctor.specialization</b></p>
				<h6>@patDoc.doctor.degree</h6>
				<h6>@patDoc.doctor.experience</h6>
				<br>
				</div>
				<div class="col-md-4 pull-right" style="width:30%;padding-left:3px;padding-top:60px">
				@*<a class="btn btn-primary btn-xs" href="#">Ask Query</a>*@
				<button id="@patDoc.id" class="btn btn-danger btn-xs pull-right" data-toggle="modal" data-target="#myModal1@patDoc.id">Remove</button>
				<div class="modal fade" id="myModal1@patDoc.id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="padding-top:200px">
    <div class="modal-content" style="padding-left:20px">
      <h4>Are you sure you wish to remove ?</h4>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-xs" data-dismiss="modal">Close</button>
       @* <button type="button" class="btn btn-primary btn-xs" onclick="window.location.href = '/patient/delete-fav-doc/'+patDoc.doctor.id;">Confirm</button>*@
       <a href="@routes.PatientController.deleteMyFavDoctors(patDoc.id)" class="btn btn-primary btn-xs">Confirm</a>
           
      </div>
    </div>
  </div>
</div>
				</div>
				</div>
				
				
				<div class="well" style="padding-left:20px;padding-right:0px;padding-top:0px;padding-bottom:20px">
				<h4 style="color:#006687;font-weight:bold">Clinics</h4>
				<ul class="nav nav-tabs">			
				@if(patDoc.doctor.doctorClinicInfoList.size()==0){
					No clinic created yet
				}
				<ul class="nav nav-tabs">				
				@for((docclinic,index) <- patDoc.doctor.doctorClinicInfoList.zipWithIndex){
					@if( index==0){
					  <li  class="active"><a href="#clinic@docclinic.id" data-toggle="tab">@docclinic.clinic.name</a></li>
					}else{
					 <li><a href="##clinic@docclinic.id" data-toggle="tab">@docclinic.clinic.name</a></li>
					}
				}
				</ul>
				
				<div class="tab-content">
					@for((docclinic,index) <- patDoc.doctor.doctorClinicInfoList.zipWithIndex){
						@if(index == 0){
						<div class="tab-pane active" id="clinic@docclinic.id">
						}else{
						<div class="tab-pane" id="clinic@docclinic.id">
						}
								<div class="row">
									<div class="col-md-8">
									<h5 style="color:#006687">
									<b><a href="#" >@docclinic.clinic.name</a></b><br>
										<span style="font-size:12px;color:black">@docclinic.clinic.address.addressLine1
										@docclinic.clinic.address.area<br>
										@docclinic.clinic.address.city<br>
										@docclinic.clinic.address.state<br>
									<i class="fa fa-phone-square"></i> @docclinic.clinic.contactNo<br><br>
									</div>
									<div class="col-md-4">
										<a class="btn btn-success btn-xs" style="float:right" href="@routes.PublicController.scheduleAppointment(docclinic.id)">Book Appointment</a>
									</div>
								</div>
								<div class="row">
								<div class="col-md-12">
								@*
								<table class="table table-boarder">
								<tr>
								@for((key,value)<-docclinic.getScheduleMap()){
								@if(docclinic.getScheduleMap().get(key)!=null){
										<td style="text-align:centre;font-size:12px">@key.substring(0, 3)</td>
										}else{
										<td style="vertical-align:middle;text-align:font-size:12px" class="badge">@key.substring(0, 3)</td>
										}
										}
										</tr>
										<tr>
										@for((key,value)<-docclinic.getScheduleMap()){
										@if(docclinic.getScheduleMap().get(key)!=null){
												<td style="text-align:centre;font-size:12px">@docclinic.getScheduleMap().get(key).replace("-", "\r\n")</td>
											}else{
											<td style="vertical-align:middle;text-align:font-size:12px">@docclinic.getScheduleMap().get(key)</td>
											}
											}
										</tr>
										
								</table>
								*@
								<div class="row" style="padding-left:20px">

@if(docclinic.getScheduleMap().get("MONDAY") != null){
	<span class="badge col-md-2" style="font-size:12px">Mon</span>
}else{
	<span class="col-md-1" style="font-size:12px">Mon</span>
}

@if(docclinic.getScheduleMap().get("TUESDAY") != null){
	<span class="badge col-md-2" style="font-size:12px">Tue</span>
}else{
	<span class="col-md-1" style="font-size:12px">Tue</span>
}

@if(docclinic.getScheduleMap().get("WEDNESDAY") != null){
	<span class="badge col-md-2" style="font-size:12px">Wed</span>
}else{
	<span class="col-md-1" style="font-size:12px">Wed</span>
}

@if(docclinic.getScheduleMap().get("THURSDAY") != null){
	<span class="badge col-md-2" style="font-size:12px">Thu</span>
}else{
	<span class="col-md-1" style="font-size:12px">Thu</span>
}

@if(docclinic.getScheduleMap().get("FRIDAY") != null){
	<span class="badge col-md-2" style="font-size:12px">Fri</span>
}else{
	<span class="col-md-1" style="font-size:12px">Fri</span>
}
@if(docclinic.getScheduleMap().get("SATURDAY") != null){
	<span class="badge col-md-2" style="font-size:12px">Sat</span>
}else{
	<span class="col-md-1" style="font-size:12px">Sat</span>
}

@if(docclinic.getScheduleMap().get("SUNDAY") != null){
	<span class="badge col-md-2" style="font-size:12px">Sun</span>
}else{
	<span class="col-md-1" style="font-size:12px">Sun</span>
}

</div>
<div class="row" style="padding-left:20px">


@if(docclinic.getScheduleMap().get("MONDAY") != null){
	<span class="col-md-2" style=" font-size:11px;padding-right:0px; margin:0px; margin-left:-7px;">@docclinic.getScheduleMap().get("MONDAY")</span>
}else{
	<span class="col-md-2" style=" font-size:11px;padding-right:0px; margin:0px; margin-left:-7px;"></span>
}

@if(docclinic.getScheduleMap().get("TUESDAY") != null){
	<span class="col-md-2" style=" font-size:11px;padding-right:0px; margin:0px; margin-left:-7px;">@docclinic.getScheduleMap().get("TUESDAY")</span>
}else{
	<span class="col-md-2" style=" font-size:11px;padding-right:0px; margin:0px; margin-left:-7px;"></span>
}

@if(docclinic.getScheduleMap().get("WEDNESDAY") != null){
	<span class="col-md-2" style="font-size:11px;padding-right:0px; margin:0px; margin-left:-7px;">@docclinic.getScheduleMap().get("WEDNESDAY")</span>
}else{
	<span class="col-md-2" style="font-size:11px;padding-right:0px; margin:0px; margin-left:-7px;"></span>
}

@if(docclinic.getScheduleMap().get("THURSDAY") != null){
	<span class="col-md-2" style="font-size:11px;padding-right:0px; margin:0px; margin-left:5px;">@docclinic.getScheduleMap().get("THURSDAY")</span>
}else{
	<span class="col-md-2" style="font-size:11px;padding-right:0px; margin:0px; margin-left:5px;"></span>
}

@if(docclinic.getScheduleMap().get("FRIDAY") != null){ 
	<span class="col-md-2" style="font-size:11px;padding-right:0px; margin:0px;margin-left:5px;">@docclinic.getScheduleMap().get("FRIDAY")</span>
}else{
	<span class="col-md-2" style="font-size:11px;padding-right:0px; margin:0px;margin-left:5px;"></span>
}
@if(docclinic.getScheduleMap().get("SATURDAY") != null){ 
	<span class="col-md-2" style="font-size:11px;padding-right:0px; margin:0px;margin-left:5px;">@docclinic.getScheduleMap().get("SATURDAY")</span>
}else{
	<span class="col-md-2" style="font-size:11px;padding-right:0px; margin:0px;margin-left:5px;"></span>
}
@if(docclinic.getScheduleMap().get("SUNDAY") != null){ 
	<span class="col-md-2" style="font-size:11px;padding-right:0px; margin:0px;margin-left:5px;">&nbsp;&nbsp;&nbsp;&nbsp;@docclinic.getScheduleMap().get("SUNDAY")</span>
}else{
	<span class="col-md-2" style="font-size:11px;padding-right:0px; margin:0px;margin-left:5px; "></span>
}
</div>
								</div>
								</div>
							</div>
						
					} 
				</div>
			</div>
		</div>
	<br>
</td>
				@if(index == favDocs.size()-1){
            </tr>
          }
          }

</table>	

<script>
var docid;
$('#myModal1').on('show.bs.modal', function (e) {
	  docid= $(e.relatedTarget).attr("id");
	});
</script>	
}
}	