@(favDocs : List[models.patient.PatientDoctorInfo])
@import play.i18n._
@import helper.twitterBootstrap._
@import helper._

@main("Favorite Doctors"){
	@if(favDocs.size()==0){
		No List is created yet
	}else{
	<style>
.badge{
color:#000000;
background-color:#cccccc;
}
</style>

		<table class="table table-bordered">
		@for((patDoc,index) <- favDocs.zipWithIndex){
			@if(index % 2 == 0){
				
				<tr>

				<td>
				<div class="row" style="padding-left:20px;padding-right:20px">
				<div class="row">
				<div class="col-md-3">
				<br>
				<img src="/assets/images/doctor.png" class="thumbnail" width="120" height="120" />
				</div>
				<div class="col-md-9">
				<h3>@patDoc.doctor.appUser.name</h3>
				<h4>@patDoc.doctor.specialization</h4>
				<h5>@patDoc.doctor.degree</h5>
				<h5>@patDoc.doctor.experience</h5>
				<br>
				<a class="btn btn-primary btn-sm" href="#">Ask Query</a>
				<a class="btn btn-danger btn-sm" href="@routes.PatientController.deleteMyFavDoctors(patDoc.id)">Remove</a>
				</div>
				</div>
				<br>
				<div class="well">
				<h4 style="color:#006687;font-weight:bold">Clinics</h4>
				@if(patDoc.doctor.doctorClinicInfoList.size()==0){
					No clinic created yet
				}
				<ul class="nav nav-tabs">
				@for(docclinic <- patDoc.doctor.doctorClinicInfoList){
					@if( patDoc.doctor.doctorClinicInfoList.indexOf(docclinic)==0){
					  <li  class="active"><a href="#clinic11" data-toggle="tab">XYZ Clinic</a></li>
					}else{
					 <li><a href="#clinic12" data-toggle="tab">ABC Clinic</a></li>
					}
				} 
				</ul>
				
				<div class="tab-content">
				@for(docclinic <- patDoc.doctor.doctorClinicInfoList){
					@if( patDoc.doctor.doctorClinicInfoList.indexOf(docclinic)==0){
				<div class="tab-pane" id="clinic13">
				<div class="row">
				<br>
				<div class="col-md-3">
				<h5><b><a href="#" >@docclinic.clinic.name</a></b></h5>
				<h6>@docclinic.clinic.address.addrressLine1<br>
				@docclinic.clinic.address.area<br>
				@docclinic.clinic.address.city<br>
				@docclinic.clinic.contactNo</h6>
				</div>
				<div class="col-md-9">
				<h5><b>Timings</b><br><br>
				<div class="row" style="padding-left:10px">
				@for(schedule <- docclinic.scheduleDays){
					
						<span class="col-md-2" style="font-size:16px;width:14%">@schedule.day</span>
				}
				
				</div>
				
				</h5>
				<div class="row" style="padding-left:10px">
				@for(schedule <- docclinic.scheduleDays){
				<span class="col-md-2" style="font-size:10px;padding-right:0px;width:14%"">@schedule.fromTime-@schedule.toTime</span>
				}
				</div>
				
				</div>
				</div>
				
				<a class="btn btn-success btn-sm" href="/patient/new/appointment">Book Appointment</a>
				</div>					
				}else{
				
				<div class="tab-pane" id="clinic13">
				<div class="row">
				<br>
				<div class="col-md-3">
				<h5><b><a href="#" >@docclinic.clinic.name</a></b></h5>
				<h6>@docclinic.clinic.address.addrressLine1<br>
				@docclinic.clinic.address.area<br>
				@docclinic.clinic.address.city<br>
				@docclinic.clinic.contactNo</h6>
				</div>
				<div class="col-md-9">
				<h5><b>Timings</b><br><br>
				<div class="row" style="padding-left:10px">
				@for(schedule <- docclinic.scheduleDays){
					
						<span class="col-md-2" style="font-size:16px;width:14%">@schedule.day</span>
				}
				
				</div>
				
				</h5>
				<div class="row" style="padding-left:10px">
				@for(schedule <- docclinic.scheduleDays){
				<span class="col-md-2" style="font-size:10px;padding-right:0px;width:14%"">@schedule.fromTime-@schedule.toTime</span>
				}
				</div>
				
				</div>
				</div>
				<a class="btn btn-success btn-sm" href="/patient/new/appointment">Book Appointment</a>
				</div>					
				}
				} 
				
				</div>
				</div>
				<br>
				</div>
			</td>
				
				@if(index == favDocs.size()-1){
						</tr>
					}
				
			}else{
			
			<td>
				<div class="row" style="padding-left:20px;padding-right:20px">
				<div class="row">
				<div class="col-md-3">
				<br>
				<img src="/assets/images/doctor.png" class="thumbnail" width="120" height="120" />
				</div>
				<div class="col-md-9">
				<h3>@patDoc.doctor.appUser.name</h3>
				<h4>@patDoc.doctor.specialization</h4>
				<h5>@patDoc.doctor.degree</h5>
				<h5>@patDoc.doctor.experience</h5>
				<br>
				<a class="btn btn-primary btn-sm" href="#">Ask Query</a>
				<a class="btn btn-danger btn-sm" href="@routes.PatientController.deleteMyFavDoctors(patDoc.id)">Remove</a>
				</div>
				</div>
				<br>
				<div class="well">
				<h4 style="color:#006687;font-weight:bold">Clinics</h4>
				@if(patDoc.doctor.doctorClinicInfoList.size()==0){
					No clinic created yet
				}
				<ul class="nav nav-tabs">
				@for(docclinic <- patDoc.doctor.doctorClinicInfoList){
					@if( patDoc.doctor.doctorClinicInfoList.indexOf(docclinic)==0){
					  <li  class="active"><a href="#clinic11" data-toggle="tab">XYZ Clinic</a></li>
					}else{
					 <li><a href="#clinic12" data-toggle="tab">ABC Clinic</a></li>
					}
				} 
				</ul>
				
				<div class="tab-content">
				@for(docclinic <- patDoc.doctor.doctorClinicInfoList){
					@if( patDoc.doctor.doctorClinicInfoList.indexOf(docclinic)==0){
				<div class="tab-pane" id="clinic13">
				<div class="row">
				<br>
				<div class="col-md-3">
				<h5><b><a href="#" >@docclinic.clinic.name</a></b></h5>
				<h6>@docclinic.clinic.address.addrressLine1<br>
				@docclinic.clinic.address.area<br>
				@docclinic.clinic.address.city<br>
				@docclinic.clinic.contactNo</h6>
				</div>
				<div class="col-md-9">
				<h5><b>Timings</b><br><br>
				<div class="row" style="padding-left:10px">
				@for(schedule <- docclinic.scheduleDays){
					
						<span class="col-md-2" style="font-size:16px;width:14%">@schedule.day</span>
				}
				
				</div>
				
				</h5>
				<div class="row" style="padding-left:10px">
				@for(schedule <- docclinic.scheduleDays){
				<span class="col-md-2" style="font-size:10px;padding-right:0px;width:14%"">@schedule.fromTime-@schedule.toTime</span>
				}
				</div>
				
				</div>
				</div>
				
				<a class="btn btn-success btn-sm" href="/patient/new/appointment">Book Appointment</a>
				</div>					
				}else{
				
				<div class="tab-pane" id="clinic13">
				<div class="row">
				<br>
				<div class="col-md-3">
				<h5><b><a href="#" >@docclinic.clinic.name</a></b></h5>
				<h6>@docclinic.clinic.address.addrressLine1<br>
				@docclinic.clinic.address.area<br>
				@docclinic.clinic.address.city<br>
				@docclinic.clinic.contactNo</h6>
				</div>
				<div class="col-md-9">
				<h5><b>Timings</b><br><br>
				<div class="row" style="padding-left:10px">
				@for(schedule <- docclinic.scheduleDays){
					
						<span class="col-md-2" style="font-size:16px;width:14%">@schedule.day</span>
				}
				
				</div>
				
				</h5>
				<div class="row" style="padding-left:10px">
				@for(schedule <- docclinic.scheduleDays){
				<span class="col-md-2" style="font-size:10px;padding-right:0px;width:14%"">@schedule.fromTime-@schedule.toTime</span>
				}
				</div>
				
				</div>
				</div>
				<a class="btn btn-success btn-sm" href="/patient/new/appointment">Book Appointment</a>
				</div>					
				}
				} 
				
				</div>
				</div>
				<br>
				</div>
				</td>
				</tr>
		
			}
		}
		
	
}
</table>	
	
	}
	
	
	
