@(patientClinicInfos : List[models.patient.PatientClinicInfo])
@import play.i18n._
@import helper.twitterBootstrap._
@import helper._

@main("My Clinics"){

<div class="row" style="padding:15px;">
@if(patientClinicInfos.size > 0){
<table class="table table-hover">
	<tr class="active">
		<th> S.No</th>
		<th>Clinic Name</th>
		<th>Address</th>
		<th>Action</th>
	</tr>
	@for((patientClinicInfo,index) <- patientClinicInfos.zipWithIndex){
	<tr class="info">
	<td><h5>@{index+1}<h5></td>
	<td><h5>@patientClinicInfo.clinic.name</h5></td>
	<td>@if(patientClinicInfo.clinic.address != null){
	<h5>@patientClinicInfo.clinic.address.addressLine1</h5>
	<h5>@patientClinicInfo.clinic.address.area</h5>
	<h5>@patientClinicInfo.clinic.address.city</h5>}else{
	<h5>Address not available.</h5>
	}
	</td>
	<td><button onclick="showDoctors(@patientClinicInfo.clinic.id);" class="btn btn-success btn-sm">Doctors</button>
	<a data-toggle="modal" data-target="#basicModal@patientClinicInfo.id" class="btn btn-danger btn-sm">Remove</a></td>
</tr>
<div class="modal fade" id="basicModal@patientClinicInfo.id" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    	<div class="modal-dialog">
        <div class="modal-content">
             <div class="modal-body">
                <h5>Do you want to delete <b> @patientClinicInfo.clinic.name</b> ?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                <a href="@routes.PatientController.removeFavoriteClinic(patientClinicInfo.clinic.id)" type="button" class="btn btn-danger btn-sm">Remove</a>
        </div>
    </div>
  </div>
</div>
}
</table>
}else{
<h5>No Favorite Clinics Yet.</h5>
}
<div class="modal fade" id="doctorList" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel"><b>Doctors</b></h4>
        </div>
            <div class="modal-body" id="modal-content">
                             
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
    </div>
  </div>
</div>
</div>
<script>
	function showDoctors(clinicid){
		$('#doctorList').modal('show');
			$.get('/secure-doctor/get-doctors-list/'+clinicid, function(htmldata) {
				$('#modal-content').html(htmldata);
			});
	}	
</script>

}
