@* viewTodaysAppointment Template File *@

@(bloodDonations: List[models.bloodBank.BloodDonation])
@import play.i18n._

@main("Blood Donations"){
	@if(bloodDonations.size()==0){
	<h5>No Blood Donations Registered Yet.</h5>
	}else{	
		<div class="row" style="padding:15px">
		<table class="table table-condensed table-hover">
			<thead>
			<tr>
			<div class="row clearfix">
			<th>S.no</th>
				<th>Date Of Donation</th>
				<th>Blood Bank</th>
				<th>Quantity Donated</th>	
				<th>Blood Group</th>
				<th>Weight</th>			
				<th>Hemoglobin Level</th>
			</div>
			</tr>
			</thead>
			@for((bloodDonation,index) <- bloodDonations.zipWithIndex){
			<tr>
			<div class="row clearfix">
				<td>@{index+1}</td>
				<td>@if(bloodDonation.dateDonated != null){@bloodDonation.dateDonated.format("dd-MMM-YYYY")}</td>
				<td>@bloodDonation.bloodBank.name</td>
				<td>@bloodDonation.quantityDonated</td>
				<td>@if(bloodDonation.bloodGroup != null){@bloodDonation.bloodGroup.capitalize()}</td>
				<td>@bloodDonation.weight</td>
				<td>@bloodDonation.hemoglobinLevel</td>
				</div>
			</tr>
			}
		</table>
		</div>
			
	}



}

































@*

@()
@import play.i18n._
@import helper.twitterBootstrap._
@import helper._

@main("Doctor's Appointments"){
	
<div class="row">
<div class="col-md-1" style="padding-top:160px;padding-left:60px">
<img src="/assets/images/prev.png" width="15" height="15"/>
</div>
<div class="col-md-10">
<h4 style="text-align:center"> Today's Appointments </h4><br>
<table  class="table table-bordered" style="border:2px solid black;">
  <tr>
    <th>S No</th>
    <th>Date</th>
    <th>Time slot</th>
    <th>User 0</th>
    <th>Clinic</th>
    <th>Action</th>
  </tr>
  <tr>
    <td>1</td>
    <td>06/06/2014</td>
    <td>4:00pm to 4:15pm</td>
    <td>User 1</td>
    <td>ABC clinic</td>
    <td>
    <button class="btn btn-success btn-sm"><a href="/doctor/view/appointment" style="color:white">view</a></button>
	<button class="btn btn-default btn-sm"><a href="#" style="color:black">edit</a></button>
	<button class="btn btn-danger btn-sm"><a href="#" style="color:white">delete</a></button></td>
  </tr>
  <tr>
    <td>2</td>
    <td>17/06/2014</td>
    <td>5:00pm to 5:15pm</td>
    <td>User 2</td>
    <td>XYZ clinic</td>
    <td>
    <button class="btn btn-success btn-sm"><a href="/doctor/view/appointment" style="color:white">view</a></button>
	<button class="btn btn-default btn-sm"><a href="#" style="color:black">edit</a></button>
	<button class="btn btn-danger btn-sm"><a href="#" style="color:white">delete</a></button></td>
  </tr>
  <tr>
    <td>3</td>
    <td>24/06/2014</td>
    <td>4:30pm to 5:00pm</td>
    <td>User 3</td>
    <td>ABC clinic</td>
    <td>
    <button class="btn btn-success btn-sm"><a href="/doctor/view/appointment" style="color:white">view</a></button>
	<button class="btn btn-default btn-sm"><a href="#" style="color:black">edit</a></button>
	<button class="btn btn-danger btn-sm"><a href="#" style="color:white">delete</a></button></td>
  </tr>
</table>
</div>
<div class="col-md-1" style="padding-top:160px">
<img src="/assets/images/next.png" width="15" height="15"/>
</div>
</div>
}*@