@* scheduleAppointmentTemp Template File *@
@(appointmentMap:Map[Date,List[models.doctor.Appointment]],slotes:Integer)


@main("Schedule An Appointment"){


<div class="row">
<div class="col-md-6">
	<select id="doc-select">
	<option>Select Doctor</option>
	@for(doc <- models.doctor.Doctor.find.all()){
		<option value="@doc.id">@doc.appUser.name</option>
	}
	</select> 
</div>
</div> 
<br><br>
@if(appointmentMap!=null){
<table class="table table-condensed">
<thead>
<tr>
@for((date,appt)<- appointmentMap){
	<th style="text-align:center;"><a class="btn btn-primary" style="cursor:default;">@date.format("dd MMM")<br>@date.format("EE")</a></th>
}
</tr>
</thead>

<tbody>

@for(i <- 0 until slotes) {
	<tr>
	@for((k,v) <- appointmentMap){
  		@if(k.format("EE").equals("Sun")){
  			<td style="text-align:center;"><a class="btn btn-default disabled">@appointmentMap.get(k).get(i).appointmentTime.format("HH:mm")</a></td>
  		}else{
  			@if(v.get(i).appointmentStatus == models.doctor.AppointmentStatus.AVAILABLE){ 
  			  			<td class="appt" date="@appointmentMap.get(k).get(i).appointmentTime.format("dd-mm-yyyy")" style="text-align:center;" id="@appointmentMap.get(k).get(i).id" ><a class="btn btn-success">@appointmentMap.get(k).get(i).appointmentTime.format("HH:mm")</a></td>
  			}else{
  			  			<td style="text-align:center;" date="@appointmentMap.get(k).get(i).appointmentTime.format("dd-mm-yyyy")" id="@appointmentMap.get(k).get(i).id" ><a class=" btn btn-success disabled">@appointmentMap.get(k).get(i).appointmentTime.format("HH:mm")</a></td>
  			}
  		}
	}
	</tr>
}

</tbody>
</table>
<style>
.modal{
	overflow:hidden;
	margin-top:15%;
	left:30%;
	width:600px;
	height: 300px;
}
</style>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" id="model-content">
     
      </div>
     	 <textarea id="remark"></textarea>
     
      <div class="modal-footer">
        <a class="btn btn-default" data-dismiss="modal">Close</a>
        <a class="btn btn-primary" onclick="$('#datetimeform').submit();" id="confirm">Confirm</a>
      </div>
    </div>
  </div>
</div>
}
<script>
var datetime='';
$(".appt").on("click", function(){
	$("#aptid").val($(this).attr('id'));
	datetime = $(this).attr("date")+'~'+$(this).text();
	$("#inputdatetime").attr("value",datetime);
	$("#model-content").html('<p> Are you sure you wish to request an appointment on <br>'+$(this).attr("date")+' at '+$(this).text()+' Hrs ?</p>');
	$('#myModal').modal('show');
});

$("#doc-select").change(function() {
	$("#doctorId").attr("value",$("#doc-select option:selected").val());
	var id=$("#doc-select option:selected").val();
	
	window.location.href = '/user/display-appointment/'+id;
	
	
});
function confSubmit(){
	
	$("#formremark").val($("#remark").val());
}
</script>

<form id="datetimeform" style="display:none;" action="@routes.DoctorController.requestAppointment()" method="POST" onsubmit="return confSubmit();">
	<input type="hidden"  id="formremark" name="datetime" value="">
		<input type="hidden" id="aptid"  name="datetime" value="">
	
</form>



}