@()
@import play.i18n._
@import helper.twitterBootstrap._
@import helper._

@main("Book Appointment"){

<br><br>
<div class="row">
<ul class="nav nav-pills nav-tabs nav-justified" style="font-size:14px">
  <li  class="active"><a href="#date1" data-toggle="tab">20-Jun-14</a></li>
  <li><a href="#date2" data-toggle="tab">Date2</a></li>
  <li><a href="#date3" data-toggle="tab">Date3</a></li>
  <li><a href="#date4" data-toggle="tab">Date4</a></li>
  <li><a href="#date5" data-toggle="tab">Date5</a></li>
  <li><a href="#date6" data-toggle="tab">Date6</a></li>
  <li><a href="#date7" data-toggle="tab">Date7</a></li>
  <li><a href="#date8" data-toggle="tab">Date8</a></li>
  <li><a href="#date9" data-toggle="tab">Date9</a></li>
  <li><a href="#date10" data-toggle="tab">Date10</a></li>
</ul>

<div class="tab-content">
<div class="tab-pane active" id="date1">	
<h4 style="text-align:center"> Date1 Appointments </h4><br>
<div class="col-md-1">
</div>
<div class="col-md-4">
<h3><b><a href="#" >XYZ Clinic</a></b></h3>
<h4>Flat no<br>
Address<br>
Place<br>
Phone nos: 04023456789, 9876543210</h4>
</div>
<div class="col-md-6">
<button class="btn btn-sm btn-danger btn-block"><b>16:00 - 16:15</b></button>
<button class="btn btn-sm btn-default btn-block"><b>16:15 - 16:30</b></button>
<button class="btn btn-sm btn-default btn-block"><b>16:30 - 16:45</b></button>
<button class="btn btn-sm btn-success btn-block"><b>16:45 - 17:00</b></button>
<button class="btn btn-sm btn-default btn-block"><b>17:00 - 17:15</b></button>
<button class="btn btn-sm btn-danger btn-block"><b>17:15 - 17:30</b></button>
<button class="btn btn-sm  btn-danger btn-block"><b>17:30 - 17:45</b></button>
<button class="btn btn-sm btn-default btn-block"><b>17:45 - 18:00</b></button>
</div>
<div class="col-md-1">
</div>
</div>

<div class="tab-pane" id="date2">
<h4 style="text-align:center"> Date2 Appointments </h4><br>
<div class="col-md-1">
</div>
<div class="col-md-10">

</div>
<div class="col-md-1">
</div>
</div>

<div class="tab-pane" id="date3">	
<h4 style="text-align:center"> Date3 Appointments </h4><br>
<div class="col-md-1">
</div>
<div class="col-md-10">

</div>
<div class="col-md-1">
</div>
</div>

<div class="tab-pane" id="date4">	
<h4 style="text-align:center"> Date4 Appointments </h4><br>
<div class="col-md-1">
</div>
<div class="col-md-10">

</div>
<div class="col-md-1">
</div>
</div>

<div class="tab-pane" id="date5">	
<h4 style="text-align:center"> Date5 Appointments </h4><br>
<div class="col-md-1">
</div>
<div class="col-md-10">

</div>
<div class="col-md-1">
</div>
</div>

<div class="tab-pane" id="date6">	
<h4 style="text-align:center"> Date6 Appointments </h4><br>
<div class="col-md-1">
</div>
<div class="col-md-10">

</div>
<div class="col-md-1">
</div>
</div>

<div class="tab-pane" id="date8">	
<h4 style="text-align:center"> Date8 Appointments </h4><br>
<div class="col-md-1">
</div>
<div class="col-md-10">

</div>
<div class="col-md-1">
</div>
</div>

<div class="tab-pane" id="date9">	
<h4 style="text-align:center"> Date9 Appointments </h4><br>
<div class="col-md-1">
</div>
<div class="col-md-10">

</div>
<div class="col-md-1">
</div>
</div>

<div class="tab-pane" id="date10">	
<h4 style="text-align:center"> Date10 Appointments </h4><br>
<div class="col-md-1">
</div>
<div class="col-md-10">

</div>
<div class="col-md-1">
</div>
</div>
</div>
</div>
}