@()
@import play.i18n._
@import helper.twitterBootstrap._
@import helper._

@main("Book Appointment"){

<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" type="text/javascript"></script>

<script>
	function initialize() {
		var clinic_map = document.getElementById('clinic_map');
		var map_options = {
			center : new google.maps.LatLng(17.445735, 78.349828),
			zoom : 15,
			mapTypeId : google.maps.MapTypeId.ROADMAP
		};
		var map = new google.maps.Map(clinic_map, map_options);

		var marker = new google.maps.Marker({
			position : new google.maps.LatLng(17.445735, 78.349828),
			map : map
		});
	}

	google.maps.event.addDomListener(window, 'load', initialize);
</script>

<div class="row">
<div class="col-md-4">
<div class="col-md-5">
<img src="/assets/images/doctor.png" class="thumbnail" width="120" height="110" />
</div>
<div class="col-md-7" style="padding-left:10px">
<h4><b> Dr Name </b></h4>
<h4> Specialization</h4>
<h6> Degree</h6>
<h6>Experience</h6><br>
</div>
<div class="btn-group" data-toggle="buttons" style="padding-left:20px; font-size:12px;">
  <label class="btn btn-primary btn-sm active">
    <input type="checkbox" checked> XYZ Clinic<br>Area
  </label>
  <label class="btn btn-default btn-sm" >
    <input type="checkbox"> ABC Clinic<br>Area
  </label>
  <label class="btn btn-default btn-sm">
    <input type="checkbox"> SAKP Clinic<br>Area
  </label>
</div>
<div style="padding-left:20px">
<h6>Address1<br>
Address2<br>
Address3<br>
City<br>
State<br>
Pincode<br>
Phone nos: 04023456789, 9876543210</h6>
</div>
</div>
<div class="col-md-4" style="padding-left:0px">
<p style="color:#008bca;font-size:22px"><b>XYZ Clinic, Area</b></p>
<img src="http://placehold.it/360x250" width="360" height="250" />
</div>
<div class="col-md-4" style="padding-left:0px">
<p style="color:#008bca;font-size:22px"><b>Location Map</b></p>
<div id="clinic_map" style="width:360px;height:250px"></div>
</div>
</div>
<br>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="box-shadow: 1px 1px 10px 5px #bbbbbb;padding-bottom:0px">
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active" style="padding:40px">
    <table class="table table-hover table-bordered" style="text-align:center">
    <tr class="danger">
    <th style="text-align:center">18-Jul-2014<br> (Friday)</th>
    <th style="text-align:center">19-Jul-2014<br> (Saturday)</th>
    <th style="text-align:center">20-Jul-2014<br> (Sunday)</th>
    <th style="text-align:center">21-Jul-2014<br> (Monday)</th>
    <th style="text-align:center">22-Jul-2014<br> (Tuesday)</th>
    <th style="text-align:center">23-Jul-2014<br> (Wednesday)</th>
    <th style="text-align:center">24-Jul-2014<br> (Thursday)</th>
    </tr>
    <tr>
    <td class="active">16:00</td>
    <td class="success" style="cursor:pointer">16:00</td>
    <td class="active">16:00</td>
    <td class="success"style="cursor:pointer" >16:00</td>
    <td class="active">16:00</td>
    <td class="active">16:00</td>
    <td class="success" style="cursor:pointer">16:00</td>
    </tr>
    <tr>
    <td class="active">16:15</td>
    <td class="success" style="cursor:pointer">16:15</td>
    <td class="active">16:15</td>
    <td class="active">16:15</td>
    <td class="active">16:15</td>
    <td class="active">16:15</td>
    <td class="active">16:15</td>
    </tr>
    <tr>
    <td class="success" style="cursor:pointer">16:30</td>
    <td class="success" style="cursor:pointer">16:30</td>
    <td class="success" style="cursor:pointer">16:30</td>
    <td class="active">16:30</td>
    <td class="active">16:30</td>
    <td class="success" style="cursor:pointer">16:30</td>
    <td class="active">16:30</td>
    </tr>
    <tr>
    <td class="active">16:45</td>
    <td class="success" style="cursor:pointer">16:45</td>
    <td class="success" style="cursor:pointer">16:45</td>
    <td class="active">16:45</td>
    <td class="active">16:45</td>
    <td class="success" style="cursor:pointer">16:45</td>
    <td class="active">16:45</td>
    </tr>
    <tr>
    <td class="success" style="cursor:pointer">17:00</td>
    <td class="active">17:00</td>
    <td class="success" style="cursor:pointer">17:00</td>
    <td class="active">17:00</td>
    <td class="success" style="cursor:pointer">17:00</td>
    <td class="active">17:00</td>
    <td class="success" style="cursor:pointer">17:00</td>
    </tr>
    <tr>
    <td class="success" style="cursor:pointer">17:15</td>
    <td class="success" style="cursor:pointer">17:15</td>
    <td class="success" style="cursor:pointer">17:15</td>
    <td class="success" style="cursor:pointer">17:15</td>
    <td class="success" style="cursor:pointer">17:15</td>
    <td class="success" style="cursor:pointer">17:15</td>
    <td class="success" style="cursor:pointer">17:15</td>
    </tr>
    <tr>
    <td class="active">17:30</td>
    <td class="active">17:30</td>
    <td class="success" style="cursor:pointer">17:30</td>
    <td class="active">17:30</td>
    <td class="success" style="cursor:pointer">17:30</td>
    <td class="active">17:30</td>
    <td class="success" style="cursor:pointer">17:30</td>
    </tr>
    <tr>
    <td class="active">17:45</td>
    <td class="active">17:45</td>
    <td class="success" style="cursor:pointer">17:45</td>
    <td class="active">17:45</td>
    <td class="success" style="cursor:pointer">17:45</td>
    <td class="success" style="cursor:pointer">17:45</td>
    <td class="active">17:45</td>
    </tr>
    <tr>
    <td class="success" style="cursor:pointer">18:00</td>
    <td class="active">18:00</td>
    <td class="success" style="cursor:pointer">18:00</td>
    <td class="success" style="cursor:pointer">18:00</td>
    <td class="active">18:00</td>
    <td class="success" style="cursor:pointer">18:00</td>
    <td class="active">18:00</td>
    </tr>
    </table>
	</div>  
    <div class="item" style="padding:40px">
     <table class="table table-hover table-bordered" style="text-align:center">
    <tr class="danger">
    <th style="text-align:center">25-Jul-14<br> (Friday)</th>
    <th style="text-align:center">26-Jul-14<br> (Saturday)</th>
    <th style="text-align:center">27-Jul-14<br> (Sunday)</th>
    <th style="text-align:center">28-Jul-14<br> (Monday)</th>
    <th style="text-align:center">29-Jul-14<br> (Tuesday)</th>
    <th style="text-align:center">30-Jul-14<br> (Wednesday)</th>
    <th style="text-align:center">31-Jul-14<br> (Thursday)</th>
    </tr>
    <tr>
    <td class="active">16:00</td>
    <td class="success" style="cursor:pointer">16:00</td>
    <td class="active">16:00</td>
    <td class="success"style="cursor:pointer" >16:00</td>
    <td class="active">16:00</td>
    <td class="active">16:00</td>
    <td class="success" style="cursor:pointer">16:00</td>
    </tr>
    <tr>
    <td class="active">16:15</td>
    <td class="success" style="cursor:pointer">16:15</td>
    <td class="active">16:15</td>
    <td class="active">16:15</td>
    <td class="active">16:15</td>
    <td class="active">16:15</td>
    <td class="active">16:15</td>
    </tr>
    <tr>
    <td class="success" style="cursor:pointer">16:30</td>
    <td class="success" style="cursor:pointer">16:30</td>
    <td class="success" style="cursor:pointer">16:30</td>
    <td class="active">16:30</td>
    <td class="active">16:30</td>
    <td class="success" style="cursor:pointer">16:30</td>
    <td class="active">16:30</td>
    </tr>
    <tr>
    <td class="active">16:45</td>
    <td class="success" style="cursor:pointer">16:45</td>
    <td class="success" style="cursor:pointer">16:45</td>
    <td class="active">16:45</td>
    <td class="active">16:45</td>
    <td class="success" style="cursor:pointer">16:45</td>
    <td class="active">16:45</td>
    </tr>
    <tr>
    <td class="success" style="cursor:pointer">17:00</td>
    <td class="active">17:00</td>
    <td class="success" style="cursor:pointer">17:00</td>
    <td class="active">17:00</td>
    <td class="success" style="cursor:pointer">17:00</td>
    <td class="active">17:00</td>
    <td class="success" style="cursor:pointer">17:00</td>
    </tr>
    <tr>
    <td class="success" style="cursor:pointer">17:15</td>
    <td class="success" style="cursor:pointer">17:15</td>
    <td class="success" style="cursor:pointer">17:15</td>
    <td class="success" style="cursor:pointer">17:15</td>
    <td class="success" style="cursor:pointer">17:15</td>
    <td class="success" style="cursor:pointer">17:15</td>
    <td class="success" style="cursor:pointer">17:15</td>
    </tr>
    <tr>
    <td class="active">17:30</td>
    <td class="active">17:30</td>
    <td class="success" style="cursor:pointer">17:30</td>
    <td class="active">17:30</td>
    <td class="success" style="cursor:pointer">17:30</td>
    <td class="active">17:30</td>
    <td class="success" style="cursor:pointer">17:30</td>
    </tr>
    <tr>
    <td class="active">17:45</td>
    <td class="active">17:45</td>
    <td class="success" style="cursor:pointer">17:45</td>
    <td class="active">17:45</td>
    <td class="success" style="cursor:pointer">17:45</td>
    <td class="success" style="cursor:pointer">17:45</td>
    <td class="active">17:45</td>
    </tr>
    <tr>
    <td class="success" style="cursor:pointer">18:00</td>
    <td class="active">18:00</td>
    <td class="success" style="cursor:pointer">18:00</td>
    <td class="success" style="cursor:pointer">18:00</td>
    <td class="active">18:00</td>
    <td class="success" style="cursor:pointer">18:00</td>
    <td class="active">18:00</td>
    </tr>
    </table> 
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev" style="width:20px">
    <span style="color:#008bca" class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next" style="width:20px">
    <span style="color:#008bca" class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>






<div id="carousel1" >
    <div  style="padding:40px">
    <table class="table table-hover table-bordered" style="text-align:center">
    <tr class="danger">
    <th style="text-align:center">18-Jul-2014<br> (Friday)</th>
    <th style="text-align:center">19-Jul-2014<br> (Saturday)</th>
    <th style="text-align:center">20-Jul-2014<br> (Sunday)</th>
    <th style="text-align:center">21-Jul-2014<br> (Monday)</th>
    <th style="text-align:center">22-Jul-2014<br> (Tuesday)</th>
    <th style="text-align:center">23-Jul-2014<br> (Wednesday)</th>
    <th style="text-align:center">24-Jul-2014<br> (Thursday)</th>
    </tr>
    <tr>
    <td class="active">16:00</td>
    <td class="success" style="cursor:pointer">16:00</td>
    <td class="active">16:00</td>
    <td class="success"style="cursor:pointer" >16:00</td>
    <td class="active">16:00</td>
    <td class="active">16:00</td>
    <td class="success" style="cursor:pointer">16:00</td>
    </tr>
    <tr>
    <td class="active">16:15</td>
    <td class="success" style="cursor:pointer">16:15</td>
    <td class="active">16:15</td>
    <td class="active">16:15</td>
    <td class="active">16:15</td>
    <td class="active">16:15</td>
    <td class="active">16:15</td>
    </tr>
    <tr>
    <td class="success" style="cursor:pointer">16:30</td>
    <td class="success" style="cursor:pointer">16:30</td>
    <td class="success" style="cursor:pointer">16:30</td>
    <td class="active">16:30</td>
    <td class="active">16:30</td>
    <td class="success" style="cursor:pointer">16:30</td>
    <td class="active">16:30</td>
    </tr>
    <tr>
    <td class="active">16:45</td>
    <td class="success" style="cursor:pointer">16:45</td>
    <td class="success" style="cursor:pointer">16:45</td>
    <td class="active">16:45</td>
    <td class="active">16:45</td>
    <td class="success" style="cursor:pointer">16:45</td>
    <td class="active">16:45</td>
    </tr>
    <tr>
    <td class="success" style="cursor:pointer">17:00</td>
    <td class="active">17:00</td>
    <td class="success" style="cursor:pointer">17:00</td>
    <td class="active">17:00</td>
    <td class="success" style="cursor:pointer">17:00</td>
    <td class="active">17:00</td>
    <td class="success" style="cursor:pointer">17:00</td>
    </tr>
    <tr>
    <td class="success" style="cursor:pointer">17:15</td>
    <td class="success" style="cursor:pointer">17:15</td>
    <td class="success" style="cursor:pointer">17:15</td>
    <td class="success" style="cursor:pointer">17:15</td>
    <td class="success" style="cursor:pointer">17:15</td>
    <td class="success" style="cursor:pointer">17:15</td>
    <td class="success" style="cursor:pointer">17:15</td>
    </tr>
    <tr>
    <td class="active">17:30</td>
    <td class="active">17:30</td>
    <td class="success" style="cursor:pointer">17:30</td>
    <td class="active">17:30</td>
    <td class="success" style="cursor:pointer">17:30</td>
    <td class="active">17:30</td>
    <td class="success" style="cursor:pointer">17:30</td>
    </tr>
    <tr>
    <td class="active">17:45</td>
    <td class="active">17:45</td>
    <td class="success" style="cursor:pointer">17:45</td>
    <td class="active">17:45</td>
    <td class="success" style="cursor:pointer">17:45</td>
    <td class="success" style="cursor:pointer">17:45</td>
    <td class="active">17:45</td>
    </tr>
    <tr>
    <td class="success" style="cursor:pointer">18:00</td>
    <td class="active">18:00</td>
    <td class="success" style="cursor:pointer">18:00</td>
    <td class="success" style="cursor:pointer">18:00</td>
    <td class="active">18:00</td>
    <td class="success" style="cursor:pointer">18:00</td>
    <td class="active">18:00</td>
    </tr>
    </table>
	</div>  
    <div  style="padding:40px">
     <table class="table table-hover table-bordered" style="text-align:center">
    <tr class="danger">
    <th style="text-align:center">25-Jul-14<br> (Friday)</th>
    <th style="text-align:center">26-Jul-14<br> (Saturday)</th>
    <th style="text-align:center">27-Jul-14<br> (Sunday)</th>
    <th style="text-align:center">28-Jul-14<br> (Monday)</th>
    <th style="text-align:center">29-Jul-14<br> (Tuesday)</th>
    <th style="text-align:center">30-Jul-14<br> (Wednesday)</th>
    <th style="text-align:center">31-Jul-14<br> (Thursday)</th>
    </tr>
    <tr>
    <td class="active">16:00</td>
    <td class="success" style="cursor:pointer">16:00</td>
    <td class="active">16:00</td>
    <td class="success"style="cursor:pointer" >16:00</td>
    <td class="active">16:00</td>
    <td class="active">16:00</td>
    <td class="success" style="cursor:pointer">16:00</td>
    </tr>
    <tr>
    <td class="active">16:15</td>
    <td class="success" style="cursor:pointer">16:15</td>
    <td class="active">16:15</td>
    <td class="active">16:15</td>
    <td class="active">16:15</td>
    <td class="active">16:15</td>
    <td class="active">16:15</td>
    </tr>
    <tr>
    <td class="success" style="cursor:pointer">16:30</td>
    <td class="success" style="cursor:pointer">16:30</td>
    <td class="success" style="cursor:pointer">16:30</td>
    <td class="active">16:30</td>
    <td class="active">16:30</td>
    <td class="success" style="cursor:pointer">16:30</td>
    <td class="active">16:30</td>
    </tr>
    <tr>
    <td class="active">16:45</td>
    <td class="success" style="cursor:pointer">16:45</td>
    <td class="success" style="cursor:pointer">16:45</td>
    <td class="active">16:45</td>
    <td class="active">16:45</td>
    <td class="success" style="cursor:pointer">16:45</td>
    <td class="active">16:45</td>
    </tr>
    <tr>
    <td class="success" style="cursor:pointer">17:00</td>
    <td class="active">17:00</td>
    <td class="success" style="cursor:pointer">17:00</td>
    <td class="active">17:00</td>
    <td class="success" style="cursor:pointer">17:00</td>
    <td class="active">17:00</td>
    <td class="success" style="cursor:pointer">17:00</td>
    </tr>
    <tr>
    <td class="success" style="cursor:pointer">17:15</td>
    <td class="success" style="cursor:pointer">17:15</td>
    <td class="success" style="cursor:pointer">17:15</td>
    <td class="success" style="cursor:pointer">17:15</td>
    <td class="success" style="cursor:pointer">17:15</td>
    <td class="success" style="cursor:pointer">17:15</td>
    <td class="success" style="cursor:pointer">17:15</td>
    </tr>
    <tr>
    <td class="active">17:30</td>
    <td class="active">17:30</td>
    <td class="success" style="cursor:pointer">17:30</td>
    <td class="active">17:30</td>
    <td class="success" style="cursor:pointer">17:30</td>
    <td class="active">17:30</td>
    <td class="success" style="cursor:pointer">17:30</td>
    </tr>
    <tr>
    <td class="active">17:45</td>
    <td class="active">17:45</td>
    <td class="success" style="cursor:pointer">17:45</td>
    <td class="active">17:45</td>
    <td class="success" style="cursor:pointer">17:45</td>
    <td class="success" style="cursor:pointer">17:45</td>
    <td class="active">17:45</td>
    </tr>
    <tr>
    <td class="success" style="cursor:pointer">18:00</td>
    <td class="active">18:00</td>
    <td class="success" style="cursor:pointer">18:00</td>
    <td class="success" style="cursor:pointer">18:00</td>
    <td class="active">18:00</td>
    <td class="success" style="cursor:pointer">18:00</td>
    <td class="active">18:00</td>
    </tr>
    </table> 
    </div>
  </div>

  <!-- Controls -->




<script type="text/javascript">
$('#carousel1').carouFredSel();
	
</script>


}
