@(prescription:models.doctor.Prescription)
@import play.i18n._
@import helper.twitterBootstrap._
@import helper._

@main("Share Prescription"){

<div class="row">
<h3>@prescription.doctor.appUser.name</h3>
<h4>@prescription.doctor.degree</h4>
<h4>@prescription.doctor.specialization</h4>
</div>
<hr>

<div class="row">
<h3>@prescription.patient.appUser.name</h3>
<h4>@prescription.patient.appUser.getAge()</h4>
<h4>@prescription.patient.appUser.sex</h4>
</div>
<hr>

<div class="row">
<h3>Problem Statement:</h3>
<h4>@prescription.problemStatement</h4>
</div>
<hr>

<div class="row">
<h3>Prognosis:</h3>
<h4>@prescription.prognosis</h4>
</div>
<hr>


<div class="row">
<h3>Medicines:</h3>

@for(medicine <- prescription.medicineLineItemList){
	@medicine.medicineFullName ; @medicine.dosage ; @medicine.remarks
	<br>
}

</div>
<hr>

<div class="row">
<h3>Diagnostic Tests:</h3>

@for(test <- prescription.diagnosticTestLineItemList){
	@test.diagnosticTestFullName ; @test.remarks
	<br>
}

</div>
<hr>


<div class="row">
<h3>Remarks:</h3>
<h4>@prescription.remarks</h4>
</div>




}