@* viewTodaysAppointment Template File *@
@(prescriptions:List[models.doctor.Prescription],docClincs:List[models.doctor.DoctorClinicInfo])
@import play.i18n._

@main("Today's Prescriptions"){
	
	
		<ul class="nav nav-tabs" role="tablist" id="my-tab">
  			<li  class="active"><a href="#all"  data-toggle="tab">All Clinics</a></li>
  			@for( docClinic <-  docClincs){
  				@if(docClinic.active){
  				 			 <li><a href="#@docClinic.clinic.id" data-toggle="tab">@docClinic.clinic.name</a></li>
  					
  				}
  			}
  			
  			
		</ul>
	<div id="myTabContent" class="tab-content">
		 
		<div class="tab-pane fade in active" id="all">
			<table class="table table-bordered table-hover">
			<thead style="padding:0px;">
			<tr>
			<div class="row clearfix">
				<th>Clinic</th>
				<th>Prescription <br> Date &amp; Time</th>
				<th>Appointment <br> Date &amp; Time</th>
				<th>Patient&nbsp;(Sex/Age)</th>
				<th>Shared With</th>
				<th>Prescription</th>
			</div>
			</tr>
			</thead>
			@for(prescription <- prescriptions){
			<tr>
			<div class="row clearfix">
				<div class="col-md-3 column">
				<td>@prescription.clinic.name</td>
				</div>
				<div class="col-md-3 column">
				<td>@prescription.prescriptionDate.format("dd-MMM-yyyy HH:mm")</td>
				</div>
				<div class="col-md-3 column">
				<td>@if(prescription.appointment != null){@prescription.appointment.appointmentTime.format("dd-MMM-yyyy HH:mm")}</td>
				</div>
				<div class="col-md-3 column">
				<td>@{prescription.patient.appUser.name}&nbsp;(@prescription.patient.getSexAndAge())</td>
				</div>
				<td>
					
					<ul style="list-style-type: none; padding-left:0px;">
						@for(ppinfo <- prescription.getPharmacyInfoList()){
							@if(ppinfo.sharedBy.id == LoginController.getLoggedInUser().id){
								<li><a href="@routes.PublicController.getPharmacyWithSlug(ppinfo.pharmacy.slugUrl)">@ppinfo.pharmacy.name</a> on @ppinfo.sharedDate.format("dd-MMM-yyyy HH:mm")</li>
							}
						}
					</ul>

					<ul style="list-style-type: none; padding-left:0px;">
						@for(dpinfo <- prescription.getDiagnoticInfoList()){
							@if(dpinfo.sharedBy.id == LoginController.getLoggedInUser().id){
								<li><a href="@routes.PublicController.getDiagnosticCentreWithSlug(dpinfo.diagnosticCentre.slugUrl)">@dpinfo.diagnosticCentre.name</a> on @dpinfo.sharedDate.format("dd-MMM-yyyy HH:mm")</li>
							}
						}
					</ul>
					
				</td>
				<div class="col-md-3 column">
				<td>
					<a href="@routes.DoctorController.showPrescription(prescription.id)" class="btn btn-sm btn-primary"  role="button">View Prescription</a>				
				</td>
				</div>
			</div>
			</tr>
			}
		</table>
		</div>
			@for(docClinic <-  docClincs){
			<div class="tab-pane fade " id="@docClinic.clinic.id">
				<table class="table table-bordered table-hover">
			<thead style="padding:0px;">
			<tr>
			<div class="row clearfix">
				<th>Clinic</th>
				<th>Prescription <br> Date &amp; Time</th>
				<th>Appointment <br> Date &amp; Time</th>
				<th>Patient&nbsp;(Sex/Age)</th>
				<th>Shared With</th>
				<th>Prescription</th>
			</div>
			</tr>
			</thead>
			@for(prescription <- prescriptions){
			@if((prescription.clinic.id == docClinic.clinic.id) && (prescription.doctor.id == docClinic.doctor.id)){
			<tr>
				<div class="row clearfix">
				<div class="col-md-3 column">
				<td>@prescription.clinic.name</td>
				</div>
				<div class="col-md-3 column">
				<td>@prescription.prescriptionDate.format("dd-MMM-yyyy HH:mm")</td>
				</div>
				<div class="col-md-3 column">
				<td>@if(prescription.appointment != null){@prescription.appointment.appointmentTime.format("dd-MMM-yyyy HH:mm")}</td>
				</div>
				<div class="col-md-3 column">
				<td>@{prescription.patient.appUser.name}&nbsp;(@prescription.patient.getSexAndAge())</td>
				</div>
				<td>
				
				<ul style="list-style-type: none; padding-left:0px;">
						@for(ppinfo <- prescription.getPharmacyInfoList()){
							@if(ppinfo.sharedBy.id == LoginController.getLoggedInUser().id){
								<li><a href="@routes.PublicController.getPharmacyWithSlug(ppinfo.pharmacy.slugUrl)">@ppinfo.pharmacy.name</a> on @ppinfo.sharedDate.format("dd-MMM-yyyy HH:mm")</li>
							}
						}
					</ul>

					<ul style="list-style-type: none; padding-left:0px;">
						@for(dpinfo <- prescription.getDiagnoticInfoList()){
							@if(dpinfo.sharedBy.id == LoginController.getLoggedInUser().id){
								<li><a href="@routes.PublicController.getDiagnosticCentreWithSlug(dpinfo.diagnosticCentre.slugUrl)">@dpinfo.diagnosticCentre.name</a> on @dpinfo.sharedDate.format("dd-MMM-yyyy HH:mm")</li>
							}
						}
					</ul>
				
				</td>
				<div class="col-md-3 column">
				<td>
					<a href="@routes.DoctorController.showPrescription(prescription.id)" class="btn btn-sm btn-primary"  role="button">View Prescription</a>				
				</td>
				</div>
			</div>
			</tr>
			}
			}
			
		</table>
			</div>
			}
		
	</div>
	
	
	
	<script>
	$('#my-tab a').click(function (e) {
		  //e.preventDefault()
		  $(this).tab('show')
		})
	</script>
	
}


