@* viewTodaysAppointment Template File *@
@(appointments:List[models.doctor.Appointment],docClincs:List[models.doctor.DoctorClinicInfo])
@import play.i18n._

@main("All Appointments"){
	
		<ul class="nav nav-tabs" role="tablist" id="my-tab">
  			<li  class="active"><a href="#all"  data-toggle="tab">All Clinics</a></li>
  			@for(docClinic <-  docClincs){
  				@if(docClinic.active){
					<li><a href="#@docClinic.clinic.id" data-toggle="tab">@docClinic.clinic.name</a></li>
  				}
  			}
		</ul>
		
	<div id="myTabContent" class="tab-content">
		 
		<div class="tab-pane fade in active" id="all">
			<table class="table table-condensed table-hover">
			<thead>
			<tr>
			<div class="row clearfix">
				<th><div class="col-md-4 column">
				Clinic
				</div></th>
				<th><div class="col-md-4 column">
				Date &amp; Time
				</div></th>
				<th><div class="col-md-4 column">
				Patient&nbsp;(Sex/Age)
				</div></th>
				<th><div class="col-md-4 column">
				Appointment
				</div></th>
			</div>
			</tr>
			</thead>
			@for(appointment <- appointments){
			@if(appointment.doctorClinicInfo.active){
			<tr>
			<div class="row clearfix">
				<div class="col-md-3 column">
				<td>@appointment.doctorClinicInfo.clinic.name</td>
				</div>
				<div class="col-md-3 column">
				<td>@appointment.appointmentTime.format("dd-MMM-yy HH:mm")</td>
				</div>
				<div class="col-md-3 column">
				<td>@{appointment.requestedBy.name}&nbsp;(@appointment.requestedBy.getPatient().getSexAndAge())</td>
				</div>
				<div class="col-md-3 column">
				<td>

				@if(appointment.appointmentStatus.equals(models.doctor.AppointmentStatus.APPROVED)){
					<a href="@routes.DoctorController.showPrescriptionForm(appointment.id)" class="btn btn-sm btn-success"  role="button">Prescription</a>	
				}
				@if(appointment.appointmentStatus.equals(models.doctor.AppointmentStatus.SERVED)){
					<a href="@routes.DoctorController.showPrescription(appointment.getPrescription().id)" class="btn btn-sm btn-primary"  role="button">View Prescription</a>				
				}
				@*
				<a href="http://www.google.com" class="btn btn-sm btn-default"  role="button">Delete</a>
				<a href="http://www.google.com" class="btn btn-sm btn-danger"  role="button">Edit</a>
				*@

				</td>
				</div>
			</div>
			</tr>
			}
			
			}
		</table>
		</div>
		@for(docClinic <-  docClincs){
			<div class="tab-pane fade" id="@docClinic.clinic.id">
				<table class="table table-condensed table-hover">
			<thead>
			<tr>
			<div class="row clearfix">
				<th><div class="col-md-4 column">
				Date &amp; Time
				</div></th>
				<th><div class="col-md-3 column">
				Patient&nbsp;(Sex/Age)
				</div></th>
				<th><div class="col-md-3 column">
				Appointment
				</div></th>
			</div>
			</tr>
			</thead>
			@for(appointment <- appointments){
			@if(appointment.doctorClinicInfo.id==docClinic.id){
				<tr>
			<div class="row clearfix">
				<div class="col-md-3 column">
				<td>@appointment.appointmentTime.format("dd-MMM-yy HH:mm")</td>
				</div>
				<div class="col-md-3 column">
				<td>@{appointment.requestedBy.name}&nbsp;(@appointment.requestedBy.getPatient().getSexAndAge())</td>
				</div>
				<div class="col-md-3 column">
				<td>
				
				@if(appointment.appointmentStatus.equals(models.doctor.AppointmentStatus.APPROVED)){
					<a href="@routes.DoctorController.showPrescriptionForm(appointment.id)" class="btn btn-sm btn-success"  role="button">Prescription</a>	
				}
				@if(appointment.appointmentStatus.equals(models.doctor.AppointmentStatus.SERVED)){
					<a href="@routes.DoctorController.showPrescription(appointment.getPrescription().id)" class="btn btn-sm btn-primary"  role="button">View Prescription</a>				
				}
				
				@*
				<a href="http://www.google.com" class="btn btn-sm btn-default"  role="button">Delete</a>
				<a href="http://www.google.com" class="btn btn-sm btn-danger"  role="button">Edit</a>
				*@
				
				</td>
				</div>
			</div>
			</tr>
			}
			}
			
		</table>
			</div>
			}
		
	</div>
	
	
	<script>
	$('#my-tab a').click(function (e) {
		  //e.preventDefault()
		  $(this).tab('show')
		})
	</script>
	



}
