@(list:List[models.doctor.DoctorClinicInfo])

@import play.i18n._

@main(Messages.get("myclinics.label")){

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Delete Clinic</h4>
      </div>
      <div class="modal-body">
       	All appointments at this clinic will be cancelled and the Clinic will be deleted permanently.
       	<br><br>
       	Are you sure?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
        <button id="del" type="button" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>


<div class="col-md-offset-3 col-md-6">
<table class="table table-bordered table-condensed">
	<thead>
		<tr>
			<th>Name</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		@for(info <- list){
			<tr>
				<td>@info.clinic.name</td>
				<td><a class="btn btn-info btn-xs" href="@routes.DoctorController.manageClinic(info.id)">Manage</a>
				<button id="@info.id" class="btn btn-info btn-xs  delete" data-toggle="modal" data-target="#myModal">
				Delete
				</button></td>
			</tr>
		}
	</tbody>
</table>
</div>
<script>
var id;
$(".delete").click(function(){
	id=this.id;
});

$("#del").click(function(){
	window.location.href = "/doctor/delete-clinic/"+id;
	});


</script>
}
