@(list:List[models.doctor.DoctorClinicInfo])

@import play.i18n._

@main(Messages.get("myclinics.label")){

<div class="col-md-6">
<table class="table table-bordered table-condensed">
	<thead>
		<tr>
			<th>Name</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		@for(info <- list){
			<tr>
				<td>@info.clinic.name</td>
				<td><a class="btn btn-info btn-xs" href="@routes.DoctorController.manageClinic(info.id)">Manage</a><a class="btn btn-danger btn-xs" href="@routes.DoctorController.deleteClinic(info.id)">Delete</a></td>
			</tr>
		}
	</tbody>
</table>
</div>

}
