@()
@main("Add Patient"){
	<div class="container">
	<form id="form" class="form-horizontal" action="@routes.DoctorController.addNewPatient()" method="POST" data-toggle="validator">
  	<div class="col-md-4">
  	
  	<div class="form-group">
	<label for="name">Name *</label>
	<input type="text"  class="form-control" name="name" required>
	</div>
	
  	<div class="form-group">
	<label for="Email Id">Email Id *</label>
	<input type="text"  id="email" class="form-control" name="email" required>
	</div>
	<div class="form-group">
	<label for="Contact Number">Contact Number *</label>
	<input type="text"  class="form-control" name="contactNo" required>
	</div>
	      
	<div class="form-group">
      <label for="inputSex" class="col-lg-2 control-label">Sex*</label>
      <div class="col-lg-10">
        <select id="inputSex" name="sex">
			@for((k,v) <- Sex.options()){
				<option value="@k">@v</option>
			}
        </select>
      </div>
    </div>
	
	<div class="form-group">
      <label for="inputDOB">Birth Date *<br><span style="font-size:10px;"><b>(DD-MM-YYYY)</b></span></label>
		<div class="input-append date myDatepicker" data-date="01-01-1990" data-date-format="dd-mm-yyyy">
			<input id="dob-datepicker" class="span2" size="16" type="text" name="dob">
			<span class="add-on"><i class="icon-th"></i></span>
      </div>
    </div>
    
	<input type="submit" onclick="return validate();" class="btn btn-primary btn-sm" value="Add">
	</div>
	</form>
	</div>

<script>
$('.myDatepicker').each(function() {
var nowTemp = new Date();
var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
var checkin =$('#dob-datepicker').datepicker({
	  format: 'dd-mm-yyyy',
	  onRender: function(date) {
		    return date.valueOf() > now.valueOf() ? 'disabled' : '';
	  },
})
});
</script>
 <script>
     $(document).ready(function(){
    $("#email").blur(function(){
     var email = $("#email").val().trim();
     if(email == ""){
     alert("Enter Email ID");
     return false;
     }
     $.get('/secure-doctor/search-patient-process/'+email, function(data){
	if(data.trim() == 0){
	return false;
	}
	if(data.trim() == 2){
	alert(email+" Already existed in MednetWork but not as Patient. Try with another Email Id");
	return false;
	}	
	if(data.trim() == 1){
	$('#myModal').modal('show');
	}
	
	});
   
  });
  });
  
  function addPatient(){
  var email = $("#email").val().trim();
  alert(email);
  window.location.href = '/secure-doctor/add-patient/'+email.trim();
  }
  function validate(){
  if($('#inputSex').val() == "" || $('#dob-datepicker').val() == ""){
  alert("(*) fields are Mandatory");
  return false;
  }
  
  }
  
</script>

}

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
              <div class="modal-body">
                Patient already existed in Mednetwork. Do You Like to add?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                <a onclick="addPatient();" class="btn btn-sm btn-success" class="btn btn-primary">Add</button>
        </div>
    </div>
  </div>
</div>