@(searched:Boolean,searchedKey:String,doctorList: List[models.doctor.Doctor])
@import play.i18n._
@import helper.twitterBootstrap._
@import helper._

@main("Search Doctors"){

<div class="well">
<div class="row">

<label for="searchInput">Search For</label>
<input id="searchInput" value="@searchedKey"/>

<a onclick="window.location.href='/doctor/search/'+$('#searchInput').val().trim();" class="btn btn-xs btn-primary">Search</a>

<script>
$("#searchInput").keyup(function (e) {
    if (e.keyCode == 13) {
    	window.location.href='/doctor/search/'+$('#searchInput').val().trim();
    }
});
</script>

</div>
</div>
@if(searched){
	@if(doctorList.size()==0){
		No doctor could be found with the query. 
	}else{
<style>
.badge{
color:#000000;
background-color:#cccccc;
}
#coverborder {
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}
.well{
margin-bottom:0px;
}

</style>	
		<table class="table table-bordered">
		@for((doctor,index) <- doctorList.zipWithIndex){
			@if(index % 2 == 0){
				
			<tr class="row">
				<td class="col-md-6">
				<div class="row" style="padding-left:20px;padding-right:20px">
				<div style="cursor:pointer" onclick="window.location.href='@routes.PublicController.getDoctorWithSlug(doctor.slugUrl)';">
				@if(doctor.backgroundImage != null){
				<img id="coverborder" src="@routes.PublicController.getImage(doctor.id,"backgroundImage")"  width="530" height="170" />
				}else{
				<img id="coverborder" src="/assets/images/bordercover.png" width="530" style="position:relative"/>
				}
				</div>
				<div class="row" style="margin-top:-55px;padding-left:15px">
				<div style="cursor:pointer;width:23%" onclick="window.location.href='@routes.PublicController.getDoctorWithSlug(doctor.slugUrl)';" class="col-md-3">
				@if(doctor.profileImage != null){
				<img src="@routes.PublicController.getImage(doctor.id,"profileImage")" class="thumbnail" width="100" height="100"  />
					}else{
				<img src="/assets/images/doctor.png" class="thumbnail" width="100" height="100"  />
					}
				</div>
				<div style="cursor:pointer;width:47%" onclick="window.location.href='@routes.PublicController.getDoctorWithSlug(doctor.slugUrl)';" class="col-md-5">
				<p style="font-size:18px"><b>@doctor.appUser.name</b></p>
				<p style="font-size:14px"><b>@doctor.specialization</b></p>
				<h6>@doctor.degree</h6>
				<h6>@doctor.experience</h6>
				<br>
				</div>
				<div class="col-md-3 pull-right" style="width:30%;padding-left:15px;padding-top:60px">
				@*<a class="btn btn-primary btn-xs" href="#">Ask Query</a>*@
				<a id="@doctor.id" class="btn btn-success btn-xs pull-right" href="@routes.PublicController.addToFavDoctor(doctor.id)" class="pull-right">Fav&nbsp<i class="fa fa-plus"></i></a>
				@*<a class="btn btn-danger btn-sm" href="@routes.PatientController.deleteMyFavDoctors(patDoc.id)">Remove</a>*@
				</div>
				</div>
				
				
				<div class="well" style="padding-left:3px;padding-right:0px;padding-top:0px;padding-bottom:20px">
				<h4 style="color:#006687;font-weight:bold">Clinics</h4>
				@if(doctor.doctorClinicInfoList.size()==0){
					No clinic created yet
				}
				<ul class="nav nav-tabs">
				@for(docclinic <- doctor.doctorClinicInfoList){
					@if( doctor.doctorClinicInfoList.indexOf(docclinic)==0){
					  <li  class="active"><a href="@{docclinic.id}_clinic" data-toggle="tab">@docclinic.clinic.name</a></li>
					}else{
					 <li><a href="#clinic12" data-toggle="tab">@docclinic.clinic.name</a></li>
					}
				} 
				</ul>
				
				<div class="tab-content">
					@for(docclinic <- doctor.doctorClinicInfoList){
						@if( doctor.doctorClinicInfoList.indexOf(docclinic)==0){
							<div class="tab-pane active" id="@{docclinic.id}_clinic">
								<div class="row">
									<div class="col-md-8">
									<h5><b><a href="#" style="color:#006687"
									>@docclinic.clinic.name</a></b></h5>
										@docclinic.clinic.address.addressLine1<br>
										@docclinic.clinic.address.area<br>
										@docclinic.clinic.address.city<br>
										@docclinic.clinic.address.state<br>
									<i class="fa fa-phone-square"></i> @docclinic.clinic.contactNo<br><br>
									</div>
									<div class="col-md-4">
										<a class="btn btn-success btn-xs" style="float:right" href="/static/new/appointment">Book Appointment</a>
									</div>
								</div>
								<div class="row" style="padding-left:10px">
									@for((key,value)<-docclinic.getScheduleMap()){
										@if(docclinic.getScheduleMap().get(key)!=null){
											<span class="col-md-2" style="font-size:12px;width:14%">@key</span>
										}else{
										<span class="badge col-md-2" style="font-size:12px;width:14%">@key</span>
										}
									}
								</div>	
									<div class="row" style="padding-left:10px">
										@for((key,value)<-docclinic.getScheduleMap()){
											@if(docclinic.getScheduleMap().get(key)!=null){
												<span class="col-md-2" style="font-size:12px;width:14%">@docclinic.getScheduleMap().get(key)</span>
											}else{
											<span class="badge col-md-2" style="font-size:12px;width:14%"></span>
											}
										}
									</div>
							</div>
						}else{<div class="tab-pane" id="clinic1">
								<div class="row">
									<div class="col-md-8">
									<b><a href="@{docclinic.id}_clinic" >@docclinic.clinic.name</a></b>
										<span style="font-size:12px;color:black">@docclinic.clinic.address.addressLine1<br>
										@docclinic.clinic.address.area<br>
										@docclinic.clinic.address.city<br>
										@docclinic.clinic.address.state<br>
									<i class="fa fa-phone-square"></i> @docclinic.clinic.contactNo<br><br></span>
									</div>
									<div class="col-md-4">
										<a class="btn btn-success btn-xs" style="float:right" href="/static/new/appointment">Book Appointment</a>
									</div>
								</div>
								<div class="row" style="padding-left:10px">
									@for((key,value)<-docclinic.getScheduleMap()){
										@if(docclinic.getScheduleMap().get(key)!=null){
											<span class="col-md-2" style="font-size:12px;width:14%">@key</span>
										}else{
										<span class="badge col-md-2" style="font-size:12px;width:14%">@key</span>
										}
									}
								</div>	
									<div class="row" style="padding-left:10px">
										@for((key,value)<-docclinic.getScheduleMap()){
											@if(docclinic.getScheduleMap().get(key)!=null){
												<span class="col-md-2" style="font-size:12px;width:14%">@docclinic.getScheduleMap().get(key)</span>
											}else{
											<span class="badge col-md-2" style="font-size:12px;width:14%"></span>
											}
										}
									</div>
							</div>				
						}
					} 
				</div>
			</div>
		</div>
	<br>
</td>
				
				@if(index == doctorList.size()-1){
						</tr>
					}
				
			}else{
							<td class="col-md-6">
				<div class="row" style="padding-left:20px;padding-right:20px">
				<div style="cursor:pointer" onclick="window.location.href='@routes.PublicController.getDoctorWithSlug(doctor.slugUrl)';">
				@if(doctor.backgroundImage != null){
				<img id="coverborder" src="@routes.PublicController.getImage(doctor.id,"backgroundImage")"  width="530" height="170" />
				}else{
				<img id="coverborder" src="/assets/images/bordercover.png" width="530" style="position:relative"/>
				}
				</div>
				<div class="row" style="margin-top:-55px;padding-left:15px">
				<div style="cursor:pointer;width:23%" onclick="window.location.href='@routes.PublicController.getDoctorWithSlug(doctor.slugUrl)';" class="col-md-3">
				@if(doctor.profileImage != null){
				<img src="@routes.PublicController.getImage(doctor.id,"profileImage")" class="thumbnail" width="100" height="100"  />
					}else{
				<img src="/assets/images/doctor.png" class="thumbnail" width="100" height="100"  />
					}
				</div>
				<div style="cursor:pointer;width:47%" onclick="window.location.href='@routes.PublicController.getDoctorWithSlug(doctor.slugUrl)';" class="col-md-4">
				<p style="font-size:18px"><b>@doctor.appUser.name</b></p>
				<p style="font-size:14px"><b>@doctor.specialization</b></p>
				<h6>@doctor.degree</h6>
				<h6>@doctor.experience</h6>
				<br>
				</div>
				<div class="col-md-4 pull-right" style="width:30%;padding-left:15px;padding-top:60px">
				@*<a class="btn btn-primary btn-xs" href="#">Ask Query</a>*@
				<a id="@doctor.id" class="btn btn-success btn-xs pull-right" href="@routes.PublicController.addToFavDoctor(doctor.id)">Fav&nbsp<i class="fa fa-plus"></i></a>
				@*<a class="btn btn-danger btn-sm" href="@routes.PatientController.deleteMyFavDoctors(patDoc.id)">Remove</a>*@
				</div>
				</div>
				
				
				<div class="well" style="padding-left:3px;padding-right:0px;padding-top:0px;padding-bottom:20px">
				<h4 style="color:#006687;font-weight:bold">Clinics</h4>
				@if(doctor.doctorClinicInfoList.size()==0){
					No clinic created yet
				}
				<ul class="nav nav-tabs">
				@for(docclinic <- doctor.doctorClinicInfoList){
					@if( doctor.doctorClinicInfoList.indexOf(docclinic)==0){
					  <li  class="active"><a href="@{docclinic.id}_clinic" data-toggle="tab">@docclinic.clinic.name</a></li>
					}else{
					 <li><a href="#clinic12" data-toggle="tab">@docclinic.clinic.name</a></li>
					}
				} 
				</ul>
				
				<div class="tab-content">
					@for(docclinic <- doctor.doctorClinicInfoList){
						@if( doctor.doctorClinicInfoList.indexOf(docclinic)==0){
							<div class="tab-pane active" id="@{docclinic.id}_clinic">
								<div class="row">
									<div class="col-md-8">
									<h5 style="color:#006687">
									<b><a href="#" >@docclinic.clinic.name</a></b></h5>
										@docclinic.clinic.address.addressLine1<br>
										@docclinic.clinic.address.area<br>
										@docclinic.clinic.address.city<br>
										@docclinic.clinic.address.state<br>
									<i class="fa fa-phone-square"></i> @docclinic.clinic.contactNo<br><br>
									</div>
									<div class="col-md-4">
										<a class="btn btn-success btn-xs" style="float:right" href="/static/new/appointment">Book Appointment</a>
									</div>
								</div>
								<div class="row" style="padding-left:10px">
									@for((key,value)<-docclinic.getScheduleMap()){
										@if(docclinic.getScheduleMap().get(key)!=null){
											<span class="col-md-2" style="font-size:12px;width:14%">@key</span>
										}else{
										<span class="badge col-md-2" style="font-size:12px;width:14%">@key</span>
										}
									}
								</div>	
									<div class="row" style="padding-left:10px">
										@for((key,value)<-docclinic.getScheduleMap()){
											@if(docclinic.getScheduleMap().get(key)!=null){
												<span class="col-md-2" style="font-size:12px;width:14%">@docclinic.getScheduleMap().get(key)</span>
											}else{
											<span class="badge col-md-2" style="font-size:12px;width:14%"></span>
											}
										}
									</div>
							</div>
						}else{<div class="tab-pane" id="clinic1">
								<div class="row">
									<div class="col-md-8">
									<h5 style="color:#006687">
									<b><a href="@{docclinic.id}_clinic" >@docclinic.clinic.name</a></b>
										<span style="font-size:12px;color:black">@docclinic.clinic.address.addressLine1
										@docclinic.clinic.address.area
										@docclinic.clinic.address.city
										@docclinic.clinic.address.state</h5>
									<i class="fa fa-phone-square"></i> @docclinic.clinic.contactNo<br><br>
									</div>
									<div class="col-md-4">
										<a class="btn btn-success btn-xs" style="float:right" href="/static/new/appointment">Book Appointment</a>
									</div>
								</div>
								<div class="row" style="padding-left:10px">
									@for((key,value)<-docclinic.getScheduleMap()){
										@if(docclinic.getScheduleMap().get(key)!=null){
											<span class="col-md-2" style="font-size:12px;width:14%">@key</span>
										}else{
										<span class="badge col-md-2" style="font-size:12px;width:14%">@key</span>
										}
									}
								</div>	
									<div class="row" style="padding-left:10px">
										@for((key,value)<-docclinic.getScheduleMap()){
											@if(docclinic.getScheduleMap().get(key)!=null){
												<span class="col-md-2" style="font-size:12px;width:14%">@docclinic.getScheduleMap().get(key)</span>
											}else{
											<span class="badge col-md-2" style="font-size:12px;width:14%"></span>
											}
										}
									</div>
							</div>				
							}
						} 
					</div>
				</div>
			</div>
		<br>
	</td>

	</tr>
		
			}
		}
}
</table>	
		<div class="modal fade" id="myModal11" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  		<div class="modal-dialog" style="padding-top:200px">
    	<div class="modal-content" style="padding-left:20px">
      	<h4>Are you to confirm to remove1</h4>
      	<div class="modal-footer">
        <button type="button" class="btn btn-default btn-xs" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btn-xs">Confirm</button>
      	</div>
    	</div>
  		</div>
	</div>
	<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  		<div class="modal-dialog" style="padding-top:200px">
    	<div class="modal-content" style="padding-left:20px">
      	<h4>Are you to confirm to remove1</h4>
      	<div class="modal-footer">
        <button type="button" class="btn btn-default btn-xs" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btn-xs" onclick="window.location.href = '/patient/delete-fav-doc/'+docid;">Confirm</button>
      	</div>
    	</div>
  		</div>
	</div>
	
	
<script>
var docid;
$('#myModal1').on('show.bs.modal', function (e) {
	  docid= $(e.relatedTarget).attr("id");
	});
</script>	
}


}
