@(pharmacyList	: List[models.pharmacist.Pharmacy])
@import play.i18n._
@import helper.twitterBootstrap._
@import helper._

@main("Search Pharmacy"){
	@if(pharmacyList.size()==0){
		No List is created yet
	}else{
	<style>
.badge{
color:#000000;
background-color:#cccccc;
}
#coverborder {
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

</style>

		<table class="table table-bordered">
		@for((pharmacy,index) <- pharmacyList.zipWithIndex){
			
				<tr>

				<td>
				<div class="row" style="padding-left:20px;padding-right:20px" height="500px">
				
				<div style="cursor:pointer" onclick="location.href='@routes.PharmacistController.pharmacyProfile(pharmacy.id)';">@if(pharmacy.backgroundImage != null){<img src="@routes.PharmacistController.getPharmacyImages(pharmacy.id,0)" width="1050" height="250" />}else{<img src="/assets/images/pharmacy-default-bg-image.jpg" width="1050" height="250" />}
				
				</div>
				
				<div class="row" style="margin-top:-145px;padding-left:20px"><div style="cursor:pointer" onclick="location.href='@routes.PharmacistController.pharmacyProfile(pharmacy.id)';" class="col-md-3">
				@if(pharmacy.profileImageList.size() >0){
				<img src="@routes.PharmacistController.getPharmacyImages(pharmacy.id,pharmacy.profileImageList.get(0).id)" class="thumbnail" width="120" height="120"  />
				}else{
				<img src="/assets/images/pharmacy-default-profile-image.jpg" class="thumbnail" width="120" height="120"  />
				}
				</div>
				
				</div>
				<div style="cursor:pointer" onclick="location.href='@routes.PharmacistController.pharmacyProfile(pharmacy.id)';" class="col-md-5">
				<h3>@pharmacy.name</h3>
				@if(pharmacy.address != null){
				<h4>@pharmacy.address.addrressLine1</h4>
				<h5>@pharmacy.address.area</h5>
				<h5>@pharmacy.address.city</h5>
				<h5>@pharmacy.address.state</h5>
				<h5>@pharmacy.contactNo</h5>
				}
				<br>
				</div>
				
				</div>
				
				
				</div>	
				<a class="btn btn-primary btn-xs pull-right" href="#">Ask Query</a>
				</td>	
				</tr>			
				}
				} 
				
				
	}
	
	
	
	
