@(searched:Boolean,searchedKey:String,doctorList: List[models.doctor.Doctor])
@import play.i18n._
@import helper.twitterBootstrap._
@import helper._

@main("Search Doctors"){


<style>
.chosen-container .chosen-single{
	height:37px;
}
.chosen-container .chosen-single span{
	padding-top:5px;
}
.chosen-container .chosen-single b{
	margin-top:7px;
}
</style>
<form id="form>
<div class="well">

<div class="row">

<div id="spezDiv" class="col-md-2" style="width:20%">
	<select class="form-control chzn-no-deselect" data-placeholder="Specialization" name="spez" id="spez" style="width:100%;box-shadow: 1px 1px 1px 1px #aaaaaa; height:120%;">
		<option value="any"></option>
		@for(spez <- models.doctor.MasterSpecialization.getAll()){
			<option value="@spez.name">@spez.name</option>
		}
	</select>
</div>
<div id="locDiv" class="col-md-2" style="width:20%">
	<select class="form-control chzn-no-deselect" data-placeholder="Locality" name="location" id="location" style="width:100%;box-shadow: 1px 1px 1px 1px #aaaaaa; height:120%;">
		<option value="0"></option>
		@for(locality <- PublicController.getPrimaryCityLocations()){
			<option value="@locality.id">@locality.name</option>
		}
	</select>
</div>
<div id="searchDiv" class="col-md-4" style="width:40%">
	<input type="search" style="width:100%;box-shadow: 1px 1px 3px 3px #aaaaaa;"  name="searchKey" id="searchKey" 
	@if(session().get(utils.Constants.CITY_ID) != null){
		placeholder="Doctor's Name or Locality in @models.PrimaryCity.find.byId(Long.parseLong(session().get(utils.Constants.CITY_ID))).name"
	}else{
		placeholder="Doctor's Name or Locality"
	}
	>
</div>
   
<div class="col-md-2" style="width:20%">
	<button style="width:100%;box-shadow: 1px 1px 3px 3px #aaaaaa;" class="btn btn-sm btn-primary pull-right" onclick="submitSearch();"><i class="icon-search icon-large"></i> Search</button>
</div>

</div>

</div>
</form>
<br><br>
<div id="doctorData">
</div>

<script>

$("#searchKey").keyup(function (e) {
    if (e.keyCode == 13) {
    	if($('#searchInput').val() == ''){
    	       	return false;
        }
    	 }
});

function submitSearch(){
var searchString = $('#searchKey').val();
if(searchString.trim() == ""){
searchString = 'any';
}
var spez = $('#spez').find("option:selected").val();
var loc = $('#location').find("option:selected").val();
    alert(loc+" location");
    alert(spez+" spez");
    alert(searchString+" search");
	$.get( '/doctor/search/'+spez+'/'+loc+'/'+searchString.trim(),$('form').serialize(),function( data ) {
				alert(data);
 	  			$("#doctorData").html(data);	
	})
	}
</script>

<script>
var docid;
$('#myModal1').on('show.bs.modal', function (e) {
	  docid= $(e.relatedTarget).attr("id");
	});
</script>	

}
	
	
	
