@charset "utf-8";
/* CSS Document */

body {
	background-color: #000;
	line-height: 22px;
	font-family: 'Muli', sans-serif;
	color: #4c4949
}

body > p{
	-webkit-text-stroke: 0.25px;
}

.headline {
	font-size: 24px;
}

.blue-color {
	color: #008bca;
}
.lightblue-color {
	color: #43ac6a;
}

.lightblue-box {
	background-color: #43ac6a;
}
.blue-box {
	background-color: #008bca;
}

.sub-head {
	font-family: 'Dosis', sans-serif;
	font-size: 24px;
	color: #FFF
}
.sub-head-txt {
	font-family: 'Muli', sans-serif;
	font-size: 14px;
	color: #000;
	line-height: 18px;
}

/* --- added---.hr {
 background-color: #008bca;
 height: 1px;
 width: 955px;
 }*/
hr {
	/*
	height: 0.2em;
	background-color: #008bca;
	width: 925px;
	*/
	
	height:0.10em; 
	background-color:#008bca;
	
}

/* inner page */

.main-links {
	font-family: 'Dosis', sans-serif;
	font-size: 18px;
	color: #008bca
}

a:link {
	color: #008bca;
}/* unvisited link */
a:visited {
	color: #008bca;
}/* visited link */
a:hover {
	color: #000;
}/* mouse over link */
a:active {
	color: #000;
}/* active link */

.content {
	background-color: #FFFFFF;
}

.footer {
	/*color: #FFFFFF; */
	/* ---added---
	 font: Economica;*/
	color: white; 
	font-family: 'Muli', sans-serif;
}

.footer-heading {
	color: #505050;
	font-size: 14px;
}

/* ---added--- */
#approachh4 {
	color: #008bca;
	padding-left: 40px;
}
.approachp {
	padding-left: 40px;
}

.top-navbar {

	font-family: 'Dosis', sans-serif;
	color: #008bca;
	font-size: 18px;
	text-align: center;
	text-shadow: 0px 0px 0.0em #008bca;
}
.topbar {
	float: right;
}
#spacing{
	line-height:35px;
}
#logo {
	cursor: pointer;
}
.head-line{
	color:#008bca; 
	font-size:20px;
}
.black{
	color:#292929;
}
#bck-black{
	background-color:#292929;
}
.career-table{
	font-family: 'Dosis', sans-serif;
	font-size: 20px;
	background-color: #008bca;
	height: 15px;
	text-align: center;
	padding: 15px;
	border-top:3px solid white;
	border-right:3px solid white;
}
.table-head-carousel{
	font-family: 'Dosis', sans-serif;
	font-size: 20px;
	background-color: #43ac6a;
	height: 20px;
	text-align: left;
	padding: 15px
}
.table-top-carousel{
	font-family: 'Muli', sans-serif;
	background-color: #008bca;
	color: black;
	font-size: 12px;
	height: 30px;
	text-align: left;
	padding: 10px;
	line-height: 1;
}
.thblack{
	background-color:#292929;
}
th a{
	color:white;
}
#copyright {
	bottom: 2px;
	text-align: center;
	font-size: 12px;
}
.right-border-footer ul {
	border-right: thin green solid;
	height: 187px;
	position: relative;
	bottom: 18px;
}
.container {
	padding-left: 30px;
	padding-right: 30px;
}
.span {
	width: 200px;
}
.row-fluid .span {
	width: 23.4%;
	*width: 23.4%;
}
.span80 {
	width: 80px;
	padding-left: 14px;
	text-align:center;
}
.span280 {
	width: 280px;
}
.span600 {
	width: 600px;
}
.span640 {
	width: 640px;
}
.span660 {
	width: 660px;
}
.span680 {
	width: 680px;
}

.roundedges {
	/*
	 border:10px solid #a1a1a1;
	 padding:20px 40px;
	 background:#dddddd;
	 width:300px;
	 */
	border: 1px solid #EEEEEE;
	width: 200px;
	height: 250px;
	/*
	border-top-left-radius: 32px;
	border-bottom-right-radius: 32px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	box-shadow: 2px 3px 2px #CCC;
	*/
}
.homeroundedges {
	/*
	 border:10px solid #a1a1a1;
	 padding:20px 40px;
	 background:#dddddd;
	 width:300px;

	 */
	border: 1px solid #EEEEEE;
	/*
	border-top-left-radius: 2em;
	border-bottom-right-radius: 2em;
	border-top-right-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
	box-shadow: 5px 0px 5px #CCC;
	*/
}
.btn-link:hover, .btn-link:focus {
	/*
	 background-color: transparent;
	 */
	background-color: #EEEEEE;
}
/*
.border-rounded-images {
	border-top-left-radius: 2em;
	border-bottom-right-radius: 2em;
	border-top-right-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
}
*/
.borderclass {
	border: 1px solid #26BFBF;
	width: 200;
	/*
	border-top-left-radius: 1em;
	border-bottom-right-radius: 1em;
	border-top-right-radius: 1em;
	border-bottom-left-radius: 1em;
	*/
}
.circled {
	/*
	 border:10px solid #a1a1a1;
	 padding:20px 40px;
	 background:#dddddd;
	 width:300px;
	 */
	border: 1px solid #EEEEEE;
	width: 250px;
	height: 250px;
	border-top-left-radius: 250px;
	border-bottom-right-radius: 250px;
	border-top-right-radius: 250px;
	border-bottom-left-radius: 250px;
}
a.prev, a.next {
	width: 20px;
	height: 10px;
	display: block;
	position: absolute;
}
a.prev {
	left: 0px;
	background-position: 0 0;
	/*top: -65px;*/
}
a.prev:hover {
	background-position: 0 -50px;
}
a.prev.disabled {
	background-position: 0 -100px !important;
}
a.next {
	right: -960px;
	background-position: -50px 0;
	/*top: -65px;*/
}
a.next:hover {
	background-position: -50px -50px;
}
a.next.disabled {
	background-position: -50px -100px !important;
}
a.prev.disabled, a.next.disabled {
	cursor: default;
}

a.prev span, a.next span {
	display: none;
}

.clearfix {
	float: none;
	clear: both;
}
#map_canvas {
	width: 770px;
	height: 300px;
	border: thin #008bca solid;
}	

/* Footer css added ---*/	
.footerhome a {
	color: white;
}
.footspan1 {
	font-size: 12px;
	color: white;
	width: 150px;
}
.footspan2 {
	font-size: 12px;
	color: white;
	width: 200px;
	border-left: thin #008bca solid;
	position: relative;
	height: 220px;
}
.footspan3 {
	font-size: 12px;
	color: white;
	width: 150px;
	border-left: thin #008bca solid;
	position: relative;
	height: 220px;
}
.footspan4 {
	font-size: 12px;
	color: white;
	width: 250px;
	border-left: thin #008bca solid;
	position: relative;
	height: 220px;
}
.footspan5 {
	font-size: 12px;
	color: white;
	width: 100px;
	border-left: thin #008bca solid;
	position: relative;
	height: 220px;
}
.footpad {
	padding-left: 20px;
}
.footspan1 ul {
	list-style-type: none;
	text-align: left;
	margin: 0px;
}
.footspan1 a {
	color: white;
}
.footspan2 ul {
	list-style-type: none;
	text-align: left;
	margin: 0px;
}
.footspan2 a {
	color: white;
}
.footspan3 ul {
	list-style-type: none;
	text-align: left;
	margin: 0px;
}
.footspan3 a {
	color: white;
}
.footspan4 ul {
	list-style-type: none;
	text-align: left;
	margin: 0px;
}
.footspan4 a {
	color: white;
}
.footspan5 ul {
	list-style-type: none;
	text-align: left;
	margin: 0px;
}
.footspan5 a {
	color: white;
}
.footer-heading a {
	color: #505050;
	font-size: 14px;
	text-shadow: 1px 0px 1px #505050;
}