@(appUser : models.AppUser,docClinicInfo : models.doctor.DoctorClinicInfo,email : String)
@main("New Patient Form"){
	<div class="container">
	   @if(appUser == null){
	<form id="form" class="form-horizontal" action="@routes.ClinicController.savePatientProfile(docClinicInfo.id)" method="POST" data-toggle="validator">
	}else{
	<form id="form1" class="form-horizontal" action="@routes.ClinicController.verifyMobileConfirmationCode(appUser.id,docClinicInfo.id)" method="POST" data-toggle="validator">
	}
  	<div class="col-md-4">
  	
  	<div class="form-group">
	<label for="Email Id">Name</label>
	<input type="text"  class="form-control" name="name" required @if(appUser != null){value="@appUser.name"} placeholder="Name Of The Patient">
	</div>
	
  	<div class="form-group">
	<label for="Email Id">Email Id</label>
	<input type="text"  class="form-control" name="email" required @if(appUser != null){value="@appUser.email"}else{value="@email"} placeholder="Enter EmailId">
	</div>
	
	<div class="form-group">
	<label for="Contact Number">Contact Number</label>
	<input type="text"  class="form-control" name="contactNo" required @if(appUser != null){value="@appUser.mobileNumber"} placeholder="Enter Mobile No">
	</div>
	
	 <div class="form-group">
      <label for="inputSex" class="col-lg-2 control-label">Sex*</label>
      <div class="col-lg-10">
        <select id="inputSex" name="sex">
			@for((k,v) <- Sex.options()){
				<option value="@k">@v</option>
			}
        </select>
      </div>
    </div>
		
	<div class="form-group">
      <label for="inputDOB">Birth Date*<br><span style="font-size:10px;"><b>(DD-MM-YYYY)</b></span></label>
		<div class="input-append date myDatepicker" data-date="01-01-1990" data-date-format="dd-mm-yyyy">
			<input id="dob-datepicker" class="span2" size="16" type="text" name="dob" @if(appUser != null && appUser.dob != null){value="@appUser.dob.format("dd-MMM-yyyy")"}>
			<span class="add-on"><i class="icon-th"></i></span>
      </div>
    </div>
    @if(appUser == null){
    <div class="form-group">
	<input type="submit" class="btn btn-primary btn-sm" value="Save" />
	</div>
	}else{
		<div class="form-group">
	<label for="Verification Code">Mobile Confirmation Code</label>
	<input type="text"  class="form-control" id="code" name="code" required placeholder="Enter Verification Code">
	</div>
	
	<div class="form-group">
	<input type="submit"  class="btn btn-success btn-sm" value="Confirm" />
	</div>
	}
	</div>
	</form>
	</div>

<script>
$('.myDatepicker').each(function() {
var nowTemp = new Date();
var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
/*var checkin =$('#dob-datepicker').datepicker({
	  format: 'dd-mm-yyyy',
	  onRender: function(date) {
		    return date.valueOf() > now.valueOf() ? 'disabled' : '';
	  },
})*/
var datePicker = $('#dob-datepicker').val();
if($('#dob-datepicker').val() != ""){
$('#dob-datepicker').datepicker({
	  format: 'dd-mm-yyyy',
	  onRender: function(date) {
		    return date.valueOf() > now.valueOf() ? 'disabled' : '';
	  },
})
}else{
$('#dob-datepicker').datepicker('hide');
}
});

</script>
}

	







