@(docClinics : List[models.doctor.DoctorClinicInfo])
@import play.i18n._
@import helper.twitterBootstrap._
@import helper._

@main("Clinic Doctors"){

<div class="row" style="padding:15px;">
<table class="table table-hover">
<tr class="info">
<th>S.NO</th>
<th>Doctor</th>
<th>Today's <br> Total Appointments</th>
<th>Today's <br> Pending Appointments</th>
<th>Today's <br> Prescriptions</th>
<th>Action</th>
</tr>

@for((docClinic,index) <- docClinics.zipWithIndex){
<tr>
<td align="justify">@{index+1}</td>
<td align="justify">
<p style="font-size:13px;">
	<span style="font-size:18px;">Dr. @docClinic.doctor.appUser.name</span><br>
	@docClinic.doctor.degree<br>
	@docClinic.doctor.getSpecializations()
</p>
</td>
<td align="justify">@docClinic.doctor.getDoctorClinicAppointmentCount(docClinic.clinic.id)</td>
<td align="justify">@docClinic.doctor.getDoctorClinicPendingAppointmentCount(docClinic.clinic.id)</td>
<td align="justify">@docClinic.doctor.getDoctorClinicPrescriptionCount(docClinic.clinic.id)</td>
<td align="justify">
	<a href="@routes.ClinicController.viewClinicWeeklyAppointments(docClinic.id)" class="btn btn-primary btn-sm">View Calendar</a>
	<a href="@routes.ClinicController.bookAppointmentForm(docClinic.id)" class="btn btn-success btn-sm">Book Appointment</a>
</td>
</tr>
}

</table>
</div>

}

