@(clinic: models.doctor.Clinic)


@main(clinic.name) {

<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

<script>
	var i = 0;
	function addfiles() {
		i++;
		$("#files")
				.append(
						'<div class="row" id="file'+i+'"><br><div class="col-md-5"><input type="file" name="file'+i+'" id="inputfile'+i+'" onchange="checkfile('+i+');"/></div><div class="col-md-7"><a class="btn btn-xs btn-danger" onclick="removebut(\'file'
								+i+'\');">x</a></div></div>');
		$("#inputfile"+i).trigger('click');
	}

	function checkfile(id){
		$('#insertfn-'+id).html($("#inputfile"+id).val().trim());
	}

	function removebut(id) {
		$('#'+id).remove();
	}

</script>

<style>
.container{
	padding-left: 30px;
	padding-right: 30px;
	width:1032px;
}
.chosen-container .chosen-container-single{
width:250px;
.alert-success{
background-image: linear-gradient(to bottom,#dff0d8 0,#c8e5bc 100%);
background-repeat: repeat-x;
border-color: #b2dba1;
color:black;
}

}


.slugUrlP .popover{
  max-width: none;
  width:450px;
}

.dottedU{    
    border-bottom: 1px dotted #fff;
    text-decoration: none;
}

</style>

<script>
$('[data-toggle="popover"]').popover();
$('body').on('click', function (e) {
    $('[data-toggle="popover"]').each(function () {
        if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
            $(this).popover('hide');
        }
    });
});
    
</script>	







@if(clinic.backgroudImage != null){
	<div style="background-image:url('@routes.PublicController.getClinicImages(clinic.id,0)');background-size:940px 400px; background-repeat:no-repeat; height:400px;"></div>
}else{
	<div style="background-image:url('/assets/images/diagnosticBackgroundImage.jpg');background-size:940px 400px; background-repeat:no-repeat; height:400px;"></div>
}

</div>
<div class="row" style="margin-top:-235px">
<div class="col-md-1"></div>
<div class="col-md-10" >

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  
  
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  
  
  
  @if(clinic.profileImageList.size()>0){
  <ol class="carousel-indicators">
  @for((profileImages,index) <- clinic.profileImageList.zipWithIndex){
    <li data-target="#carousel-example-generic" data-slide-to="0" class="@if(index == 0){active}"></li>
    }
  </ol>
    
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
  @for((profileImages,index) <- clinic.profileImageList.zipWithIndex){
    <div class="item @if(index == 0){active}">
      <img src="@routes.PublicController.getClinicImages(clinic.id,profileImages.id)" alt="clinic1" style="height:300px; width:800px;"/>
    </div>
	}
  </div>
  }else{
  
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
   </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="/assets/images/4499839083_aeda0dc687_z.jpg" alt="bloodBank Pic" style="height:300px; width:800px;"/>
    </div>
  </div>
  
  }
  
  
  
  
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev" style="width:0px">
    <span class="glyphicon glyphicon-chevron-left" style="margin-left:-40px;color:#006687"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next" style="width:0px">
    <span class="glyphicon glyphicon-chevron-right" style="left:20px;color:#006687"></span>
  </a>
</div>


</div>
<div class="col-md-1"></div>


<h1 style="text-shadow:10px 10px 10px white, 3px 3px 20px white; position:relative; top:-400px; text-align:center;font-weight:bold;color:#006687">
@clinic.name

   
</h1>
</div>
</div>

<div class="alert alert-success" >
<p style="align:justify; margin-top:0px;">
	@clinic.description	 
</p>
</div>

<div class="row" style="padding:15px;">

<div class="col-md-10">

<div class="col-md-5">



@if(clinic.address != null){
<h5>@clinic.contactPersonName<span data-toggle="modal" data-target="#myaddrModal" style="cursor:pointer; position:relative; left: 20px; font-size:20px;"><i id="spinner2" class="fa fa-cog"></i></span></h5>
<h5>@clinic.address.addressLine1</h5>
@if(clinic.address.locality != null){
<h5>@clinic.address.locality.name</h5>
}
@if(clinic.address.primaryCity != null){
<h5>@clinic.address.primaryCity.name</h5>
}
<h5>@clinic.address.pinCode</h5>
@if(clinic.address.state != null){
<h5>@clinic.address.state.capitalize()</h5>	
}
}
<i class="fa fa-phone-square"></i> @clinic.contactNo

</div>

<div class="col-md-7">
	@if(clinic.address != null){
	<div id="profile_map_canvas" style="width:600px;height:400px">
	</div>
	}
</div>


</div>

</div>

<br><br><br>

</div>









<script>

var lng, lat, marker;
var dbclk = false;
var map, myLatLng;
function initialize(mapdiv) {
	var mapOptions = {
		center : new google.maps.LatLng(lat, lng),
		zoom : 15
	};
	map = new google.maps.Map(document
			.getElementById(mapdiv), mapOptions);

	//  map.set("disableDoubleClickZoom", false);

	
	if(mapdiv == 'map_canvas'){
		marker = new google.maps.Marker({
			position : myLatLng,
			draggable : true,
			animation : google.maps.Animation.DROP,
			map : map
		});

		$("#lat1").val(lat);
		$("#lng1").val(lng);

		//On click event of map marker should get relocated
		google.maps.event.addListener(map, 'click', function(
				event) {
			marker.setPosition(event.latLng);
			$("#lat1").val(event.latLng.lat());
			$("#lng1").val(event.latLng.lng());
		});
		// After dragging the marker
		google.maps.event.addListener(marker, 'dragend',
				function(event) {
					$("#lat1").val(event.latLng.lat());
					$("#lng1").val(event.latLng.lng());
		});
	}

	if(mapdiv == 'profile_map_canvas'){
		marker = new google.maps.Marker({
			position : myLatLng,
			draggable : false,
			animation : google.maps.Animation.DROP,
			map : map
		});
	}

	
}


$( document ).ready(function() {
$("#city").blur(function() {
	$("#map_canvas").html('');
	var geocoder = new google.maps.Geocoder();
	//var streetname=$("#streetName").val();
	var area=$("#area").val();
	geocoder.geocode({
		'address' : area+this.value
	}, function(results, status) {
		if (status == google.maps.GeocoderStatus.OK) {
			//alert("location : " + results[0].geometry.location.lat() + " " +results[0].geometry.location.lng()); 
			myLatLng = results[0].geometry.location;
			lat = results[0].geometry.location.lat();
			lng = results[0].geometry.location.lng();
			initialize('map_canvas');
		} else {
			alert("Something got wrong " + status);
		}
	});
	// google.maps.event.addDomListener(window, 'load', initialize);
});
});

</script>




@if(clinic.address != null && clinic.address.latitude!= null && clinic.address.longitude != null && clinic  .address.latitude.trim().compareToIgnoreCase("") != 0 && clinic.address.longitude.trim().compareToIgnoreCase("") != 0){
<script>
		window.onload=function(){
			lat = @clinic.address.latitude
			lng = @clinic.address.longitude
			myLatLng= new google.maps.LatLng(lat, lng),
			google.maps.event.addDomListener(window, 'load', initialize('profile_map_canvas'));
			$('#myaddrModal').on('shown.bs.modal', function (e) {
				initialize('map_canvas');
			});
		};
		
</script>
}




<script>
	$('#myaddrModal').on('shown.bs.modal', function (e) {
		$('#statesel').chosen();
	});
</script>




<script>
	
$('#slugpopover').on('shown.bs.popovecityr', function () {
	$('#new-slugUrl').keypress(function(e) {
	    e = e || event;
    	var s = String.fromCharCode(e.charCode);
    	if(
    		(s.match(/[a-z]/))
    		||
    		(s.match(/[0-9]/))
    		||
    		(s.match(/[-]/))
    		){
    			return true;
    		}
			return false;
	});
});

</script>
}

