@(doctor : models.doctor.Doctor,searchKey : String)
@import play.i18n._
@import helper.twitterBootstrap._
@import helper._

@main("Search Doctors"){

<div class="well">

@*<form action="@routes.ClinicController.processSeachDoctorsByEmailId()" method="POST">*@
<div>
 <label for="emailId">Email Id </label>
	<input type="search" style="box-shadow: 1px 1px 3px 3px #aaaaaa;"  name="email" id="email" placeholder="Search By Email Id" required>
</div>
<br>
<div>
<label for="confirmEmailId">Confirm EmailId </label>
	<input type="search" style="box-shadow: 1px 1px 3px 3px #aaaaaa;"  name="confirmEmailId" id="confirmEmailId" placeholder="Enter the same Email Id" required>
</div>
   <br>
<div>
	<button style="box-shadow: 1px 1px 3px 3px #aaaaaa;" class="btn btn-sm btn-primary" onclick="submitSearch();"><i class="icon-search icon-large"></i> Invite</button>
</div>

<script>
function submitSearch(){
	var email = $('#email').val().trim();
	var confirmEmailId = $('#confirmEmailId').val().trim();
    	if(email == confirmEmailId){
    		alert("matched");
    		 window.location.href='/secure-clinic/invite-doctor/'+$('#email').val().trim();
    	}
    	alert("Emails not matched");
       
    }

</script>
</div>

}