@(searchKey: String,loc : models.Locality,flag : Boolean)

@import play.i18n._
@import helper.twitterBootstrap._
@import helper._

@main("Search Clinics"){
<div class="well">
<div class="row">
<div id="locDiv" class="col-md-2" style="width:20%">
	<select class="form-control chzn" data-placeholder="Select Locality" name="location" id="location" style="width:100%;box-shadow: 1px 1px 1px 1px #aaaaaa; height:120%;">
	<option></option>
		@if(loc != null){
		<option value="@loc.id">@loc.name</option>
		}
		@for(locality <- PublicController.getPrimaryCityLocations()){
			<option value="@locality.id">@locality.name</option>
		}
	</select>
</div>
	<div id="searchKey" class="col-md-5" style="width:70%">
		<input id="searchInput" value="@searchKey" style="width:80%;"
			@if(searchKey != ""){
			value="@searchKey"
			}else{
			@if(session().get(utils.Constants.CITY_ID) != null){
			placeholder="Clinic Name in @models.PrimaryCity.find.byId(Long.parseLong(session().get(utils.Constants.CITY_ID))).name"
			}else{
		placeholder="Clinic Name"
	}
	}

/>
</div>
<button onclick="validateSubmit();" class="btn btn-xs btn-primary">Search</button>

</div>
</div>
<div id="my-clinic">
</div>
<script>
window.onload = function(){
$(".chzn").chosen({allow_single_deselect: true});
}


$("#searchInput").keyup(function (e) {
    if (e.keyCode == 13) {
    	if($('#searchInput').val().trim() == ''){
        	return false;
        }
    	//window.location.href='/clinic/search/'+$('#searchInput').val().trim();
    }
});


function validateSubmit(){
var searchKey = $('#searchInput').val().trim();
var loc = $('#location').val();
if(searchKey == ''){
searchKey = "any";
}
if(loc == null || loc == ''){
loc = "0";
}
$.get('/clinic/search/'+searchKey+'/'+loc, function(data){
	$('#my-clinic').html(data);
});

//window.location.href='/clinic/search/'+searchKey+'/'+loc;
}
</script>

<br><br>


}
