@(title: String, desc: String, keys: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
    
	@if(title != null && title != ""){
		<title>@title</title>
		<meta property="og:title" content="@title" />
  	}else{
		<title>MedNetwork Blogs</title>
	}
	@if(desc != null && desc != ""){
		<meta name="description" content="@desc">
		<meta property="og:description" content="@desc" />
	}else{
		<meta name="description" content="MedNetwork is a platform which integrates the efforts of all stakeholders invloved in the healthcare sector viz. Doctors, Patients, Pharmacies, Pharmaceutical Companies, Diagnostic Centres, Blood Banks etc.">
	}
	@if(keys != null && keys != ""){
		<meta name="keywords" content="@keys">
	}else{
		<meta name="keywords" content="mednetwork, med, network, doctor, patient, mr, medical representative, pharma, pharmaceutical, medical, pharmacy, diagnostic, blood bank">
	}
	<meta charset="UTF-8">
        
        <link href='http://fonts.googleapis.com/css?family=Muli|Dosis' rel='stylesheet' type='text/css'>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.ico")">
        
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("blog/application.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("blog/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("blog/med.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("font-awesome-4.0.3/css/font-awesome.min.css")">
        
        <script src="@routes.Assets.at("blog/application.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("blog/jquery.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("blog/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("blog/jquery.carouFredSel-6.2.1-packed.js")" type="text/javascript"></script>
    
</head>


<body>

  	 	
<div class="container content">

  	       
	<br>
	
	<div class="row topheader">
		
	<div class="" style="float:left; margin-top: -18px; padding-left: 20px;">
		<a class="top-navbar" style="" href="/">
			<img src="@routes.Assets.at("blog/images/mednlogo.png")" alt="MedNetwork Blog" class="logo-image" style="background-color:white;"/>
		</a>
	</div>
	
	<div class="" style="float:left; margin-top: 10px; margin-left:15px;">
		<p id="home-panel-text" style="color:white; font-size: 1.3em;">MedNetwork Blog</p>	
	</div>
	
	<div class="hide-for-admin" style="float:right; margin-top: 10px; margin-right: 35px; background-color:transparent;">
		<a href="https://twitter.com/mednetworkindia" target="_blank"><img alt="Twitter" src="@routes.Assets.at("blog/images/twitter.png")" /></a>
	  	<a href="https://www.facebook.com/mednetwork.in" target="_blank"><img alt="Facebook" src="@routes.Assets.at("blog/images/facebook.png")" /></a>
	  	<a href="/contact-us"><img alt="Contact" src="@routes.Assets.at("blog/images/contact.png")" /></a>
		<!--
		<a href="" target="_blank"><img alt="Youtube" src="/blog/images/youtube.png" /></a>
		<a href="" target="_blank"><img alt="In" src="/blog/images/in.png" /></a>
	  	<a href="" target="_blank"><img alt="Pinterest" src="/blog/images/pinterest.png" /></a>
	  	<a href="" target="_blank"><img alt="Gplus" src="/blog/images/gplus.png" /></a>
	  	-->
	</div>
	
	<div style="float:right;">
		&nbsp;
	</div>
	
	<div class="hide-for-admin" style="float:right; margin-top: 10px;">
		@*
		<input id="q" type="text" name="q" value="<%= @query %>" placeholder="search" style="color:#006532; border-color:#006532;height: 1em;" >
		*@
	</div>
	
	</div>
	<br>
  	
  	<script>
	  	$('#q').keypress(function(event){
			var keycode = (event.keyCode ? event.keyCode : event.which);
			if(keycode == '13'){
				var searchfor = $("#q").val();
				window.location='/search-results/?q='+searchfor;
			}
		});
  	</script>

			<!--
			<br>
			<br>
			<div class="row" id="admin-header">
				<div class="hide-for-admin" style="margin-bottom:-27px; width:28px; padding-left: 20px;">
					<a class="top-navbar" style="" href="/"><%=# image_tag("home-icon.png", :style => "height:28px; width:28px;") 
					%></a>
				</div>
				<div class="span80 hide-for-admin" style="margin-left: 60px;">
					<a class="top-navbar" href="/communities/"> Communities </a>
				</div>
				<div class="span80 hide-for-admin">
					<a class="top-navbar" href="/models/"> Models </a>
				</div>
				<div class="span80 hide-for-admin">
					<a class="top-navbar" href="/platforms/"> Platforms </a>
				</div>
				<div class="span80 hide-for-admin">
					<a class="top-navbar" href="/our-work/"> Our Work </a>
				</div>
				<div class="span80 hide-for-admin">
					<a class="top-navbar" href="/impact/"> Impact </a>
				</div>
				<div class="span80 hide-for-admin">
					<a class="top-navbar" href="/knowledge/"> Knowledge </a>
				</div>
				<div class="span80 hide-for-admin">
					<a class="top-navbar" href="/about-us/"> About Us </a>
				</div>
				<div class="span80 hide-for-admin">
					<a class="top-navbar" href="/careers/"> Careers </a>
				</div>
			</div>

			
			<hr style="position:relative; height:1px; background-color:#0066FF; margin-top: 0px; left:18px; width: 922px; border:0px;">
			
			-->



@*
<!--   Showing top carousel for models and platforms   -->
<% if (@top_carousel == true) %>
    	<p style="color:#006687; font-size:20px"><span style="cursor:pointer;" onclick="window.location.href='/';">Home</span> &gt; <span style="cursor:pointer;" onclick="window.location.href='/#<%= @selected_entity.case_studies.first.url %>';"><%= @top_line_name %></span> <span style="color:#494646"><%= @top_line_tagline %></span></p>
		<div class="row">
				<div class="wrapper-carousel">
				<div id="top-carousel">
					<% if (@carousel_entities != nil) %>
						<% i = 0 %>
						<% carousel_start = 0 %>
						<% @carousel_entities.each do |c| %>
					
							<% if (@selected_entity != nil) and (c.id == @selected_entity.id) %>
							<% carousel_start = i-3 %>
								<table class="span3" style="cursor:pointer;" onclick="window.location.href='/articles/show/<%= @selected_entity.url %>';">
									<tr>
									<% if(@selected_entity.name.length>30) %>
										<td class="table-head-carousel" style="background-color:#292929">
										<a class="" style="color:white; font-size:16px;" href="/articles/show/<%= @selected_entity.url %>">
											<span style="line-height:5px;"><%= @selected_entity.name %></span>
										</a>
										</td>
									<% elsif(@selected_entity.name.length>23) %>
										<td class="table-head-carousel" style="background-color:#292929"><a class="" style="color:white; font-size:19px;" href="/articles/show/<%= @selected_entity.url %>"><%= @selected_entity.name %></a></td>
									<% else %>
										<td class="table-head-carousel" style="background-color:#292929"><a class="" style="color:white" href="/articles/show/<%= @selected_entity.url %>"><%= @selected_entity.name %></a></td>
									<% end %>
									</tr>
									
									<tr>
										<td class="table-top-carousel"><%= @selected_entity.desc_brief %></td>
									</tr>
								</table>

							<% else %>

							<table class="span3" style="cursor:pointer;" onclick="window.location.href='/articles/show/<%= c.url %>';">
							<tr>
								<% if(c.name.length>30) %>
									<td class="table-head-carousel"><a class="" style="color:white; font-size:16px;" href="/articles/show/<%= c.url %>"><%= c.name %></a></td>
								<% elsif(c.name.length>23) %>
									<td class="table-head-carousel"><a class="" style="color:white; font-size:19px;" href="/articles/show/<%= c.url %>"><%= c.name %></a></td>
								<% else %>
									<td class="table-head-carousel"><a class="" style="color:white" href="/articles/show/<%= c.url %>"><%= c.name %></a></td>
								<% end %>
							</tr>
							<tr>
								<td class="table-top-carousel" ><%= c.desc_brief %></td>
							</tr>
							</table>
							<% end %>
						<% i = i+1 %>
						<% end %>
					
					<% end %>
   	 			</div>
   	 			<div class="clearfix"></div>  
   	 			<a class="prev" id="top-carousel_prev" href="#"><%= image_tag("previcon.png", class: "navigators") %></a>
				<a class="next" id="top-carousel_next" href="#"><%= image_tag("nexticon.png", class: "navigators") %></a>
   	 	  	</div>
   	 	  </div>
   	 	  								
<script>
<% if carousel_start < 0 %>
runtopcarousel(0);
<% else %>
runtopcarousel(<%= carousel_start %>);
<% end %>
</script>   	 	  
   	 	  
<% end %>


*@




@content


</div>



			<br>
			<div class="row">
				<p style="-webkit-text-stroke: 0.25px; text-align: center;">
					<span style="cursor:pointer; color:#43ac6a; -webkit-text-stroke: 0.25px;" onclick="window.open('http://www.greensoftware.in/','_blank');">&copy; Green Software</span>	
				</p>
			</div>



<script>
	$(".back-link").attr("class", "btn");
</script>

<script>
	$('.btn-danger').click(function(e){
		e.preventDefault();
		var r=confirm("Are you sure?");
		if (r==true){
			window.location.href=this.href;
		}
		else{
		}
	});
</script>

<style>
a.disabled{
	display:none !important;
}
</style>

<!--
<script>
	//script of google analytics
</script>
-->


</body>

</html>


