@(loginForm:play.data.Form[beans.LoginBean])

@no_navbar("MedNetwork"){

   
    <div class="col-md-4">
    @helper.form(action=routes.LoginController.processLogin()) {
	<div style="margin-top:-1.3em;">
	<div class="panel panel-primary" >
	<div class="panel-heading">
	<h3 class="panel-title">Login</h3>
	</div>
	<div class="panel-body" style="padding:0px" >
	<div style="padding-left:20px">
	<br>
			@helper.inputText(loginForm("email"),'_label->"Username")
			@helper.inputPassword(loginForm("password"),'_label->"Password")
			</div>
			<div style="margin-left:35%;">
					<input type="submit" class="btn btn-primary" value="Login">
			</div>
	</div>
	</div>
	</div>
	}
    </div>

}