@(appUser:models.AppUser)
@import play.i18n._

@main("User Confirmation"){

		<div class="row well">
			@if(appUser.role.equals(models.Role.DOCTOR)){
				<p>Please confirm your contact details to use services like Clinic Scheduling, Practice Management etc.</p>
			}
			
			@if(appUser.role.equals(models.Role.ADMIN_PHARMACIST)){
				<p>Please confirm your contact details to use services like Prescription Management etc.</p>
			}
		
			@if(!appUser.emailConfirmed){
				<p>
				Your email address <strong>@appUser.email</strong> has not been confirmed yet.
				Please click on the link provided in the confirmation mail to proceed.<br>
				<a href="@routes.DoctorController.sendConformationEmail()">Click here</a> to receive the confirmation mail again.
				</p>
			}
			
			@if(!appUser.mobileNumberConfirmed){
				<p>
				Your Mobile Number <strong>@appUser.mobileNumber</strong> has not been confirmed yet.
				<br>
				Please enter the confirmation code sent to your mobile number.<br>
				<form action="@routes.DoctorController.verifyMobileNumberConfirmationKey()" method="POST">
				<input name="mobileNumber">&nbsp;<input type="submit" value="Confirm" class="btn btn-primary btn-sm"/>
				</form>
				<br>
				<a href="@routes.DoctorController.sendMobVerificationCode()">Click here</a> to receive the code again.
				</p>
			}
		</div>
	
}