@* createPharmacy Template File *@
@(dataForm:play.data.Form[models.Pharmacy])

@import play.i18n._

@main("User Form"){
	
	<br>
<div class="container">
@helper.form(action=routes.PharmacyController.process(),'method -> "post") {



			
			@helper.inputText(dataForm("name"),'class -> "inputs",'_label->"Pharmacy Name")
				
						
			@helper.inputText(dataForm("address"),'class -> "inputs",'_label->"Address")
						
			@helper.inputText(dataForm("contactNo"),'class -> "inputs",'_label->"Contact No.")
			

			@helper.inputText(dataForm("adminName"),'class -> "inputs",'_label->"Admin Name")
			
			
			<br>
			<input type="hidden" name="id" value='@dataForm("id").value' >
			<input type="submit" class="submit" value="Save">
			
				
			}
			
			

	
	</div>
}
