@(dataForm: play.data.Form[models.DoctorSchedule],clinic: List[models.Clinic]))


@main("doctorSchedule"){
	<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen"
     href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css">
 
	<script type="text/javascript"
     src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js">
    </script> 
    <script type="text/javascript"
     src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js">
    </script>
    <script type="text/javascript"
     src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js">
    </script>
    <script type="text/javascript"
     src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.pt-BR.js">
    </script>
	
<script type="text/javascript">
  $(function() {
    $('.datetimepicker3').datetimepicker({
      pickDate: false
    });
  });
</script>
<div class="well">
  

        
	
	@helper.form(action=routes.DoctorController.scheduleProccess(),'method -> "post") {
	
	@helper.inputDate(dataForm("whichDate"),'_label->"Select Date")
	
	@*<h3>Select Clinic</h3>
      <select name="whichClinic">
           @for(docClinic <-clinic){
            	<option value="@docClinic.id">@docClinic.clinicAddress</option>
            }
        </select>
      *@  
    <div class="datetimepicker3" class="input-append">
    <h3>Select Start Time</h3>
    <input data-format="hh:mm:ss" type="text" ></input>
    <span class="add-on">
      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
      </i>
    </span>
  </div>
  
  <div class="datetimepicker3" class="input-append">
    <h3>Select Start Time</h3>
    <input data-format="hh:mm:ss" type="text" ></input>
    <span class="add-on">
      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
      </i>
    </span>
  </div>
    @*@helper.inputText(dataForm("startTime"),'_label->"Select Start Time")
    @helper.inputText(dataForm("endTime"),'_label->"Select End Time")
   *@
    <input type="hidden" name="id" value=value='@dataForm("id").value' />
    <input type="submit" value="add schedule" /> 
   </div> 
    }
}
