@(appUser: models.AppUser)
@main("Edit Contact Details"){
	<script>
	$( document ).ready(function() {
		$("#allergy").hide();
		});
	</script>
	<div class="container">
	<form id="form" class="form-horizontal" action="@routes.UserController.updateAppUserProfile()" method="POST" data-toggle="validator">
  	<div class="col-md-4">
  	
  	<div class="form-group">
	<label for="Email Id">Name</label>
	<input type="text"  class="form-control" name="name" required value="@appUser.name">
	</div>
	
  	<div class="form-group">
	<label for="Email Id">Email Id</label>
	<input type="text"  class="form-control" name="email" required value="@appUser.email">
	</div>
	
	<div class="form-group">
	<label for="Contact Number">Contact Number</label>
	<input type="text"  class="form-control" name="contactNo" required value="@appUser.mobileNumber">
	</div>
	@if(LoginController.getLoggedInUserRole().equals(Role.PATIENT.toString())){
	<div class="form-group">
	 <label for="bloodGroup">Blood Group</label><br>
        <select id="bloodgroup" name="bloodgroup">
        @if(appUser.bloodGroup != null){
        <option value="@appUser.bloodGroup">@appUser.bloodGroup.capitalize()</option>
        }else{
        <option></option>
        }
			@for((k,v) <- BloodGroup.options()){
				<option value="@k">@v</option>
			}
        </select>
	</div>
	
	
	<div class="row">
	@if(appUser.isBloodDonor == true){
	<input type="checkbox" id="isBloodDonar" name="isBloodDonar" checked="checked" />
	}else{
	<input type="checkbox" id="isBloodDonar" name="isBloodDonar" />
	}
	Would you like to donate blood?
     </div>
    
    
     <script>
     $(document).ready(function(){
     if($("#isBloodDonar").is(":checked")) 
    {
    	$("#contact").toggle();
    }
    $("#isBloodDonar").click(function() {
    if($("#isBloodDonar").is(":checked")) 
    {
    	$("#contact").show();
    }else{
    	$("#contact").hide();
    }
});
});
</script>
 <div class="row" id="contact" style="display:none;">
 @if(appUser.isMobileNumberShared == true){
	<input type="checkbox" id="shareContactNo" name="shareContactNo" checked="checked" />
	}else{
	<input type="checkbox" id="shareContactNo" name="shareContactNo" />
	}would you like to share your mobile number?
	</div>
     <br>
     
 <div class="row">
 @if(appUser.allergy != null){
	<input type="checkbox" id="anyAllergy" name="anyAllergy" checked="checked" />
	}else{
    <input type="checkbox" id="anyAllergy" name="anyAllergy"  /> }Any Allergy ?
    </div>
    <br>

    <script>
     $(document).ready(function(){
     if($("#anyAllergy").is(":checked")) 
    {
    	$("#allergies").toggle();
    }
    $("#anyAllergy").click(function() {
    if($(this).is(":checked")) 
    {
    	$("#allergies").show();
    }else{
    	$("#allergies").hide();
    }
	});
	});
</script>

	<div id="allergies" class="row" style="display:none;">
	<label for="Allergy">Allergy</label>
	<input type="text"  class="allergy" name="allergy" @if(appUser.allergy != null){value=@appUser.allergy} />
	</div>
	
	
	}
	
	<div class="form-group">
	<input type="hidden" name="appUserId" value="@LoginController.getLoggedInUser().id">
	</div>
	
	<div class="form-group">
      <label for="inputDOB">Birth Date*<br><span style="font-size:10px;"><b>(DD-MM-YYYY)</b></span></label>
		<div class="input-append date myDatepicker" data-date="01-01-1990" data-date-format="dd-mm-yyyy">
			<input id="dob-datepicker" class="span2" size="16" type="text" name="dob" @if(appUser.dob != null){value="@appUser.dob.format("dd-MM-yyyy")"}>
			<span class="add-on"><i class="icon-th"></i></span>
      </div>
    </div>
    
	<div class="form-group">
	<input type="hidden" name="appUserId" value="@LoginController.getLoggedInUser().id">
	</div>

	<button type="submit" class="btn btn-primary btn-sm">Submit</button>
	</div>
	</form>
	</div>

<script>
$('.myDatepicker').each(function() {
var nowTemp = new Date();
var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
var checkin =$('#dob-datepicker').datepicker({
	  format: 'dd-mm-yyyy',
	  onRender: function(date) {
		    return date.valueOf() > now.valueOf() ? 'disabled' : '';
	  },
})
});
</script>
}

	







