@()

@main("Mednetwork Help Document"){

<style>
.container{
padding-left:0px;
width:1200px;
}
</style>
<div class="container" style="padding-left:10px;padding-right:50px;font-size:16px">
<div class="row">
      <div class="col-md-2" style="margin-top:-1%; margin-bottom:-2%;">
        <img style="" src="/assets/blog/images/mednlogoc.png" alt="MedNetwork">
      </div>
      
      <div class="col-md-2" style="font-size:20px; color:#369C51; margin-top:4.6%; margin-left:13%;">
      	&#946;eta
      </div>
      </div>
<hr style="font-color:#aaaaaa">
<p><b>MedNetwork</b> is an online platform for all stakeholders in healthcare to synergise their efforts in making healthcare smart, integrated and networked.</p>
 <p style="text-align:justify;" >
      We strongly believe that <strong>the whole is greater than the sum of its parts</strong>, that is why we believe that healthcare can be greatly enhanced if
      everyone working in healthcare industry can easily interact with each other and share data. MedNetwork will be this platform. Here such day to day
      interaction and data exchanges will be simple and instant.  
      We also hope that mednetwork will be a place for a lot of new and exciting possibilities.
      </p>
<div class="row" style="padding-left:15px">
<div class="col-md-4 well">
<h5 style="text-align:center;font-weight:bold">Contents</h5>
<ol>
<li><a href="#users" >Patients/Users</a></li>
<li><a href="#doctors">Doctors</a></li>
<li><a href="#pharmacies">Pharmacy</a></li>
<li><a href="#diagnostic">Diagnostic Centres</a>
</ol>
</div>
</div>
<h4 id="users" style="cursor:pointer"><b>Patients/Users</b><span class="pull-right"><a href="#">Scroll to Top</a></span></h4>
<hr style="font-color:#aaaaaa">
<p>In the hustle and bustle of modern day living, we are absorbed into tons of issues every single day. Lost in the din, we tend to pay less attention to our health.</p>
  		<p>Imagine the brilliance of a platform that manages <b>all</b> your healthcare related issues at one place. That is what MedNetwork is. Using technology and innovation 
  			we wish to assist you in managing your health without any compromises</p>
  		<p>With mednetwork you can</p>
<ul>
 			<li>Search for <b>doctors, pharmacies and diagnostic centres</b> based on various criteria</li>
 			<li>Book <b>appointments</b> at various <b>clinics</b> as scheduled by the doctor</li>
 			<li>Get your <b>prescriptions online</b>. 
 										The Doctor will prescribe using our pioneering 
 										<b>Practice Management</b> tool.
 										Say goodbye to running after old paper-prescriptions. They will always be <b>safe, secure and permanent</b> online
 										</li>
 			<li><b>Share your prescriptions</b> with your favourite pharmacy and diagnostic centre</li>
 			<li>Pharmacy and Diagnostic Centre gets intimated the moment you share your prescription and will <b>process your order</b></li>
 			<li>Diagnostic Centre will share your <b>Diagnostic Reports</b> when they are ready which, like all your prescription, will be <b>maintained online</b>.</li>
 			<li>Get <b>notified</b> about all your transactions in real time both via email and sms.</li>
 		</ul>
<br>
<h4 id="doctors" style="cursor:pointer"><b>Doctors</b><span class="pull-right"><a href="#">Scroll to Top</a></span></h4>
<hr style="font-color:#aaaaaa">
<p>We completely understand that apart from ensuring that your patients get best treatment possible, you have to play sales, marketing, administrator, accountant, business development and numerous other roles</p>
  		<p>We want to assist you by taking some of your load using technology and innovation, so that you can focus on what you do best, treating your patients :)</p>
  		<p>With mednetwork you can</p>
  		<ul>
 			<li>Maintain a beautiful <b>website</b> through which you can communicate to the world, all by yourself, just like your facebook account</li>
 			<li>Your patients can find you online and book <b>appointments</b> at any of your clinics</li>
 			<li>You and your staff can also use this to maintain <b>offline appointments</b> in one single place</li>
 			<li>You can write <b>prescriptions</b> online (we promise it takes less time than paper) or just print prescription page with all patient details if that is what you prefer</li>
 			<li>You can instantly send the prescription to <b>pharmacy or diagnostic center</b> if patient agrees, that <b>save a lot of time</b></li>
 			<li>All reports generated by diagnostic center are available to you <b>immediately</b></li>
 			<li>You can also provide <b>special appointments to medical representatives</b> so that they don't have to wait at your reception for hours and hours ..</li>
 			<li>Also keep/view medical history of all your patients, talk to your fellow doctors in a secure and private environment, answer questions from your patients and much more.. </li>
 		</ul>
<br>
<h4 id="pharmacies" style="cursor:pointer"><b>Pharmacy</b><span class="pull-right"><a href="#">Scroll to Top</a></span></h4>
<hr style="font-color:#aaaaaa">
  		<p>We completely understand that apart from ensuring that your patients get best treatment possible, you have to play sales, marketing, administrator, accountant, business development and numerous other roles</p>
  		<p>We want to assist you by taking some of your load using technology and innovation, so that you can focus on what you do best, treating your patients :)</p>
  		<p>With mednetwork you can</p>
  		<ul>
 			<li>Maintain a beautiful <b>website</b> through which you can communicate to the world, all by yourself, just like your facebook account</li>
 			<li>Tremendous <b>online visibility</b> leads to more customers getting to know your pharmacy</li>
 			<li><b>Patients</b> will find you and share their <b>prescription</b> online</li>
 			<li>Even <b>doctors</b> can share their <b>prescription</b> online thus improving your orders</li>
 			<li>Shared prescription can be <b>managed online</b> and patients can be intimated once their order is ready or you can deliver it yourself</li>
 			<li>Get <b>notified</b> about all your transactions in real time both via email and sms.</li>
 		</ul>
<br>
<h4 id="diagnostic" style="cursor:pointer"><b>Diagnostic Centres</b><span class="pull-right"><a href="#">Scroll to Top</a></span></h4>
<hr style="font-color:#aaaaaa">
  		<p>We completely understand that apart from ensuring that your patients get best treatment possible, you have to play sales, marketing, administrator, accountant, business development and numerous other roles</p>
  		<p>We want to assist you by taking some of your load using technology and innovation, so that you can focus on what you do best, treating your patients :)</p>
  		<p>With mednetwork you can</p>
  		<ul>
 			<li>Maintain a beautiful <b>website</b> through which you can communicate to the world, all by yourself, just like your facebook account</li>
 			<li>Tremendous <b>online visibility</b> leads to more customers getting to know your diagnostic centre</li>
 			<li><b>Patients</b> will find you and share their <b>prescription</b> online</li>
 			<li>Even <b>doctors</b> can share their <b>prescription</b> online thus improving your orders</li>
 			<li>Manage all <b>Diagnostic Reports</b> online.</li>
 			<li>Once ready, you can directly <b>serve</b> diagnostic reports to patients <b>online</b></li>
 			<li>Get <b>notified</b> about all your transactions in real time both via email and sms.</li>
 		</ul>
 </div>


}
