@(loginForm:play.data.Form[beans.LoginBean])

@no_navbar("MedNetwork"){

<body style="zoom: 1;">
    			

<div class="row">
<div class="col-md-10 col-md-offset-1">
	<br>
	<div class="row">
      <div class="col-md-2" style="margin-top:-1%; margin-bottom:-2%;">
        <img style="" src="/assets/blog/images/mednlogoc.png" alt="MedNetwork">
      </div>
      <br>
	</div>
   
    <hr>
   <div class="row">
 <div class="col-md-2" style="width:8%;padding-right:0px">
 <p style="padding-top:7px">Search For</p>
</div>
<div class="col-md-2" style="width:12%" >
  <select class="form-control" name="role" id="role" style="width:100%;box-shadow: 1px 1px 1px 1px #aaaaaa;>
<option value="DOCTOR">Doctor</option>
<option value="ADMIN_PHARMACIST">Pharmacy</option>
<option value="ADMIN_DIAGREP">Diagnostic Centre</option>
</select>

</div>
  <div class="col-md-6" style="width:60%">
      <input type="search" style="width:100%;border-top-left-radius:2.5em;border-bottom-left-radius:2.5em;border-top-right-radius:2.5em;border-bottom-right-radius:2.5em;box-shadow: 1px 1px 3px 3px #aaaaaa;"  name="searchKey" id="searchKey" placeholder="Doctors, Pharamcies, Diagnostic Centres,...">
    </div>
   
<div class="col-md-2" style="width:20%">
  <button style="width:100%" class="btn btn-sm btn-success pull-right" onclick="searchKey();"><i class="icon-search icon-large"></i> Search</button>
  </div>
  </div>
   <script>
   
   
$('#role').on('change', function(){
	$('#searchKey').attr('placeholder',$(this).find("option:selected").text()+'\'s Name');
});
   
function searchKey(){
    var searchString = $('#searchKey').val();
    var setValue = $('#role').val();
    if(setValue == "DOCTOR"){
  window.location.href='@routes.PublicController.processSearchDoctors("")'+searchString; 
  } 
  if(setValue == "ADMIN_PHARMACIST"){
  window.location.href='@routes.PublicController.processSearchPharmacies("")'+searchString; 
  } 
  if(setValue == "ADMIN_DIAGREP"){
  window.location.href='@routes.PublicController.processSearchDiagnosticCentres("")'+searchString; 
  } 
}


$("#searchKey").keyup(function (e) {
    if (e.keyCode == 13) {
    	searchKey();
    }
});

</script>

  <hr>
  <div class="row">    
    
	<div class="col-md-8">
      <p class="well">
        <strong>MedNetwork is an online platform for all medical professionals</strong>
        
      <p></p>
      <p style="text-align:justify;" >
      We strongly believe that <strong>the whole is greater than the sum of its parts</strong>, that is why we believe that healthcare can be greatly enhanced if
      everyone working in healthcare industry can easily interact with each other and share data. MedNetwork will be this platform. Here such day to day
      interaction and data exchanges will be simple and instant.  
      We also hope that mednetwork will be a place for a lot of new and exciting possibilities.
      </p>


      <p style="text-align:justify;" >
      We strongly believe that <strong>the whole is greater than the sum of its parts</strong>, that is why we believe that healthcare can be greatly enhanced if
      everyone working in healthcare industry can easily interact with each other and share data. MedNetwork will be this platform. Here such day to day
      interaction and data exchanges will be simple and instant.  
      We also hope that mednetwork will be a place for a lot of new and exciting possibilities.
      </p>
      
      <p>
      We will be launching first public beta this independence day. 
      </p>
      
       </div>
       <br>
       <div class="col-md-4">
    @helper.form(action=routes.LoginController.processLogin()) {
  <div style="margin-top:-1.3em;">
  <div class="panel panel-primary" >
  <div class="panel-heading">
  <h3 class="panel-title"><i class="fa fa-sign-in"></i> Sign In</h3>
  </div>
  <div class="panel-body" style="padding-top:0px">
  <br>
  <div class="col-md-12">
  <input type="text" name="email" placeholder="Email" style="width:100%">
  </div>
  <div class="col-md-12">
  <input type="password" name="password" placeholder="Password" style="width:100%">
      </div>
      <a href="#" style="padding-left:15px;font-size:12px">Forgot your password ?</a>
     <div class="col-md-12">
     <br>
          <input type="submit" class="btn btn-sm btn-primary pull-right" value="Sign in" style="width:100%">
      </div>
      
  </div>
  </div>
  </div>
  }
 
<div class="panel panel-primary">   
<div class="panel-heading">
  <h3 class="panel-title"><i class="fa fa-check"></i> Sign Up</h3>
  </div>
  <div class="panel-body">
      <ul style="list-style-type: none;padding:0px">

        <li><h4><a href="@routes.UserController.joinUsPatient()" style="cursor:pointer;text-decoration:none;"><i class="fa fa-users" style="padding-right:3px"></i> User </a></h4></li>
        <li><h4><a href="@routes.UserController.joinUsDoctor()" style="cursor:pointer;text-decoration:none;"><i class="fa fa-user-md" style="padding-right:3px"></i> &nbsp;Doctor </a></h4></li>
        <li><h4><a href="@routes.UserController.joinUsPharmacy()" style="cursor:pointer;text-decoration:none;"><i class="fa fa-medkit"style="padding-right:3px"></i> Pharmacy </a></h4></li>
        @*
        <li><h4><a style="cursor:pointer;text-decoration:none;"><i class="fa fa-ambulance" style="padding-right:3px"></i> Pharma Companies</a></h4></li>
        *@
        <li><h4><a href="@routes.UserController.joinUsDiagnostic()" style="cursor:pointer;text-decoration:none;"><i class="fa fa-bar-chart-o" style="padding-right:3px"></i> Diagnostic Center </a></h4></li>
        
        
      </ul>
      </div>
      </div>
    </div>
</div>
    <div>
     
    </div>
 
    
    
	<div class="row">
    <div class="col-md-12">
    <div class="well">
    <span>
        @*
        Ride the revolution by <a href="/join" class="btn-link"><b>joining us today!</b></a> Its free and worth much more than the 30 seconds you'll take to do so.
        <br>
        *@ 
        Follow us on <a href="https://twitter.com/mednetworkindia" target="_blank"><b>twitter</b></a>, like our page on <a href="https://www.facebook.com/mednetwork.in" target="_blank"><b>facebook</b></a> and <strong>read our <a href="/blog" target="_blank"><b>blog</b></a></strong> which has some interesting ideas to stay healthy. 
    </span>
    	
	</div>
	
	<span style="width:100%; margin-left:400px; font-size:12px;"> Copyright 2014 <a href="http://www.greensoftware.in/">Green Software</a> . All rights reserved | Share your <a href="/feedback"><b> feedback </b></a></span>
	</div>
	
	
    </div>
  
  
  </div>
 

  </div> 

  
}
