@(loginForm:play.data.Form[beans.LoginBean])

@no_navbar("MedNetwork"){

<script>
@if(session().get(utils.Constants.CITY_ID) != null){
	var inCity = '@models.PrimaryCity.find.byId(Long.parseLong(session().get(utils.Constants.CITY_ID))).name';
}else{
	var inCity = '';
}
</script>


<body style="zoom: 1;">

<style type="text/css">
	.twitter-typeahead {
     width: 100%;
}

.twitter-typeahead .tt-hint {
    display: block !important;
    height: 34px;
    padding: 6px 12px;
    font-size: 12px;
    color: white;
    line-height: 1.428571429;
    border: 1px solid transparent;
    border-radius:4px;
}
.tt-query,
.tt-hint {
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    width: 100%;
    color: #999
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
}

.tt-query {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-dropdown-menu {
    width: 100%;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion.tt-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}

</style>

<div class="row">
<div class="col-md-10 col-md-offset-1">
	<br>
	<div class="row">
      <div class="col-md-2" style="margin-top:-1%; margin-bottom:-2%;">
        <img style="" src="/assets/images/mednetwork.png" alt="MedNetwork">
      </div>
      
      
    @* 
      
	<div class="col-md-6 pull-right" style="margin-top:-1%; margin-bottom:-2%;">
    @helper.form(action=routes.LoginController.processLogin()) {
  	<div style="margin-top:0em;">
  	<br>
  	<div class="col-md-5">
  	<label><b>Email</b></label>
  	<input id="uname" type="email" name="email" placeholder="Email" style="width:100%" required>
  	</div>
  	<div class="col-md-5">
  	<label><b>Password</b> <a href="@routes.LoginController.forgotPassword()" style="padding-right:0px; font-size:12px;color:#008bca">(Forgot password ?)</a></label>
  	<input type="password" id="pwd" name="password" placeholder="Password" style="width:100%;padding:0px" required>
      </div>
     <div class="col-md-2" style="padding-right:0px">
     <br>
          <input type="submit" class="btn btn-sm btn-success pull-right" value="Sign in" style="width:100%">
      </div>
      	
  	
  </div>
  }
  	<script>
		$('#uname').on('blur', function(){
			$('#pwd').focus();
		});
  	</script>
  
	</div>
	
	*@
	
      
      <br>
	</div>
   
<hr>


<style>
.chosen-container .chosen-single{
	height:37px;
}

.chosen-container .chosen-single span{
	padding-top:5px;
}

.chosen-container .chosen-single b{
	margin-top:7px;
}

</style>

<div class="row">

<div class="col-md-2" style="width:8%;padding-right:0px">
 <p style="padding-top:7px">Search For</p>
</div>

<div class="col-md-2" style="width:14%" >
	<select class="form-control" name="role" id="role" style="width:100%;box-shadow: 1px 1px 1px 1px #aaaaaa;">
		<option value="DOCTOR">Doctor</option>
		<option value="ADMIN_PHARMACIST">Pharmacy</option>
		<option value="ADMIN_DIAGREP">Diagnostic Centre</option>
	</select>
</div>
<div id="locDiv" class="col-md-2" style="width:18%">
	<select class="form-control chzn" data-placeholder="Locality" name="location" id="location" style="width:100%;box-shadow: 1px 1px 1px 1px #aaaaaa; height:120%;">
		<option></option>
		@for(locality <- PublicController.getPrimaryCityLocations()){
			<option value="@locality.id">@locality.name</option>
		}
	</select>
</div>
<div id="spezDiv" class="col-md-2" style="width:18%">
	<select class="form-control chzn"  data-placeholder="Specialization" name="spez" id="spez" style="width:100%;box-shadow: 1px 1px 1px 1px #aaaaaa; height:120%;">
		<option></option>
		@for(spez <- models.doctor.MasterSpecialization.getAll()){
			<option value="@spez.name">@spez.name</option>
		}
	</select>
</div>

<div id="searchDiv" class="col-md-3" style="width:30%">
	<input class="typeahead" type="search" style="width:100%;box-shadow: 1px 1px 3px 3px #aaaaaa;" name="searchKey" id="searchKey" 
	@if(session().get(utils.Constants.CITY_ID) != null){
		placeholder="Doctor's Name in @models.PrimaryCity.find.byId(Long.parseLong(session().get(utils.Constants.CITY_ID))).name"
	}else{
		placeholder="Doctor's Name or Locality"
	}
	>
	
</div>
   
<div class="col-md-2" style="width:10%">
	<button style="width:100%;box-shadow: 1px 1px 3px 3px #aaaaaa;" class="btn btn-sm btn-primary pull-right" onclick="searchKey();"><i class="icon-search icon-large"></i> Search</button>
</div>

</div>



<script>

$(".chzn").chosen({allow_single_deselect: true});
    var setValue = $('#role').val();
$('#role').on('change', function(){
	var selectedText = $(this).find("option:selected").text();
	$('#searchKey').attr('placeholder',selectedText+'\'s Name '+inCity);
	if(selectedText.localeCompare('Doctor') != 0){
		$('#spezDiv').hide();
		$('#searchDiv').attr('class','col-md-4');
		$('#searchDiv').attr('style','width:50%;');
	}
	else{
		$('#searchDiv').attr('class','col-md-2');
		$('#searchDiv').attr('style','width:30%;');
		$('#spezDiv').show();
	}
});
   
function searchKey(){
	var loc = $('#location').val();
    var spez = $('#spez').val();
	if(loc == null || loc == ""){
	loc = "0";
	}
	if(spez == null || spez == ""){
	spez = "any";
	}
	setValue = $('#role').val();
    var searchString = $('#searchKey').val();
    if(searchString.trim() == ""){
	searchString = 'any';
	}	
    if(setValue == "DOCTOR"){
	  	 window.location.href='/doctor/search/'+spez+'/'+loc+'/'+searchString;
  	}
  	if(setValue == "ADMIN_PHARMACIST"){
  	window.location.href='/pharmacy/search/'+searchString+'/'+loc; 
  	} 
  	if(setValue == "ADMIN_DIAGREP"){
    window.location.href='/diagnostic/search/'+searchString+'/'+loc; 
 	} 
}


$("#searchKey").keyup(function (e) {
    if (e.keyCode == 13) {
    	searchKey();
    }
});

</script>

  <hr>
  <div class="row">    
    
	<div class="col-md-12">
      	<p class="well" align="center">
        <strong>
        	MedNetwork is an online platform for all stakeholders in healthcare to synergise their efforts in making healthcare smart, integrated and networked.
        </strong>
        <br>
		<strong>And its Completely Free!</strong>
		</p>

<div class="row">

<div class="col-md-3">
<div class="panel panel-primary" style="cursor:pointer;" onclick="window.location.href='@routes.UserController.joinUsPatient()';">
  	<div class="panel-heading">
  		<h3 class="panel-title"><i class="fa fa-users"></i> Users<span class="pull-right">Join</span></h3>
  	</div>
  	<div class="panel-body" style="padding:0px;height:200px;font-size:14px">
  	<br>
  		<ul style="list-style-type:circle; padding-left:25px; padding-top:5px;">
  			<li><b>Search</b> Doctors, Pharmacies & Diagnostic Centres</li>
  			<li>Schedule <b>Appointments</b> with Doctors</li>
  			<li>Manage <b>Prescriptions</b> online</li>
  			<li><b>Share</b> Prescriptions with favourite Pharmacies and Diagnostic Centres</li>
  		</ul>
	</div>
</div>
</div>

<div class="col-md-3">
<div class="panel panel-primary" style="cursor:pointer;" onclick="window.location.href='@routes.UserController.joinUsDoctor()';">
  	<div class="panel-heading">
  	<h3 class="panel-title"><i class="fa fa-user-md"></i> Doctors<span class="pull-right">Join</span></h3>
  	</div>
  	<div class="panel-body" style="padding:0px;height:200px;font-size:14px">
  	<br>
  		<ul style="list-style-type:circle; padding-left:25px; padding-top:5px;">
  			<li>Manage <b>Clinics & Appointments</b></li>
			<li>Simple <b>Website Builder</b> gives you a free website</li>
			<li>Easy to use online <b>Practice Management</b> Tool</li>
			<li>View Patient's <b>Medical History</b> and other details</li>
  		</ul>
	</div>
</div>
</div>

<div class="col-md-3">
<div class="panel panel-primary" style="cursor:pointer;" onclick="window.location.href='@routes.UserController.joinUsPharmacy()';">
  	<div class="panel-heading">
  	<h3 class="panel-title"><i class="fa fa-medkit"></i> Pharmacy<span class="pull-right">Join</span></h3>
  	</div>
  	<div class="panel-body" style="padding:0px;height:200px;font-size:14px">
  	<br>
  		<ul style="list-style-type:circle; padding-left:25px; padding-top:5px;">
  			<li>Get <b>Prescriptions</b> directly from Doctors and Patients</li>
			<li>Simple <b>Website Builder</b> gives you the online visibility you need without having to build a website</li>
			<li>Get found by countless <b>Customers</b> online</li>
  		</ul>
	</div>
</div>
</div>

<div class="col-md-3">
<div class="panel panel-primary" style="cursor:pointer;" onclick="window.location.href='@routes.UserController.joinUsDiagnostic()';">
  	<div class="panel-heading">
  	<h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Diagnostic Centre<span class="pull-right">Join</span></h3>
  	</div>
  	<div class="panel-body" style="padding:0px;height:200px;font-size:14px">
  	<br>
  		<ul style="list-style-type:circle; padding-left:25px; padding-top:5px;">
  			<li>Get <b>Prescriptions</b> directly from Doctors and Patients</li>
  			<li>Simple <b>Website Builder</b> gives you the online visibility you need without having to build a website</li>
  			<li>Manage <b>Reports</b> online and <b>Share</b> them with patients</li>
  		</ul>
	</div>
</div>
</div>
  
  
  
  
  
</div>







      <p style="text-align:justify;" >
      We strongly believe that <strong>the whole is greater than the sum of its parts</strong>, that is why we believe that healthcare can be greatly enhanced if
      everyone working in healthcare industry can easily interact with each other and share data. MedNetwork will be this platform. Here such day to day
      interaction and data exchanges will be simple and instant.  
      We also hope that mednetwork will be a place for a lot of new and exciting possibilities.
      </p>
      
       </div>
       <br>
  
  @*
  <div class="col-md-4">
    @helper.form(action=routes.LoginController.processLogin()) {
  <div style="margin-top:-1.3em;">
  <div class="panel panel-primary" >
  <div class="panel-heading">
  <h3 class="panel-title"><i class="fa fa-sign-in"></i> Sign In</h3>
  </div>
  <div class="panel-body" style="padding-top:0px">
  <br>
  <div class="col-md-12">
  <input type="text" name="email" placeholder="Email" style="width:100%">
  </div>
  <div class="col-md-12">
  <input type="password" name="password" placeholder="Password" style="width:100%">
      </div>
      <a href="@routes.LoginController.forgotPassword()" style="padding-left:15px;font-size:12px;color:red;">Forgot your password ?</a>
     <div class="col-md-12">
     <br>
          <input type="submit" class="btn btn-sm btn-primary pull-right" value="Sign in" style="width:100%">
      </div>
      
  </div>
  </div>
  </div>
  }
 
<div class="panel panel-primary">   
<div class="panel-heading">
  <h3 class="panel-title"><i class="fa fa-check"></i> Sign Up</h3>
  </div>
  <div class="panel-body">
      <ul style="list-style-type: none;padding:0px">

        <li><h4><a href="@routes.UserController.joinUsPatient()" style="cursor:pointer;text-decoration:none;"><i class="fa fa-users" style="padding-right:3px"></i> User </a></h4></li>
        <li><h4><a href="@routes.UserController.joinUsDoctor()" style="cursor:pointer;text-decoration:none;"><i class="fa fa-user-md" style="padding-right:3px"></i> &nbsp;Doctor </a></h4></li>
        <li><h4><a href="@routes.UserController.joinUsPharmacy()" style="cursor:pointer;text-decoration:none;"><i class="fa fa-medkit"style="padding-right:3px"></i> Pharmacy </a></h4></li>
        @ *
        <li><h4><a style="cursor:pointer;text-decoration:none;"><i class="fa fa-ambulance" style="padding-right:3px"></i> Pharma Companies</a></h4></li>
        * @
        <li><h4><a href="@routes.UserController.joinUsDiagnostic()" style="cursor:pointer;text-decoration:none;"><i class="fa fa-bar-chart-o" style="padding-right:3px"></i> Diagnostic Center </a></h4></li>
        
        
      </ul>
      </div>
      </div>
    </div>
    *@
    
    
    
</div>
    <div>
     
    </div>
 
    
    
	<div class="row">
    <div class="col-md-12">
    <div class="well">
    <span>
       You can follow us on <a href="https://twitter.com/mednetworkindia" target="_blank"><b>twitter</b></a> or on <a href="https://www.facebook.com/mednetwork.in" target="_blank"><b>facebook</b></a>
    </span>
    	
	</div>
	
	</div>
	
	
    </div>
  
  
  </div>
 

  </div> 

}


<script>

	var loc = $('#location').val();
	if(loc == null || loc == ""){
	         loc = "0";
	}
    var spez = $('#spez').val();
   	if(spez == null || spez == ""){
	   spez = "any";
	}
    $("#searchKey").keyup(function (e) {
    if (e.keyCode == 13) {
    	if($('#searchInput').val() == ''){
    	       	return false;
        	}
    	 }
     });

		function submitSearch(){
			var searchString = $('#searchKey').val();
				if(searchString.trim() == ""){
								searchString = 'any';
				}
				window.location.href='/doctor/search/'+spez+'/'+loc+'/'+searchString;
		}
		
		var url = '/doctor/get-names-json/'+loc+'/'+spez;
		
		$('#location').chosen().change(function() {
  			//on each reload destroy previous typeahed else it'll create new div every time
			$('#searchDiv .typeahead').typeahead('destroy');
				loc = $('#location').val();
					if(loc == null || loc == ""){
 						loc ="0";
 					}
					if($('#role').val() == "DOCTOR"){
						spez = $('#spez').val();
						if(spez == null || spez == ""){
		 					spez ="any";
 						}
						url = '/doctor/get-names-json/'+loc+'/'+spez;
					}
					if($('#role').val() == "ADMIN_PHARMACIST"){
						url = '/pharmacy/get-names-json/'+loc;
					}
					if($('#role').val() == "ADMIN_DIAGREP"){
						url = '/diagnostic/get-names-json/'+loc;
					}
					start();
	
		});

		$('#spez').chosen().change(function() {
		 			$('#searchDiv .typeahead').typeahead('destroy');
					spez = $('#spez').val();
					if(spez == null || spez == ""){
		 				spez ="any";
 					}
					url = '/doctor/get-names-json/'+loc+'/'+spez;
					start();
		});



		window.onload= start();
		$('#role').on('change', function(){
 					loc = $('#location').val();
 					if(loc == null || loc == ""){
 						loc ="0";
 					}
 					$('#searchDiv .typeahead').typeahead('destroy');
   					if($('#role').val() == "ADMIN_PHARMACIST"){
							url = '/pharmacy/get-names-json/'+loc;
  					} 
  					if($('#role').val() == "ADMIN_DIAGREP"){
  							url = '/diagnostic/get-names-json/'+loc;
  					}
  					if($('#role').val() == "DOCTOR"){
  							spez = $('#spez').val();
  							if(spez == null || spez == ""){
		 						spez ="any";
 							}
  							url = '/doctor/get-names-json/'+loc+'/'+spez;
  					}  
					start(); 
			});
   
		function start(){
				var states;
				$.get(url, function(data){
						states = JSON.parse(data);
						var states = new Bloodhound({
								datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
		  							queryTokenizer: Bloodhound.tokenizers.whitespace,
		  							limit: 10,
		  							local: $.map(states, function(state) { return { value: state }; })
						});
						states.initialize();
							$('#searchDiv .typeahead').typeahead({
  									hint: true,
  									highlight: true,
  									minLength: 1
								},
								{
  									name: 'states',
  									displayKey: 'value',
  									source: states.ttAdapter()
							});
				 });
		   }

	</script>
