@(message: String)

@blank("WelCome to MedNetwork") {
	<div class="row">
    		<div class="col-md-10 col-md-offset-1">
    			<div class="panel panel-primary">
  			<div class="panel-heading">
    			<h3 class="panel-title">Welcome to MedNetwork</h3>
  			</div>
  			<div class="panel-body">

  <div class="jumbotron masthead">
  <div class="container-fluid">
   	<div align="center">
   	<h1>MedNetwork</h1>
         <h2>Health Care Portal</h2>
      <p></p>
     	<a href="/login" class="btn btn-warning"> Please Login to continue..</a>
    </div>
  </div>
  
  </div>
		</div>
    		</div>
    	</div>

}
