@(loginForm:play.data.Form[beans.LoginBean])

@no_navbar("MedNetwork"){
<style>
.jumbotron {
background-color: #F5FAFC;
}
</style>
<nav class="navbar navbar-inverse" role="navigation">
 	 <div class="container-fluid" style="text-align:center;color:white">
  	 <h2><i class="fa fa-plus-circle"></i> Mednetwork</h2>
  	 </div><!-- /.container-fluid -->
  	 </nav>

 <div class="container">
  <div class="jumbotron" style="text-align:center">
  <p>
        <strong>Mednetwork</strong> is an online network for all medical professionals.
        <br>
        <small>Please click on the icon from the below network to know more about each role...</small>
      </p>
  
</div
	<br>
	<div class="row" >
		<div class="col-md-6" >
			<h2 style="text-align:center">Our Vision</h2>
			<p style="text-align:justify;font-style:italic">"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged." </p>
		</div>
		<div class="col-md-6">
			<h2 style="text-align:center">Our Mission</h2>
			<p style="text-align:justify;font-style:italic">"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged." </p>
		</div>
	</div>
	<br><br>
	<div style="padding-left:170px">
	<img src="assets/images/mednetwork.png" usemap="#map"/>
	</div>
	<map name="map">
  					<area shape="circle" coords="240,70,40" alt="1" data-toggle="modal" href="#myModal1">
  					<area shape="circle" coords="120,180,40" alt="2" data-toggle="modal" href="#myModal2">
  					<area shape="circle" coords="190,290,40" alt="3" data-toggle="modal" href="#myModal3">
  					<area shape="circle" coords="490,290,40" alt="4" data-toggle="modal" href="#myModal4">
  					<area shape="circle" coords="620,180,40" alt="5" data-toggle="modal" href="#myModal5">
  					<area shape="circle" coords="500,70,40" alt="6" data-toggle="modal" href="#myModal6">
  					
	</map>
<!-- Modal -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Doctors</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Hospitals</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Pharma Companies</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Diagonstic Centres</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Pharmacies</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Patients</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
    </div>
  </div>
</div>
<br><br>
	
	<br>	 
<hr>

	<div>
  	<div class="row">
    
    <div class="col-md-4">
    <div class="well">
    <p> Click on the below links to register for different roles in mednetwork.</p>
    </div>
    <div class="well">
      <ul>
        <li><h4><a href="/userform/patient/"><i class="fa fa-users"></i> &nbsp;Patients </a></h4></li>
        <li><h4><a href="/userform/doctor/"><i class="fa fa-user-md"></i> &nbsp;&nbsp;Doctors</h4></li>
        <li><h4><a href="/userform/patient/"><i class="fa fa-medkit"></i> &nbsp;Pharmacies </h4></li>
        <li><h4><a href="/userform/patient/"><i class="fa fa-hospital-o"></i> &nbsp;&nbsp;Hospitals </h4></li>
        <li><h4><a href="/userform/patient/"><i class="fa fa-ambulance "></i> &nbsp;Pharma Companies </h4></li>
        <li><h4><a href="/userform/patient/"><i class="fa fa-bar-chart-o"></i> &nbsp;Diagnostic Centers </h4></li>
      </ul>
    </div>
    </div>
    <div class="col-md-4" >
    </div>
    
    <div class="col-md-4" >
    @helper.form(action=routes.LoginController.processLogin()) {
	<div style="margin-top:-1.3em;">
	<div class="panel panel-primary" >
	<div class="panel-heading">
	<h3 class="panel-title">Login</h3>
	</div>
	<div class="panel-body" style="padding:0px" >
	<div style="padding-left:20px">
	<br>
			@helper.inputText(loginForm("email"),'_label->"Username")
			@helper.inputPassword(loginForm("password"),'_label->"Password")
			</div>
			<div style="margin-left:35%;">
					<input type="submit" class="btn btn-primary" value="Login">
			</div>
	</div>
	</div>
	</div>
	}
    </div>
    <br>
    
       	<div class="col-md-12 ">
    		<a  href="@routes.UserController.joinUs()" class="btn btn-default btn-group-justified">Join MedNetwork Now (Its free & worth much more than the 15 seconds you'll take to join!!)</a>
  		</div>
  </div>
  </div>
  <hr>
 

<meta name="google-signin-clientid" content="404230636180-4qmlk57403u2985kjibgj3l37a0sdi54.apps.googleusercontent.com" />
<meta name="google-signin-scope" content="https://www.googleapis.com/auth/plus.login" />
<meta name="google-signin-requestvisibleactions" content="http://schemas.google.com/AddActivity" />
<meta name="google-signin-cookiepolicy" content="single_host_origin" />
<script type="text/javascript">
 (function() {
   var po = document.createElement('script');
   po.type = 'text/javascript'; po.async = true;
   po.src = 'https://apis.google.com/js/client:plusone.js?onload=render';
   var s = document.getElementsByTagName('script')[0];
   s.parentNode.insertBefore(po, s);
 })();

   /* Executed when the APIs finish loading */
 function render() {
	 
   // Additional params including the callback, the rest of the params will
   // come from the page-level configuration.
   var additionalParams = {
     'callback': signinCallback
   };
   function signinCallback(authResult) {
	   //console.log(authResult);
	   
//	   gapi.client.load('plus','v1', function(){
//			var request = gapi.client.plus.people.get( {'userId' : 'me'} );
//			request.execute(function ddd(res){
//			alert(JSON.stringify(res));
//			alert(res.displayName);
//			alert(res.emails);
// 		});
 //request.execute(function(resp) {
//   alert('Retrieved profile for:' + JSON.stringify(resp));
 //});
//		});



gapi.client.load('oauth2', 'v2', function() {
  gapi.client.oauth2.userinfo.get().execute(function(resp) {
    // Shows user email
    alert(resp.email);
  })
});




		
	   
	   if (authResult['status']['signed_in']) {
		   
	     // Update the app to reflect a signed in user
	     // Hide the sign-in button now that the user is authorized, for example:
	    // document.getElementById('signinButton').setAttribute('style', 'display: none');
	   } else {
	     // Update the app to reflect a signed out user
	     // Possible error values:
	     //   "user_signed_out" - User is signed-out
	     //   "access_denied" - User denied access to your app
	     //   "immediate_failed" - Could not automatically log in the user
	    
	     console.log('Sign-in state: ' + authResult['error']);
	   }
	 }
	    

   // Attach a click listener to a button to trigger the flow.
   var signinButton = document.getElementById('signinButton');
   signinButton.addEventListener('click', function() {
	   
     gapi.auth.signIn(additionalParams); // Will use page level configuration
     
   });
 }

/*
 var profile, email;

 	function loadProfile(){
	    var request = gapi.client.plus.people.get( {'userId' : 'me'} );
	    request.execute(loadProfileCallback);
	  }


 	function loadProfileCallback(obj) {
 	    profile = obj;

 	    // Filter the emails object to find the user's primary account, which might
 	    // not always be the first in the array. The filter() method supports IE9+.
 	    email = obj['emails'].filter(function(v) {
 	        return v.type === 'account'; // Filter out the primary email
 	    })[0].value; // get the email from the filtered results, should always be defined.
 	    displayProfile(profile);
 	  }


 	   //Display the user's basic profile information from the profile object.
 	   //
 	  function displayProfile(profile){
 	 	alert('email: '+email);  
 	    document.getElementById('name').innerHTML = profile['displayName'];
 	    document.getElementById('pic').innerHTML = '<img src="' + profile['image']['url'] + '" />';
 	    document.getElementById('email').innerHTML = email;
 	    toggleElement('profile');
 	  }

 	  
 	   //Utility function to show or hide elements by their IDs.
 	   //
 	  function toggleElement(id) {
 	    var el = document.getElementById(id);
 	    if (el.getAttribute('class') == 'hide') {
 	      el.setAttribute('class', 'show');
 	    } else {
 	      el.setAttribute('class', 'hide');
 	    }
 	  }
 */
 
</script>

<span id="signinButton">
  <span
    class="g-signin"
    data-callback="signinCallback"
    data-clientid="404230636180-4qmlk57403u2985kjibgj3l37a0sdi54.apps.googleusercontent.com"
    data-cookiepolicy="single_host_origin"
    data-requestvisibleactions="http://schemas.google.com/AddActivity"
    data-scope="https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/userinfo.email">
  </span>
</span>






   <script>
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '1423515137920394',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.0' // use version 2.0
  });

  // Now that we've initialized the JavaScript SDK, we call 
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.email + '!';
    });
  }
</script>

<!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
-->

<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>

<div id="status">
</div>

  
</div>  
  
  
}

