@(joinUsForm:play.data.Form[beans.JoinUsBean])

@import play.i18n._
@import helper.twitterBootstrap._
@import helper._

@no_navbar("Join MedNetwork For Free"){

<div class="container">
<div class="row">
      <div class="col-md-6">
          <h3><span style="cursor:pointer;" onclick="window.location.href='/';"><i class="fa fa-plus-circle"></i> mednetwork</span></h3>
      </div>
  </div>
  <hr>
  
@helper.form(action=routes.UserController.processJoinUs(), '_id->"joinform") {
<div class="row">

			@helper.inputText(joinUsForm("name"),'class -> "inputs",'_label->"Name")
			
			@helper.inputText(joinUsForm("email"),'class -> "inputs",'_label->"Email")

			@helper.inputPassword(joinUsForm("password"),'class -> "inputs",'_label->"Password")
			
			@helper.inputPassword(joinUsForm("confirmPassword"),'class -> "inputs",'_label->"Confirm Password")

			@select(joinUsForm("role"), options("PATIENT"->"Patient", "DOCTOR"->"Doctor", "PHARMACIST"->"Pharmacist", "ADMIN_MR"->"Medical Representative", "DIAGREP"->"Diagnostic Representative"), '_label->"Join As")
			

			<div id="pharmacyName" class="col-xs-4" style="display:none">
    			<label for="pharmacyName">Pharmacy Name</label>
    			<input id="pharmacyName" name="pharmacyName" class="form-control">
			</div>
			
			<div id="pharmaceuticalCompanyName" class="col-xs-4" style="display:none">
    			<label for="pharmaceuticalCompanyName">Pharmacy Name</label>
    			<input id="pharmaceuticalCompanyName" name="pharmaceuticalCompanyName" class="form-control">
			</div>
			
</div>	
	
	<div class="row">
	<br><br>
	<input type="submit" class="btn btn-primary" value="Join">
	</div>
}


<script>
$('#role').change(function() {
    if ($('#role').val() == 'ADMIN_PHARMACIST') {
        $('#pharmacyName').show();
    } else {
    	 $('#pharmacyName').hide();   
    }

});

$('#role').change(function() {
    if ($('#role').val() == 'ADMIN_MR') {
        $('#pharmaceuticalCompanyName').show();
    } else {
    	 $('#pharmaceuticalCompanyName').hide();   
    }

});




$("#submitbtn").on("click", function(e){
	if($("#password").val() != $("#confirmPassword").val()){
		alert('Passwords do not match');
		e.preventDefault();
	}
});
</script>

}

