@()
@import play.i18n._
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="@routes.UserActions.dashboard()">@Messages.get("brand.name")</a>
    </div> 
     <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <ul class="nav navbar-nav">
    
		
		@if(LoginController.getLoggedInUserRole().equals(Role.PATIENT.toString())){
		<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Doctors
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="">Search Doctors</a></li>
            <li><a href="">My Doctors</a></li>
            <li class="divider"></li>
            <li><a href="@routes.PatientController.scheduleAppointment()">Schedule an Appointment</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Prescriptions
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="">Prescriptions</a></li>
            <li><a href="">Diagnostic Reports</a></li>
          </ul>
        </li>
       <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Diagnostic Centers
          <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="/diagnostic-search">search Diagnostic Center</a></li>
            <li><a href="/patient/my-diag-centers">My Diagnostic Centers</a></li>
            
          </ul>
          </li>
		}
		
		

		@if(LoginController.getLoggedInUserRole().equals(Role.ADMIN_PHARMACIST.toString())){
		<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Orders
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
            
            <li><a href="/order">Order Entry</a></li>
           
          </ul>
        </li>	
		
		
		
		
		<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Inventory
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/products">Products</a></li>
            <li><a href="/new-product ">Create new product</a></li>
            <li class="divider"></li>
            <li><a href="/searchProduct">Add Product to Inventory</a></li>
          </ul>
        </li>
        
       
		}
		
		
		@if(LoginController.getLoggedInUserRole().equals(Role.DOCTOR.toString())){
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Appointments
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/doctor/today-appointment">Today</a></li>
            <li><a href="">All</a></li>
          </ul>
        </li>
    
    	<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Prescriptions
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
    	        <li><a href="">List</a></li>
          </ul>
        </li>
	
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Clinics
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
	            <li><a href="">Search Clinics</a></li>
	            <li><a href="@routes.DoctorController.myClinics()">My Clinics</a></li>
	            <li><a href="@routes.DoctorController.newClinic()">Add a Clinic</a></li>
    	        <li><a href="@routes.DoctorController.newAssistant()">New Assistant</a></li>
          </ul>
        </li>
        }
        
        
        @if(LoginController.getLoggedInUserRole().equals(Role.ADMIN_MR.toString())){
         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
         User
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="@routes.MRController.addMR()">Add Medical Representative</a></li> 
            <li><a href="@routes.MRController.mrList()">View Medical Representative</a></li>            
          </ul>
        </li> 
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
         Geography
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
             <li><a href="@routes.MRController.headQuarter()">Headquarters</a></li> 
            <li><a href="">Fieldstations</a></li>            
          </ul>
        </li>         
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Doctors
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/doctor-list">Search Doctor</a></li>
            <li><a href="/mr/doctor-list">My Doctor</a></li>
            <li><a href="/mr/schedule-appointment ">Schedule Appointment</a></li>
          </ul>
        </li>
        
    
     <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Phamacies
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
             <li><a href="">List</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          product
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/new-product">Create New Product</a></li>
            <li><a href="/view-products">View All Product</a></li>
          </ul>
        </li>
 
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Question Answer
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/questionform">Ask Question</a></li>
            <li><a href="/answerform">See all Question</a></li>
          </ul>
        </li>
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          DCR
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">DCR</a></li>
           
          </ul>
        </li>
        }
    	@if(LoginController.getLoggedInUserRole().equals(Role.ADMIN_DIAGREP.toString())){
         
         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Diagnostic Centre
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
          <li><a href="/diagnosticlist">View Profile</a></li> 
            <li><a href="@routes.DRController.addDiagRep()">Add Diagnostic Representative</a></li> 
            <li><a href="/diagnosticrep/list">All Diagnostic Representative</a></li>   
             <li><a href="/display-orders/@LoginController.getLoggedInUser().id">View Diagnostic Orders</a></li>      
              <li><a href="/upload-patient-file">Upload Report</a></li>      
          </ul>
        </li> 
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
         Geography
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="@routes.MRController.headQuarter()">Headquarters</a></li> 
            <li><a href="">Fieldstations</a></li>            
          </ul>
        </li>         
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle"data-toggle="dropdown">
          Doctors
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/diagnosticrep/doctor-search">Search Doctor</a></li>
            <li><a href="/diagnostic-centre/all-doctors">View Doctors</a></li>
            
          </ul>
        </li>
        }
    
    
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
			Report
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
          	<li><a href="">Expenditure Reports</a></li>
            <li><a href="">Prescription Reports</a></li>
		    <li><a href="">Doctor Reports</a></li>     
            <li><a href="">Pharmacy Reports</a></li>
          </ul>
        </li>
        

   	  </ul>
   	  
   	  
   	  <ul class="nav navbar-nav navbar-right">
		@if(LoginController.isLoggedIn()) {
		<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">@LoginController.getLoggedInUser.name <b class="caret"></b></a>
		<ul class="dropdown-menu">
			<li><a href="/user/preferences"><i class="fa fa-gears"></i>&nbsp;&nbsp;Preferences</a></li>
			<li><a href="/doctor-profile"><i class="fa fa-gears"></i>&nbsp;&nbsp;My Profile</a></li>
			<li class="divider"></li>
			<li><a href="/change-password"><i class="fa fa-lock"></i>&nbsp;&nbsp;Change Password</a></li>
			<li><a href="/logout"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;Logout</a></li>
		</ul>
		</li>
		} else {
			<li><a href="/login">Login</a></li>
		}
	</ul>
   	  
   	  
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


