@()
@import play.i18n._
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
      @*
      <a class="navbar-brand" href="@routes.UserActions.dashboard()">@Messages.get("MedNetwork")</a>
      *@
      <a class="navbar-brand" href="@routes.UserActions.dashboard()">
      	<img style="height:45px; margin-top:-12px;" src="/assets/images/medlogotrans.png" alt="MedNetwork">
      </a>
    </div> 
     <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      

<ul class="nav navbar-nav">
@if(LoginController.isLoggedIn()){			
		
				
		@if(LoginController.getLoggedInUserRole().equals(Role.MEDNETWORK_ADMIN.toString())){
		<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        	Doctors
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="@routes.MednetworkAdminController.getSpecializationList()">Specializations</a></li>
            <li><a href="@routes.MednetworkAdminController.getMasterProductForm()">Add Master Product</a></li>
             <li><a href="@routes.MednetworkAdminController.getMasterDiagnosticTestForm()">Add Master Diagnostic Test</a></li>
             <li><a href="@routes.MednetworkAdminController.getMasterSigCodeForm()">Add Master SigCode</a></li>
          </ul>
        </li>
        
       <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Admin
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
          <li><a href="@routes.MednetworkAdminController.getFeedbackList()">Feedback</a></li>
          <li><a href="@routes.MednetworkAdminController.getPrimaryCitiesList()">Primary Cities</a></li>
          </ul>
        </li>
        <li class="dropdown">
          	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
          	Purge
          	<b class="caret"></b></a>
          	<ul class="dropdown-menu">
          	<li><a href="@routes.MednetworkAdminController.purgeDoctor()">Doctor</a></li>
          	<li><a href="@routes.MednetworkAdminController.purgePharmacy()">Pharmacy</a></li>
          	<li><a href="@routes.MednetworkAdminController.purgeDiagnosticCentre()">Diagnostic Centre</a></li>
          	</ul>
        	</li>
        
		}
		
		
	
		
		@if(LoginController.getLoggedInUserRole().equals(Role.PATIENT.toString())){
		
		<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        	Doctors
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="@routes.PublicController.searchDoctorsPage()">Search Doctors</a></li>
            <li><a href="@routes.PatientController.myFavouriteDoctors()">My Doctors</a></li>
           @* <li class="divider"></li>
            <li><a href="">Schedule an Appointment</a></li>*@
            <li><a href="@routes.PatientController.viewMyAppointments()">Appointments</a></li>
            <li><a href="@routes.PatientController.viewAllPatientPrescriptions()">Prescriptions</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
         	Clinics
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
	            <li><a href="@routes.PublicController.searchClinics()">Search Clinics</a></li>
	            <li><a href="@routes.PatientController.getFavoriteClinics()">My Clinics</a></li>
          </ul>
        </li>
        @*<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Prescriptions
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
	           	<li><a href="@routes.PatientController.viewAllPatientPrescriptions()">All Prescriptions</a></li>
	           </ul>*@
       <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Pharmacies
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
	            <li><a href="@routes.PublicController.searchPharmaciesPage()">Search Pharmacies</a></li>
	            <li><a href="@routes.PatientController.patientFavoritePharmacies()">My Pharmacies</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Diagnostic Centres
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
	           	<li><a href="@routes.PublicController.searchDiagnosticPage()">Search Diagnostic Centres</a></li>
	            <li><a href="@routes.PatientController.patientFavoriteDiagnosticCentres()">My Diagnostic Centres</a></li>
	             <li class="divider"></li>
            	<li><a href="@routes.PatientController.viewDiagnosticReports()">Diagnostic Reports</a></li>
	           </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
         Trackers
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
	           	<li><a href="@routes.TrackerController.appUserWeightTracker()">Weight Tracker</a></li>
	           	<li><a href="@routes.TrackerController.appUserBpTracker()">BloodPressure Tracker</a></li>
	           	<li><a href="@routes.TrackerController.sugarTracker()">Sugar Tracker</a></li>
	           		<li><a href="@routes.PatientController.getPatientBloodDonationInfo()">Blood Donation Tracker</a></li>
	          </ul>
	    </li>
        @*
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Prescriptions
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="">Prescriptions</a></li>
            <li><a href="">Diagnostic Reports</a></li>
          </ul>
        </li>
       <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Diagnostic Centers
          <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="/diagnostic-search">search Diagnostic Center</a></li>
            <li><a href="/patient/my-diag-centers">My Diagnostic Centers</a></li>
            
          </ul>
          </li>
          *@
          
		}
		
		

		@if(LoginController.getLoggedInUserRole().equals(Role.ADMIN_PHARMACIST.toString())){
		@*
		<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Orders
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/order">Order Entry</a></li>
            <li class="divider"></li>
            <li><a href="/place-product-order">Place Order</a></li>
          </ul>
        </li>			
		
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Pharmacy
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/edit-pharmacy-details">Edit Pahrmacy Details</a></li>
            <li><a href="/upload-pharmacy-images">Upload Image</a></li>
           
            <li class="divider"></li>
            <li><a href="/searchProduct">Add Product to Inventory</a></li>
          </ul>
        </li>
        
       <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Inventory
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
          
            <li><a href="@routes.PharmacistController.addPharmacyProduct()">Create Pharmacy product</a></li>
             <li><a href="@routes.PharmacistController.getPharmacyProducts()">View Pharmacy products</a></li>
            </ul>
        </li>
        *@
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Prescriptions
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
	       	<li><a href="@routes.PharmacistController.viewTodaysPrescriptions()">Today's Prescriptions</a></li>
	       	<li><a href="@routes.PharmacistController.pharmacyPrescriptionList()">All Prescriptions</a></li>
            </ul>
        </li>
        @*<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				        Orders <b class="caret"> </b></a>
          <ul class="dropdown-menu">
          
            <li><a href="@routes.PharmacistController.placePharmacyOrder()">place Order</a></li>
            </ul>
        </li>*@
		}
		
		
			@if(LoginController.getLoggedInUserRole().equals(Role.DOCTOR.toString())){
        
		<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Appointments
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
	            <li><a href="@routes.DoctorController.viewTodaysAppointments()">Today's Appointments</a></li>
	            <li><a href="@routes.DoctorController.viewAllAppointments()">All Appointments</a></li>
          </ul>
        </li>
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Prescriptions
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
	            <li><a href="@routes.DoctorController.viewTodaysPrescription()">Todays Prescriptions</a></li>
	            <li><a href="@routes.DoctorController.viewAllPrescription()">All Prescriptions</a></li>
   			
   			@*
   			<li class="divider"></li>
	            <li><a href="@routes.DoctorController.showSigCodes()">Sig Codes</a></li>
	        *@    
	            
          </ul>
        </li>
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Clinics
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
	            <!--
	            <li><a href="">Search Clinics</a></li>
	            -->
	            <li><a href="@routes.DoctorController.myClinics()">My Clinics</a></li>
	            <li><a href="@routes.DoctorController.newClinic()">Add a Clinic</a></li>
    	        <!--
    	        <li><a href="">New Assistant</a></li>
    	        -->
          </ul>
        </li>
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Pharmacies
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
	            <li><a href="@routes.PublicController.searchPharmaciesPage()">Search Pharmacies</a></li>
	            <li><a href="@routes.DoctorController.myFavoritePharmacies()">My Pharmacies</a></li>
    	        <!--
    	        <li><a href="">New Assistant</a></li>
    	        -->
          </ul>
        </li>
             
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Diagnostic Centres
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
	            <li><a href="@routes.PublicController.searchDiagnosticPage()">Search Diagnostic Centre</a></li>
	            <li><a href="@routes.DoctorController.myFavoriteDiagnosticCentres()">Favorite Diagnostic Centres</a></li>
    	        <!--
    	        <li><a href="">New Assistant</a></li>
    	        -->
          </ul>
        </li>
        
        }    
        
       @if(LoginController.getLoggedInUserRole().equals(Role.ADMIN_MR.toString()) || LoginController.getLoggedInUserRole().equals(Role.MR.toString())){
         @if(LoginController.getLoggedInUserRole().equals(Role.ADMIN_MR.toString())){
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
         User
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="@routes.MRController.addMR()">Add Medical Representative</a></li> 
            <li><a href="@routes.MRController.mrList()">View Medical Representative</a></li> 
            <li><a href="@routes.MRController.viewHierarchy()">Medical Representative Hierarchy</a></li>           
          </ul>
        </li> 
       
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
         Geography
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
             <li><a href="@routes.MRController.headQuarter()">Headquarters</a></li> 
            <li><a href="">Fieldstations</a></li>            
          </ul>
        </li>         
        }
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Doctors
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/mr/search-doctor-list">Search Doctor</a></li>
            <li><a href="/mr/doctor-list">My Doctor</a></li>
            <li><a href="/mr/schedule-appointment ">Schedule Appointment</a></li>
          </ul>
        </li>
        
    
     <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Phamacies
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
             <li><a href="">List</a></li>
          </ul>
        </li>
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          product
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/mr/new-product">Create New Product</a></li>
            <li><a href="/view-products">View All Product</a></li>
          </ul>
        </li>
 
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Question Answer
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/questionform">Ask Question</a></li>
            <li><a href="/answerform">See all Question</a></li>
          </ul>
        </li>
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          DCR
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="@routes.MRController.listDCR()">DCR List</a></li>
           
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Tour Plan
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="@routes.MRController.tourPlan()">Monthly Tour Plan</a></li>
            @if(LoginController.getLoggedInUserRole().equals(Role.ADMIN_MR.toString())){
            <li><a href="@routes.MRController.tpLineItemVisibility()">TourPlanLineItemVisibility</a></li>
            }
          </ul>
        </li>
        @if(LoginController.getLoggedInUserRole().equals(Role.ADMIN_MR.toString())){
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Designation
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="@routes.MRController.addDesignation()">Add Designation</a></li>
            <li><a href="#">Designation List</a></li>
          </ul>
        </li>
        }
        }
        
    	@if(LoginController.getLoggedInUserRole().equals(Role.ADMIN_DIAGREP.toString())){
         
         @*
         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Diagnostic Centre
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
          <li><a href="/diagnosticlist">View Profile</a></li> 
            <li><a href="@routes.DRController.addDiagRep()">Add Diagnostic Representative</a></li> 
            <li><a href="/diagnosticrep/list">All Diagnostic Representatives</a></li>   
          </ul>
        </li> 
         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Diagnostic Tests
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
          <li><a href="/test">Add Diagnostic Test</a></li> 
            <li><a href="/diagnostic-test-list">All Diagnostic Tests</a></li> 
            
          </ul>
        </li> 
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Diagnostic Orders
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
          <li><a href="/display-orders">View Diagnostic Orders</a></li> 
            <li><a href="patient-search">Search Patient</a></li> 
            
          </ul>
        </li> 
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
         Geography
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="@routes.MRController.headQuarter()">Headquarters</a></li> 
            <li><a href="">Fieldstations</a></li>            
          </ul>
        </li>         
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle"data-toggle="dropdown">
          Doctors
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/diagnosticrep/doctor-search">Search Doctor</a></li>
            <li><a href="/diagnostic-centre/all-doctors">View Doctors</a></li>
            
          </ul>
        </li>
        
        *@
         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Prescriptions
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
          <li><a href="@routes.DiagnosticController.TodaysDiagnosticPrescriptions()">Today's Prescriptions</a></li>
          <li><a href="@routes.DiagnosticController.getDiagnosticCentrePrescriptions()">All Prescriptions</a></li>
          </ul>
        </li> 

        }
@if(LoginController.getLoggedInUserRole().equals(Role.CLINIC_ADMIN.toString())){
		
		<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        	Doctors
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="@routes.ClinicController.searchDoctorsByEmail()">Invite Doctors</a></li>
            <li><a href="@routes.ClinicController.getDoctors()">View Doctors</a></li>
             </ul>
        </li>
        }    
    	@if(LoginController.getLoggedInUserRole().equals(Role.BLOOD_BANK_ADMIN.toString())){
		
		<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        	Donors
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
          <li><a href="@routes.BloodBankController.getBloodDonorByEmailForm()">Save Blood Donor</a></li>
          <li><a href="@routes.BloodBankController.listBloodBankBloodDonors()">My Blood Donors</a></li>
            <li><a href="@routes.BloodBankController.getBloodDonorsInCityForm()">All Blood Donors</a></li>
            </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        	Blood Donation
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
           <li><a href="@routes.BloodBankController.fromToDateBloodDonationsForm()">View Blood Donations</a></li>
            <li><a href="@routes.BloodBankController.receivedBloodDonorFrom()">Received Blood</a></li>
             </ul>
        </li>
        }  
    	<!--
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
			Report
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
          	<li><a href="">Expenditure Reports</a></li>
            <li><a href="">Prescription Reports</a></li>
		    <li><a href="">Doctor Reports</a></li>     
            <li><a href="">Pharmacy Reports</a></li>
          </ul>
        </li>
         -->

}
</ul>
   	  
   	  	@*
		<form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default btn-sm">Submit</button>
		</form>
		*@
		
		<ul class="nav navbar-nav navbar-right">
		@if(LoginController.isLoggedIn()) {
	
		<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">@LoginController.getLoggedInUser().name <b class="caret"></b></a>
		<ul class="dropdown-menu">
			<!--
			<li><a href="/user/preferences"><i class="fa fa-gears"></i>&nbsp;&nbsp;Preferences</a></li>
			<li><a href="/doctor-profile"><i class="fa fa-gears"></i>&nbsp;&nbsp;My Profile</a></li>
			-->
			@if(!LoginController.getLoggedInUser().emailConfirmed || !LoginController.getLoggedInUser().mobileNumberConfirmed){
				<li><a href="@routes.UserController.confirmAppUserPage()"><i class="fa fa-check-square-o"></i>&nbsp;&nbsp;Confirm Details</a></li>
			}
			
			@if(!LoginController.getLoggedInUserRole().equals(Role.DOCTOR.toString())){			
			<li><a href="@routes.UserController.editAppUserProfile()"><i class="fa fa-user"></i>&nbsp;&nbsp;My Profile</a></li>
			}
			<li><a href="@routes.LoginController.editPassword()"><i class="fa fa-lock"></i>&nbsp;&nbsp;Change Password</a></li>
			<li class="divider"></li>
			<li><a href="@routes.LoginController.processLogout()"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;Logout</a></li>
		</ul>
		</li>
		} else {
			@helper.form(action=routes.LoginController.processLogin()) {
  				<div class="row" style="margin-top:3px;">
  					<div class="col-md-5">
  						<input id="uname" type="email" name="email" placeholder="Email" style="width:100%" required>
  					</div>
  					<div class="col-md-5">
  						<input type="password" id="pwd" name="password" placeholder="Password" style="width:100%" required>
  						<a href="@routes.LoginController.forgotPassword()" style="color:#292929; font-size:12px"><b>Forgot password ?</b></a>
      				</div>
     				<div class="col-md-2">
          				<input type="submit" class="btn btn-sm btn-success" value="Sign in" style="">
      				</div>
  				</div>
  				}
  				<script>
					$('#uname').on('blur', function(){
						$('#pwd').focus();
					});
  				</script>
			}
		
		</ul>
   	  
   	  
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


