@()
@import play.i18n._
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="@routes.UserActions.dashboard()">@Messages.get("MedNetwork")</a>
    </div> 
     <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <ul class="nav navbar-nav">
    
		
		@if(LoginController.getLoggedInUserRole().equals(Role.PATIENT.toString())){
		<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Doctors
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="">Search Doctors</a></li>
            <li><a href="">My Doctors</a></li>
            <li class="divider"></li>
            <li><a href="@routes.PatientController.scheduleAppointment()">Schedule an Appointment</a></li>
          </ul>
        </li>
        <li><a href="">Today</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Prescriptions
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="">Prescriptions</a></li>
            <li><a href="">Diagnostic Reports</a></li>
          </ul>
        </li>
		}
		
		

		@if(LoginController.getLoggedInUserRole().equals(Role.ADMIN_PHARMACIST.toString())){
		<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Orders
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="">Products</a></li>
            <li><a href="">Create new product</a></li>
            <li class="divider"></li>
            <li><a href="">Add Product to Inventory</a></li>
          </ul>
        </li>	
		
		
		
		
		<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Inventory
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/products">Products</a></li>
            <li><a href="/newProduct">Create new product</a></li>
            <li class="divider"></li>
            <li><a href="/addProductToInventory">Add Product to Inventory</a></li>
          </ul>
        </li>
        
       
		}
		
		
		@if(LoginController.getLoggedInUserRole().equals(Role.DOCTOR.toString())){
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Appointments
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="">Today</a></li>
            <li><a href="">All</a></li>
          </ul>
        </li>
    
    	<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Prescriptions
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
    	        <li><a href="">List</a></li>
          </ul>
        </li>
	
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Clinics
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
	            <li><a href="">Search Clinics</a></li>
	            <li><a href="@routes.DoctorController.myClinics()">My Clinics</a></li>
	            <li><a href="@routes.DoctorController.newClinic()">Add a Clinic</a></li>
    	        <li><a href="@routes.DoctorController.newAssistant()">New Assistant</a></li>
          </ul>
        </li>
        }
        
        
        
        @if(LoginController.getLoggedInUserRole().equals(Role.ADMIN_MR.toString())){
         
         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Medical Representatives
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="@routes.MRController.addMR()">Add Medical Representative</a></li> 
            <li><a href="">View Medical Representative</a></li>            
          </ul>
        </li> 
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
         Geography
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="@routes.MRController.headQuarter()">Headquarters</a></li> 
            <li><a href="">Fieldstations</a></li>            
          </ul>
        </li>         
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Doctors
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/doctor-list">Search Doctor</a></li>
            <li><a href="/mr/doctor-list">My Doctor</a></li>
            <li><a href="">Schedule Appointment</a></li>
          </ul>
        </li>
        
    
    	<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Phamacies
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
    	        <li><a href="">List</a></li>
          </ul>
        </li>
	
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Question Answer
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/questionform">Ask Question</a></li>
            <li><a href="/answerform">See all Question</a></li>
          </ul>
        </li>
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          DCR
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/dcr-line-item">DCR</a></li>
           
          </ul>
        </li>
        }
    	@if(LoginController.getLoggedInUserRole().equals(Role.ADMIN_DIAGREP.toString())){
         
         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Diagnostic Representatives
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="@routes.DRController.addDiagRep()">Add Diagnostic Representative</a></li> 
            <li><a href="/diagnosticrep/list">View Diagnostic Representative</a></li>            
          </ul>
        </li> 
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
         Geography
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="@routes.MRController.headQuarter()">Headquarters</a></li> 
            <li><a href="">Fieldstations</a></li>            
          </ul>
        </li>         
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Doctors
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/diagnosticrep/doctor-search">Search Doctor</a></li>
            <li><a href="/diagnosticrep/doctor-list">View Doctors</a></li>
            
          </ul>
        </li>
        }
    
    
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
			Report
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
          	<li><a href="">Expenditure Reports</a></li>
            <li><a href="">Prescription Reports</a></li>
		    <li><a href="">Doctor Reports</a></li>     
            <li><a href="">Pharmacy Reports</a></li>
          </ul>
        </li>
        

   	  </ul>
   	  <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default btn-sm">Submit</button>
      </form>
   	  
   	  
   	  <ul class="nav navbar-nav navbar-right">
		@if(LoginController.isLoggedIn()) {
		<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">@LoginController.getLoggedInUser.name <b class="caret"></b></a>
		<ul class="dropdown-menu">
			<li><a href="/user/preferences"><i class="fa fa-gears"></i>&nbsp;&nbsp;Preferences</a></li>
			<li class="divider"></li>
			<li><a href="/change-password"><i class="fa fa-lock"></i>&nbsp;&nbsp;Change Password</a></li>
			<li><a href="/logout"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;Logout</a></li>
		</ul>
		</li>
		} else {
			<li><a href="/login">Login</a></li>
		}
	</ul>
   	  
   	  
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


