@* registerPatient Template File *@
@(dataForm:play.data.Form[beans.PatientBean])
@import helper.twitterBootstrap._

@main("Patient Form"){
@helper.form(action=routes.DoctorController.registerPatientProccess(),'method -> "post") {


			
			@helper.inputText(dataForm("name"),'class -> "inputs",'_label->"Name")
			
			
			@helper.inputText(dataForm("username"),'class -> "inputs",'_label->"Username")
			
			@helper.inputText(dataForm("email"),'class -> "inputs",'_label->"Email")
			
			@helper.inputPassword(dataForm("password"),'class -> "inputs",'_label->"Password")
			
			@helper.inputText(dataForm("gender"),'class -> "inputs",'_label->"Gender")
						
			@helper.inputText(dataForm("age"),'class -> "inputs",'_label->"Age")
			
			
			@helper.inputText(dataForm("mbno"),'class -> "inputs",'_label->"mb no")
			
			@helper.inputText(dataForm("dob"),'class -> "inputs",'_label->"DOB")
			
			@helper.inputText(dataForm("address"),'class -> "inputs",'_label->"Address")
			
			
			@helper.inputText(dataForm("disease"),'class -> "inputs",'_label->"Disease")
						
			@helper.inputText(dataForm("appointmentId"),'class -> "inputs",'_label->"AppointmentId")
			
			
			@helper.inputText(dataForm("doctorAvailability"),'class -> "inputs",'_label->"Doctor Availability")
			
			@helper.inputText(dataForm("isUrgentPatient"),'class -> "inputs",'_label->"Is Urgent Patient")
			
			
						
			
			
			<br>
			<input type="hidden" name="id" value='@dataForm("id").value' >
			<input type="submit" class="submit" value="Login">
			
				
			}
			
}
