@* scheduleAppointment Template File *@
@(message: String)

@blank("Schedule Appointment") {



	<div class="control-group ">
            <label class="control-label">Patient's Name</label>
            <div class="controls">
                <div class="input-prepend">
                <span class="add-on"><i class="icon-user"></i></span>
                    <input type="text" class="input-xlarge" id="username" name="patientname" placeholder="username Name">
                </div>
            </div>
        </div>
                
                <div class="control-group ">
            <label class="control-label">Doctor</label>
            <div class="controls">
                <div class="input-prepend">
                <span class="add-on"><i class="icon-user"></i></span>
                    <input type="text" class="input-xlarge" id="username" name="docname" placeholder="username Name">
                </div>
            </div>
        </div>
                
<div class="control-group ">
            <label class="control-label">Clinic</label>
            <div class="controls">
                <div class="input-prepend">
                <span class="add-on"><i class="icon-user"></i></span>
                    <input type="text" class="input-xlarge" id="username" name="clinic" placeholder="username Name">
                </div>
            </div>
        </div>

			
			<div class="control-group ">
            <label class="control-label">Appointment Date</label>
            <div class="controls">
                <div class="input-prepend">
                <span class="add-on"><i class="icon-user"></i></span>
                    <input type="date" class="input-xlarge" id="username" name="appdate" placeholder="username Name">
                </div>
            </div>
        </div>
			
		
			
			
			
		
				<input type="submit" class="submit" value="Save">
									
	
	
	}
