@* scheduleAppointment Template File *@
@(dataForm:play.data.Form[models.Appointment])


	
	
	
  
@main("Appointment"){

 
  @helper.form(action=routes.AppointmentController.process(),'method -> "post") {
   
			@helper.inputDate(dataForm("date"),'class -> "date",'_label->"From")


  				 <input class="mini" type="datetime_local" name="starttime" value="12:00am" />
                to
                <input class="mini" type="datetime_local" name="endtime" value="11:59pm" />
   
   
   
       
   @helper.select(dataForm("appointmentStatus"),options=helper.options(AppointmentStatus.options),'class -> "inputs chzn",'_label->"Appointment Status")
   
   @helper.inputText(dataForm("remarks"),'class -> "inputs",'_label->"Remarks")
   
<br>
   <input type="hidden" name="id" value='@dataForm("id").value' >
   <input type="submit" class="submit" value="Login">
   

  }
  }