@* scheduleAppointment Template File *@
@(dataForm:play.data.Form[models.Appointment])

@main("Schedule Appointment"){
	
	<br>
<div class="container">
@helper.form(action=routes.AppointmentController.process(),'method -> "post") {


			
			@helper.inputDate(dataForm("from"),'class -> "date",'_label->"From")
			
			
			@helper.inputDate(dataForm("to"),'class -> "date",'_label->"To")
			
							
			@helper.select(dataForm("appointmentStatus"),options=helper.options(AppointmentStatus.options),'class -> "inputs chzn",'_label->"Appointment Status")
			
			@helper.inputText(dataForm("remarks"),'class -> "inputs",'_label->"Remarks")
			
			@helper.inputText(dataForm("references"),'class -> "inputs",'_label->"References")
			
			
			
			<br>
			<input type="hidden" name="id" value='@dataForm("id").value' >
			<input type="submit" class="submit" value="Login">
			
				
			}
			
			

	
	</div>
	}