@(map: Map[String,String])
@main("Diagnostic Representatives List") {
<table class="table table-bordered">
<thead>
<tr>
<th>
Services
</th>
<th>
Cost
</th>
</tr>
</thead>
<tbody>
@for((ser,cost)<- map){
<tr>
<td>
@ser
</td>
<td>
@cost
</td>
<th>
@*<a href="/diagnostic-edit/@dc.appUser.id" class="btn btn-xs btn-success">Edit</a>


<a href="/diagnostic-delete/@dc.appUser.id" class="btn btn-xs btn-success">Delete</a>*@
<a href="#" class="btn btn-xs btn-success">Get Appointment</a>

</th>
</tr>
}
</tbody>
</table>
}