@(diagnosticCentrePrescriptionInfos: List[models.diagnostic.DiagnosticCentrePrescriptionInfo],status: String,check: Boolean)
@main("Diagnostic Order List") {

<div class="row col-md-12">


@*
<div class="col-md-2">
  <select class="chzn" id="status-select" style="width:50%;">
<option></option>
<option value="any" @if(status.trim.toLowerCase().compareTo("any")==0){selected}>Any</option>
<option value="received" @if(status.trim.toLowerCase().compareTo("received")==0){selected}>Received</option>
@*<option value="confirmed" @if(status.trim.toLowerCase().compareTo("confirmed")==0){selected}>Confirmed</option>
<option value="cancelled" @if(status.trim.toLowerCase().compareTo("cancelled")==0){selected}>Cancelled</option> * @
<option value="served" @if(status.trim.toLowerCase().compareTo("served")==0){selected}>Served</option>
</select>
<script>
$('#status-select').on('change', function(){
  var setValue = $('#status-select').val();
  window.location.href='/diagnostic/prescriptions?status='+setValue;  
});

</script>
</div>
*@

@if(check==true){
   <div class="col-md-12">
   <form action="@routes.DiagnosticController.getFromToDatePrescriptions()" method="POST">
   	<div class="col-md-3 form-group">
    <label for="from" class="col-md-3 control-label" style="padding-top:10px">From</label>
    <div class="col-lg-9">
      <input type="date" name="from" class="form-control" id="from" placeholder="From Date">
      </div>
    </div>
    <div class="col-md-3 form-group">
    <label for="to" class="col-md-3 control-label" style="padding-top:10px" >To</label>
    <div class="col-lg-9">
      <input type="date" name="to" class="form-control" id="to" placeholder="To Date">
      </div>
    </div>
    
    <div class="col-md-3 form-group">
    <label for="to" class="col-md-3 control-label" style="padding-top:0px" >Order Status</label>
    <div class="col-lg-9">
    	<select class="chzn" name="status" style="width:100%;" data-placeholder="Select Status">
			<option></option>
			<option value="any" @if(status.trim.toLowerCase().compareTo("any")==0){selected}>Any</option>
			<option value="RECEIVED" @if(status.trim.toLowerCase().compareTo("received")==0){selected}>Received</option>
			<option value="SERVED" @if(status.trim.toLowerCase().compareTo("served")==0){selected}>Served</option>
		</select>
	</div>
    </div>
    
    <div class="col-md-3">
      <input type="submit" class="btn btn-primary btn-sm" value="Search Prescriptions">
    </div>
    </form>
    </div>
    }
</div>

<br><br><br>
<div class="row">
<div class="col-md-1"></div>
<div class="col-md-10">
<table class="table table-striped table-bordered" style="vertical-align:center">
<tr>
<th style="text-align:center;">S No</th>
<th style="text-align:center;"> Doctor</th>
<th style="text-align:center;"> Patient</th>
<th style="text-align:center;"> Tests</th>
<th style="text-align:center;"> Status</th>
<th style="text-align:center;"> Action</th>
</tr>
@for((diagnosticCentrePrescriptionInfo,index) <- diagnosticCentrePrescriptionInfos.zipWithIndex) {
<tr>
<td>
@{index+1}
</td>
<td>
Dr. @diagnosticCentrePrescriptionInfo.prescription.doctor.appUser.name
</td>
<td>
@diagnosticCentrePrescriptionInfo.prescription.patient.appUser.name<br>
(@diagnosticCentrePrescriptionInfo.prescription.patient.getSexAndAge())<br>
@diagnosticCentrePrescriptionInfo.prescription.patient.appUser.mobileNumber
</td>
<td>
@for((diagnosticTestLineItem,index) <- diagnosticCentrePrescriptionInfo.prescription.diagnosticTestLineItemList.zipWithIndex) {
@{index+1}. @diagnosticTestLineItem.fullNameOfDiagnosticTest<br>
}
</td>
<td>
<span class="badge" style=""><b>@diagnosticCentrePrescriptionInfo.diagnosticCentrePrescritionStatus</b></span>
@if(diagnosticCentrePrescriptionInfo.diagnosticCentrePrescritionStatus.equals(models.diagnostic.DiagnosticCentrePrescritionStatus.RECEIVED)){
	<br><br>
Mark as <a href="@routes.DiagnosticController.orderServed(diagnosticCentrePrescriptionInfo.id)" class="" ><b>Served</b></a>
}
</td>
<td>
<a href="@routes.DiagnosticController.viewOrderedTest(diagnosticCentrePrescriptionInfo.id)" class="btn btn-xs btn-default">All Tests</a>

</td>
}
</tr>
</tbody>
</table>
</div>
</div>
}
