@(diagnosticCenter: models.diagnostic.DiagnosticCentre,patient: models.patient.Patient)
@main("Diagnostic Centre Profile") {
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="row clearfix">
				<div class="col-md-4 column">
					<img class="img-thumbnail" alt="140x140" src="http://lorempixel.com/140/140/" />
				</div>
				<div class="col-md-4 column">
					 <address> <strong>@diagnosticCenter.name</strong><br /> @diagnosticCenter.address<br /><abbr title="Phone">@diagnosticCenter.mobileNo</abbr><br />@diagnosticCenter.emailId</address>
				</div>
			</div>
		</div>
	</div>

	<h2><b><i>Services Available</i></b></h2><br>
	
	@*
	<div class="row clearfix">
		<div class="col-md-12 column">	
			<table class="table table-bordered table-hover">
					<thead>
					<tr>
						<th>Select</th>
						<th>Name</th>
						<th>Description</th>
						<th>Price</th>			
					</tr>
					</thead>
					<tbody>
						@for(dt <-diagnosticCenter.diagnosticTestList) {
						<tr>
							<td><input type="checkbox" name="diagnosticTestIds" value="@dt.id"/></td>
							<td>@dt.name</td>
							<td>@dt.description</td>
						</tr>
						}
					</tbody>
			</table>
			
			<input type="hidden" name="diagnosticCentreId" value='@diagnosticCenter.id' >
			@if(patient != null){
			<input type="hidden" name="pateintId" value='@patient.id' >
			}
			<!--
			<a href="/place-order/@diagnosticCenter.id" class="btn btn-xs btn-default">place order</a>
			-->
			<input type="submit" name="submit" value="place order">
			
		</div>
	</div>
	*@
	
</div>

}
