@(diagnosticCentrePrescriptionInfo: models.diagnostic.DiagnosticCentrePrescriptionInfo)
@main("Diagnostic Order List") {
<table class="table table-bordered">
<thead>
<tr>
<th>
SNo
</th>
<th>
Test
</th>
</tr>
</thead>

<tbody>

@for((diagnosticTestLineItem,index) <- diagnosticCentrePrescriptionInfo.prescription.diagnosticTestLineItemList.zipWithIndex) {
<tr>
<td>
@{index+1}
</td>
<td>
@diagnosticTestLineItem.fullNameOfDiagnosticTest
</td>

@*
<span style="padding-right:20px">@diagnosticReport.reportStatus</span>
@if(diagnosticCentrePrescriptionInfo.reportStatus.equals(models.diagnostic.DiagnosticReportStatus.SAMPLE_NOT_COLLECTED)){
<a href="@routes.DiagnosticController.sampleCollected(diagnosticOrder.id,diagnosticReport.id)" class="btn btn-xs btn-default">Sample Collected</a>
}
</td>

<th>
@if(!diagnosticCentrePrescriptionInfo.reportStatus.equals(models.diagnostic.DiagnosticReportStatus.REPORT_READY)){
<a href="@routes.DiagnosticController.uploadDiagnosticReport(diagnosticOrder.id,diagnosticReport.id)" class="btn btn-xs btn-default">Upload Report</a>
}*@
<th>
<a href="@routes.DiagnosticController.uploadDiagnosticReport(diagnosticCentrePrescriptionInfo.id)" class="btn btn-xs btn-default">Upload Report</a>
</th>
}
</tr>


</tbody>
</table>
}