@(flag: Boolean,searchKey: String,diagnosticCentreList  : List[models.diagnostic.DiagnosticCentre])

@import play.i18n._
@import helper.twitterBootstrap._
@import helper._

@main("Search Diagnostic Centres"){
<div class="well">
<div class="row">

<label for="searchInput">Search For</label>
<input id="searchInput" value="@searchKey"/>

<a onclick="window.location.href='/diagnostic/search/'+$('#searchInput').val().trim();" class="btn btn-xs btn-primary">Search</a>

</div>
</div>
<script>
$("#searchInput").keyup(function (e) {
    if (e.keyCode == 13) {
    	if($('#searchInput').val().trim() == ''){
        	return false;
        }
    	window.location.href='/diagnostic/search/'+$('#searchInput').val().trim();
    }
});
</script>
<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="@routes.Assets.at("javascripts/googlemaps.js")" type="text/javascript"></script>

<style>
.badge{
color:#000000;
background-color:#cccccc;
}
#coverborder {
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}
.well{
margin-bottom:0px;
}

</style>
	@if(diagnosticCentreList.size() == 0){
    @if(searchKey != "" && searchKey!= null){   
    <h5> No Diagnostic Centres available with <b>@searchKey</b></h5>
    }
}
<table class="table table-bordered">

@for((diagnosticCentre,index) <- diagnosticCentreList.zipWithIndex){
@if(index%2==0){
 <tr class="row"> 
}
<td class="col-md-6">
<div class="row" style="padding-left:20px;padding-right:20px">
<div style="cursor:pointer" onclick="location.href='@routes.PublicController.getDiagnosticCentreWithSlug(diagnosticCentre.slugUrl)';">@if(diagnosticCentre.backgroudImage != null){<img src="@routes.PublicController.getDiagnosticImages(diagnosticCentre.id,0)" width="530" height="170" />}else{<img src="/assets/images/pharmacy-default-bg-image.jpg" width="530" height="170" />}
        
        </div>

<div class="row" style="margin-top:-55px;padding-left:15px">
<div style="cursor:pointer;width:23%" onclick="location.href='@routes.PublicController.getDiagnosticCentreWithSlug(diagnosticCentre.slugUrl)';" class="col-md-3">
@if(diagnosticCentre.profileImageList.size() >0){
<img src="@routes.PublicController.getDiagnosticImages(diagnosticCentre.id,diagnosticCentre.profileImageList.get(0).id)" class="thumbnail" width="100" height="100"  />
 }else{
 <img src="/assets/images/pharmacy-default-profile-image.jpg" class="thumbnail" width="100" height="100"  />
 }
</div>
<div style="cursor:pointer;padding-left:0px;padding-top:50px;padding-right:0px;width:46%" onclick="location.href='@routes.PublicController.getDiagnosticCentreWithSlug(diagnosticCentre.slugUrl)';" class="col-md-6">
<h5><b>@diagnosticCentre.name</b></h5>
<br>
</div>
<div class="col-md-3" style="width:31%;padding-left:0px;padding-top:60px">
<a class="btn btn-primary btn-xs pull-right" href="@routes.PublicController.addDiagnosticCentreToLoggedInUser(diagnosticCentre.id)">Add to Fav</a>
</div>
</div>
<div class="row well">
<div class="col-md-5" style="padding:0px">
<h5 ><b>@diagnosticCentre.name</b></h5>
        @if(diagnosticCentre.address != null){  
        @diagnosticCentre.address.addressLine1<br>     
        @diagnosticCentre.address.area<br>
        @diagnosticCentre.address.city<br>
        @diagnosticCentre.address.state</h5>
        }
        <h5><i class="fa fa-phone-square"></i> @diagnosticCentre.mobileNo</h5>
</div>

<br>
</div>
</td>
@if(index == diagnosticCentreList.size()-1){
            </tr>
          }

}





</table>


}


